   <div id="page" class="site">
     <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<html lang="en-US">
  <head>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <section class="caseStudy_banner aos-init aos-animate">
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <%= image_tag "budegt-countertrops-min.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b;border-radius: 99px;"%>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Budget Countertops<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  Kitchen Countertops Can Be Affordable!<br>Laminate Kitchen countertops are a great DIY alternative to quartz or granite at 1/4 the price.<br>We don’t believe you should have to sacrifice the look you want to save money. At budget countertops, we have a huge selection of laminate kitchen countertops and deliver them directly to you. No middle man, no shipping, just amazing looking countertops at incredible prices.                    
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of Budget Countertops.
                </h2>
                <p class="pera">
                </p>
                <p>Everything You Wanted To Know About Laminate Countertops DIY projects can be confusing, so we work hard to make it simple. If you have any questions, our team will be happy to help.</p>
                <ul class="para_dot">
                  <li>Easy installation:- DIYers rejoice! Because laminate is lighter than other surfaces, it’s the perfect material for thrifty homeowners. We can also offer you the option of installing it ourselves for a small additional fee.</li>
                  <li>Variety of Color Options:- With dozens of options from WilsonArt, Formica and more, you’ll be sure to find a stunning look that perfectly matches your kitchen. From high definition stone patterns, textured wood-grain styles, fun retro-inspired designs and much, much more.</li>
                  <li>Environmentally Friendly:- Formica and WilsonArt laminate is Greenguard Indoor Air Quality Certified and made from FSC Wood and recycled papers.</li>
                  <li>Beautiful Edge Profiles:- Gone are the days of edge seams. We offer all the edge profiles you could want – including waterfall, beveled, bullnose and other beautifully sculpted edges that are seamless and don’t show exposed wood.</li>
                  <li>Unmatched Value:- When you add up all of the benefits of our countertops and then price them side by side with other options, you can’t beat the value!</li>
                  <li>Everyday Durability:- Today’s laminate surfaces have comparable scratch resistance to quartz and granite. While we’d recommend a trivet for any surface, Formica laminate can withstand up to 275 degrees for short periods of time!</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Into The Technologies-</h2>
                <p class="pera">
                </p>
                <p>We don’t believe you should have to sacrifice the look you want to save money. At budget countertops, we have a huge selection of laminate kitchen countertops and deliver them directly to you. No middle man, no shipping, just amazing looking countertops at incredible prices.</p>
                <p>The following solutions were implemented to address the objectives of the project:</p>
                <ul>
                  <li>Website was developed on HTML,CSS, Bootstrap and javascript.</li>
                  <li>The database we are using is Postgrace.</li>
                  <li>Backend is handle by Ruby on Rails. </li>
                  
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "budget-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
    
  </body>
  
</html>