<div id="page" class="site">
   <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <section class="caseStudy_banner aos-init aos-animate"> 	
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <%= image_tag "cialfo.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b; border-radius: 99px;"%>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Cialfo<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  We support high school students and their counselors throughout the early career exploration and college search and selection process. Read our story.                   
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of Cialfo.
                </h2>
                <p class="pera">
                </p>
                <p>We support high school students and their counselors throughout the early career exploration and college search and selection process. With our cutting-edge technology, we help students and everyone who supports them – their counselors, parents, and university recruiters - think differently about their options in an increasingly cluttered and confusing space, so they can take the best next steps towards realizing their ideal future.</p>
                <ul class="para_dot">
                  <li>Get faster access to reliable, unbiased information and resources related to colleges, courses, and scholarships</li>
                  <li>Aim higher and discover their best-fit courses and majors without the limitations of geography</li>
                  <li>Back office portal for maintenance and grievance management</li>
                  <li>Build a stronger plan for their future with the help of Cialfo’s AI-driven recommendations and guidance from expert Student Education Advisors</li>
                  <li>Project was built using Ruby on Rails with angular as frontend.</li>
                  
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Our story</h2>
                <p class="pera">
                </p>
                <p>How it started:- Though Cialfo was founded in its present form in 2017, our story goes back further, to when our CEO and Co-founder Rohan Pasari was a student himself. The confusion and dissonance he experienced while trying to find his ideal college choice would later become his inspiration for starting Cialfo along with Stanley Chia and William Hund.</p><br>
                <p>Early growth:- We have spent four years connecting with counselors and educators worldwide to deepen our understanding of their most pressing needs while building a comprehensive career exploration and college application offering to help address them.<br>By 2021, over 250,000 students and their families were using Cialfo not only to connect with counselors, but also with over 1,000 universities in 50 countries, making it a truly global community and a powerful network, too.</p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "cialfo2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
  </body>
</html>