<div id="page" class="site">
   <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <section class="caseStudy_banner aos-init aos-animate">
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <div class="img-1"><%= image_tag "gocurb.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b; border-radius: 99px;"%></div>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Gocurb<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  Gocurb is reimagining urban mobility. We are creating a comprehensive mobility platform and providing products for mobile app solutions, effortless payment, paratransit, business travel, and advertising that reaches captive audiences of millions. <br>Our solutions power over 100,000 taxis and for-hire vehicles globally and our advertising network contains over 70,000 digital and traditional assets in the US and the UK. We are veterans of the taxi and for-hire industry and experts in our fields, drawing on years of expertise to create the foundation for a scalable, efficient, intelligent, open transportation network of the future.                   
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                 Objectives.
                </h2>
                <p class="pera">
                </p>
                <p>Who We Are:- Formerly Verifone Taxi Systems, we are a fast-paced, entrepreneurial company with deep roots in the taxi and for-hire industry. Curb Mobility provides products for mobile app solutions, effortless payment, paratransit, business travel, and advertising that reaches captive audiences of millions.</p>
               <p>Our Mission:- We are creating a comprehensive mobility platform for operators to efficiently manage their vehicles and drivers, for regulators to be informed and establish guidelines, for service providers to deliver sustainable, future-proof solutions, and for riders to have an effortless transit experience.</p><br>
               <p>We are providing our US partners with opportunities to efficiently connect with audiences to meet their business goals as well as provide riders and the public with relevant local content and advertising to help them stay connected while on the go.</p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Our History.</h2>
                <p class="pera">
                </p>
                <ul>
                  <li>(1992) Metrometer 21R developed:- Amos Tamam, then founder of Metro Shop and President of TaxiTronic in New York City, led the development of the first credit card taximeter, the Metrometer 21R. </li>
                  <li>(2000) TaxiTronic outfits 3,000 taxis:- Through a successful partnership with the New York City Taxicab and Limousine Commission (TLC), TaxiTronic outfitted over 3,000 taxis with hardware to accept credit cards – a milestone in the history of NYC’s iconic taxi business.s</li>
                  <li>(2007) TaxiTronic partners with Verifone:- TaxiTronic partnered with Verifone, Inc., the global payments processor, to form Verifone Transportation Systems (VTS) and continue upgrading the taxi payment experience in New York City and beyond.</li>
                  <li>(2015) Verifone acquires Curb:- Verifone Transportation Systems acquired the Curb taxi app in 2015 to offer a viable alternative to Uber and Lyft, helping taxi drivers compete in the rapidly changing on-demand transportation field.</li>
                  <li>(2018) Curb Mobility is born:-  Verifone Transportation Systems separated from Verifone, Inc and, in February 2018, Curb Mobility was born. Today, Curb Mobility continues to lead the way in equipping taxis, riders, and business owners with the transit tools of the future, all while reimagining urban mobility in the process.</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "gocurb2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
  </body>
</html>