<div id="page" class="site">
   <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <section class="caseStudy_banner aos-init aos-animate">
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <div class="img-1"><%= image_tag "inkl.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b; border-radius: 99px;"%></div>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Inkl<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  We created inkl to solve two bedrock problems in the world today. We say “bedrock" because we see these two problems as the foundation for a much larger array of macroeconomic and social issues.                    
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of Inkl.
                </h2>
                <p class="pera">
                </p>
                <p>We’ve worked with the publishers we feature to make sure that inkl’s Premium service is highly affordable for everyone. For just 10 cents an article, you will get instant, ad-free access to the world’s best news content. And the joy of supporting these remarkable organisations.But if you’re not ready to upgrade yet, don’t sweat it. Enjoy inkl for free, for as long as you like. Filter out the news that you don’t care about, and save the stories that you do, so you can come back to them later.</p>
                <ul class="para_dot">
                  <li>Your daily news overview Morning Edition ensures you start your day well informed.</li>
                  <li>Content is only half the story. The world's best news experience is free from distraction: ad-free, clickbait-free, and beautifully designed.</li>
                  <li>Stories are ranked by proprietary algorithms based on importance and curated by real news journalists to ensure that you receive the most important stories as they break.</li>
                  <li>Get a well rounded view from multiple trusted sources and burst your filter bubble.</li>
                  <li>Fighting the pessimistic bias of the social networks, we show that not all news is bad news.</li>
                
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Our Solution.</h2>
                <p class="pera">
                </p>
                
                <ul>
                  <li>The first is that regardless of whether you live in Australia (like we do), or in Antigua, all 7 Billion of us are increasingly affected by events that take shape in other countries. Conflicts, disasters, business, politics, innovation, sport and entertainment are all now global phenomena. But too much of the news coverage you see is still local. Which is why we at inkl comb through the best news sources from around the world and try to provide a better understanding of the international news stories that you really should be aware of.</li>
                  <li>The second problem is that many of the organisations that track and report on these events are struggling financially. With their reliance on ads for revenue, many publishers face a bleak future. We want to help the world’s best news organisations so they can continue to hold corporations, governments, and individuals accountable. (Sepp Blatter, anyone?)</li>
                  
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "inkl2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
        <section class="aos-init">
          <div class="container">
            <h2 class="sectionHeadeing leave_mbt textBlue mb-1 text-md-center">Techstack.</h2>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
  </body>
</html>