<div id="page" class="site">
   <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <section class="caseStudy_banner aos-init aos-animate">
      	
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <div class="img-1"><%= image_tag "person_care.png",style: "width: 40%;position: relative;right: -11rem;border: 78px solid #f1c2a06b; border-radius: 99px;"%></div>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Person App<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  CredWorthy is a UK-centric platform that targets unsecured loans between family and friends, especially the ones with substantial APRs. CredWorthy aims to link lenders and borrowers in a contractual relationship. For this, we helped them develop a single platform where both lenders and borrowers receive guarantees regarding loans and repayments. CredWorthy has already identified a number of scenarios in which loans go awry and either party is dissatisfied.                    
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of CredWorthy.
                </h2>
                <p class="pera">
                </p>
                <p>To run a unified platform for lenders and borrowers, the whole experience on the platform is made simple and accessible. Credworthy reached out to JMW to use the power of online contract signing and open banking integrations to deliver guarantees around the contract.</p>
                <p>In order to build the desired experience on Credworthy, some high-level components were developed including:</p>
                <ul class="para_dot">
                  <li>Public website as the first point of contact</li>
                  <li>Front-end portal for users (personalized for lenders and borrowers)</li>
                  <li>Back office portal for maintenance and grievance management</li>
                  <li>Set up an open banking link provider</li>
                  <li>Establish a functional contract signing service</li>
                  <li>Integrate a payment gateway</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Our Solution.</h2>
                <p class="pera">
                </p>
                <p>With AWS as the underlying infrastructure, our team created a seamless user experience for registering, sharing, and tracking loans on Credworthy. The JMW team leveraged microservice architecture to reduce the processing time of the operations on the platform. Further, the delivery process was automated with CI/CD pipeline using Jenkins.</p>
                <p>The following solutions were implemented to address the objectives of the project:</p>
                <ul>
                  <li>Website was developed on WordPress</li>
                  <li>The account portal was set up using Angular 10</li>
                  <li>Postgres was integrated to store data for the application</li>
                  <li>Third-party integrations of TrueLayer, Stripe, eSigngenie, and Equifax were accomplished</li>
                  <li>AWS CloudWatch was used to provide a console for backend monitoring</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
        <section class="aos-init">
          <div class="container">
            <h2 class="sectionHeadeing leave_mbt textBlue mb-1 text-md-center">Techstack.</h2>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div> 
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
  </body>
</html>