<div id="page" class="site">
   <%= render 'home/header' %>
    </div >
<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
      <section class="caseStudy_banner aos-init aos-animate">
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <div class="img-1"><%= image_tag "roostify.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b; border-radius: 99px;"%></div>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px; display: none;"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Roostify<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  For far too long, the home buying journey was a cumbersome process prone to errors and frustrating starts and stops. Roostify set out to change all that. We started by developing a cutting-edge digital platform that would accelerate the process and enable lenders to do more. We also gave it configurable modules and advanced capabilities, like analytics and artificial intelligence. Together, this seamless platform created a more enjoyable experience for borrowers and lenders alike.

                  Today, Roostify helps home lenders process more than $50 billion in loans monthly. While we’ve come a long way in a decade, we believe there’s still more change to come.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of CredWorthy.
                </h2>
                <p class="pera">
                </p>
                <p>We want to simplify banking, and digitizing our mortgage and home equity process streamlines the whole lending flow and helps us customize how we engage with our customers based on their specific needs. Our customers have told us how much they appreciate the ease of uploading the required documentation as well as the reminders and email notifications that keep them informed throughout the entire process.</p>
                <ul class="para_dot">
                  <li>Public website as the first point of contact</li>
                  <li>Front-end portal for users (personalized for lenders and borrowers)</li>
                  <li>Back office portal for maintenance and grievance management</li>
                  <li>Set up an open banking link provider</li>
                  <li>Establish a functional contract signing service</li>
                  <li>Integrate a payment gateway</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">Our Solution.</h2>
                <p class="pera">
                </p>
                <p>With AWS as the underlying infrastructure, our team created a seamless user experience for registering, sharing, and tracking loans on Credworthy. The JMW team leveraged microservice architecture to reduce the processing time of the operations on the platform. Further, the delivery process was automated with CI/CD pipeline using Jenkins.</p>
                <p>The following solutions were implemented to address the objectives of the project:</p>
                <ul>
                  <li>Website was developed on Ruby On Rails</li>
                  <li>The account portal was set up using Angular 10</li>
                  <li>Postgres was integrated to store data for the application</li>
                  <li>Third-party integrations of TrueLayer, Stripe, eSigngenie, and Equifax were accomplished</li>
                  <li>AWS CloudWatch was used to provide a console for backend monitoring</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "roostify2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
  </body>
</html>
