<!DOCTYPE html>
<!-- saved from url=(0046)https://www.systango.com/casestudy/credworthy/ -->
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager -->
    <script src="./about_project_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./about_project_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./about_project_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./about_project_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./about_project_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./about_project_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script type="text/javascript" async="" src="./about_project_files/js"></script><script type="text/javascript" async="" src="./about_project_files/insight.min.js"></script><script type="text/javascript" async="" src="./about_project_files/f.txt"></script><script type="text/javascript" async="" src="./about_project_files/analytics.js"></script><script src="./about_project_files/f(1).txt"></script><script async="" src="./about_project_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script src="./about_project_files/f(2).txt" id="google_shimpl"></script><script type="text/javascript" async="" src="./about_project_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-vs3dl3wt0sr1NSmWE/o2E71r7EDd6e3fFXEmu4tyET7uqtZw1URcwd3+DYJQtrMg"></script><script async="" src="./about_project_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W5VBC5M');
    </script>
    <!-- End Google Tag Manager -->
   
    <script type="text/javascript" async="" src="./about_project_files/f(5).txt"></script>
  </head>
  <body class="inner-page group-blog hfeed postid-5584" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- eedd Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="./about_project_files/minified-plugins.min.js"></script>
    <script defer="" src="./about_project_files/api.js" async=""></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
    <script src="./about_project_files/additional-methods.min.js" async=""></script>
    <script async="" src="./about_project_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
    <div class="body-cover">
      <meta http-equiv="cache-control" content="no-cache">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="-1">
      <%= render 'home/header'%>
      <!--Start of Tawk.to Script-->
      <!--Start of Tawk.to Script-->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
     
      <!--End of Tawk.to Script-->
     
     
      <link rel="stylesheet" href="./about_project_files/case-study-credworthy.css" hreflang="en">
      <link rel="stylesheet" href="./about_project_files/font-awesome.min.css">
      <svg width="0" height="0" class="d-none">
        <symbol viewBox="0 0 22 12" xmlns="https://www.w3.org/2000/svg" id="arrow-right">
          <path d="M21.748 5.392V5.39L17.256.922a.86.86 0 0 0-1.213 1.218l3.015 3H.86a.86.86 0 1 0 0 1.72h18.2l-3.015 3a.86.86 0 1 0 1.213 1.218l4.49-4.469h.001a.86.86 0 0 0 0-1.217z"></path>
        </symbol>
      </svg>
      <section class="caseStudy_banner aos-init aos-animate">
        <div class="container-fluid">
          <div class="row" style="background-color: #ff6a006b!important;">
            <div class="col-md-6 text-center aos-init aos-animate">
              <div class="row justify-content-end overflow-hidden">
                <div class="banner-img-thumb " style="position: relative;right: 121px;"> 
                  <%= image_tag "upshift.png",style: "width: 88%;position: relative;right: -11rem;border: 78px solid #f1c2a06b;border-top-left-radius: 100px;border-top-right-radius: 100px;"%>
                  <%= image_tag "laptopBottom.svg",style: "position: relative;top: -10rem;width: 70rem;right: -114px;}"%>

                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center ">
              <div class="mobile_center">
                <h1 class="mb-4" style="position: relative;right: 69px;color: white;">Up Shift Cars<span class="dot" style="position: relative;"></span></h1>
                <p class="mb-4 " style="position: relative;right: 68px;color: white;">
                  Our mission is to eliminate car ownership, car accidents, and carbon emissions while creating living jobs and livable cities. <br>                   
                  Tell us where and when you want your car delivered via mobile app, web app, or simply text us. Book in advance, or book last minute (between 8am-6pm) and we'll be there within an hour.<br>
                  Stay in control of your day as plans change. Never wait for the train or rideshare again. Carpool with your team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class=" bgGray milestones">
        <section class="py-5">
          <div class="container">
            <h2 class="sectionHeadeing textBlue mb-3 text-md-center mb-5">
              Milestones.
            </h2>
            <div class="milestones_row">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Fully Functional Product                                
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-dark h-100 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                    <p class="text-white mb-0 text-center pera">
                      Successful Equifax integration                                
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="py-3 pt-remove aos-init">
          <div class="container ">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="sectionHeadeing textBlue ">
                  Objective Of Upshift cars.
                </h2>
                <p class="pera">
                </p>
                <p>Stay in control of your day as plans change. Never wait for the train or rideshare again. Carpool with your team.</p><br>
                <p>The online cab booking system has struck a chord with smartphone users worldwide.
                    Due to increasing demand, this is a good time for developers to build online cab booking apps like Upshift cars.</p>
                <ul class="para_dot">
                  <li>Green cars: We put the greenest cars we can on our platform, starting with hybrids and transitioning to electric cars over time.</li>
                  <li>Fewer cars: We maximize the usage of our fleet so the most people can get access to a car when they need one with the least amount of resources like cars or parking spaces. We’re reclaiming cities from cars and giving our streets back to people.</li>
                  <li>Clean operations: We use the greenest cleaning supplies we can find which are natural, non-toxic, biodegradable and/or waterless and our team uses bicycles to do our operations.</li>
                  <li>Safe cars: Our fleet is connected and has the latest advanced driver assistance systems to reduce the risk of accidents and keep you, our team, and our community safe.</li>
                  <li>EDignified work: We hire our delivery team as employees, provide far above minimum wage salaries plus benefits, treat everyone as core team members, and train them to drive safely and respectfully. We have an intolerance for intolerance.</li>
                  <li>Integrate a payment gateway</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="involvement_main align_center py-5 aos-init">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-center side_view">
                <div class="row justify-content-end overflow-hidden">
                  <%= image_tag "Credworthy-Our-Involvement-1.png"%>   
                </div>
              </div>
              <div class="col-md-6 extra-pl">
                <h2 class="sectionHeadeing textBlue ">How we help IBM</h2>
                <p class="pera">
                </p>
                <p>One of IBM’s design teams needs to be in San Jose once a week. Instead of taking rideshare and Caltrain, they now use Upshift. Each member now saves 8 hours of travel time and $150 every month saving them over $35,000/year on just one small team.</p>
                <p>"Upshift has made commuting from the city to silicon valley more convenient for my team. Instead of Ubering to the Caltrain, waiting for the train, then Ubering again to our final destination, we are able to drive at our own convenience. No need to figure out train schedules again!”
                 </p>
                <ul>
                  <li>Convenience: Tell us where and when you want your car delivered via mobile app, web app, or simply text us. We bring your car right to your door, clean and gassed up for your drive.</li>
                  <li>Flexibility: Meeting running late? Stuck in traffic? No problem. With valet delivery and pick-up anywhere in our San Francisco zone, you can get the car at the office and return it from your home.</li>
                  <li>Concierge Service: Never be surprised getting a car with low gas or a coffee cup left behind by other members. We gas and clean between every trip.</li>
                  <li>Account management: Manage and track all your employees’ usage and expense reporting.</li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section class="color_stamp py-sm-5 py-3 aos-init">
          <div class="">
            <div class="container">
              <div class="laptopFrame">
                <div class="laptopscreen">
                  <div class="caseStudyslider caseStudy-owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2373px, 0px, 0px); transition: all 1s ease 0s; width: 6328px;">
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item active" style="width: 791px;"><%=image_tag "upshift2.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-4.png"%></div>
                        <div class="owl-item" style="width: 791px;"><%= image_tag "slide-1-2.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-3.png"%></div>
                        <div class="owl-item cloned" style="width: 791px;"><%= image_tag "slide-2.png"%></div>
                      </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="f"></i></button><button type="button" role="presentation" class="owl-next"><i class=""></i></button></div>
                    <div class="owl-dots disabled"></div>
                  </div>
                </div>
                <div class="laptopBottom">
                  <%= image_tag "laptopBottom.svg",class: "img-fluid"%>
                </div>
              </div>
          </div>
        </section>
      </div>
      <style>
    .caseStudyslider .owl-stage .owl-item {
    height: 89%;
    }
      </style>
     
      <%= render 'home/footer'%>
      <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./about_project_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
    </div>
    <ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled">
      <div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./about_project_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div>
    </ins>
    <script src="./about_project_files/jquery-ui.min.js"></script>
    <script src="./about_project_files/jquery.ui.touch-punch.min.js"></script>
    <!-- Mainly scripts -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="./about_project_files/isotope.pkgd.min.js"></script>
    <script src="./about_project_files/script.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="<//?php echo get_template_directory_uri() ?>/css/jquery.auto-complete.css"> -->
    <link rel="stylesheet" href="./about_project_files/jquery-ui.css">
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="./about_project_files/jquery-ui.min(1).js"></script>
    <!-- <script src="<//?php echo get_template_directory_uri() ?>/js/jquery.auto-complete.min.js"></script> -->
    <style>
    .banner-img-thumb {
     background: none!important
    }
    </style>
    <!--
      Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/
      
      
      Served from: www.systango.com @ 2022-10-17 07:39:54 by W3 Total Cache
      -->
    <div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;">
      <div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
      <div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div>
      <div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div>
      <div style="z-index: 2000000000; position: relative;"><iframe title="recaptcha challenge expires in two minutes" src="./about_project_files/bframe.html" name="c-vsc87ernyvj2" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" style="width: 100%; height: 100%;"></iframe></div>
    </div>
    <script async="" charset="UTF-8" src="./about_project_files/en.js"></script><iframe src="./about_project_files/aframe.html" width="0" height="0" style="display: none;"></iframe>
  </body>
  <iframe id="google_esf" name="google_esf" src="./about_project_files/zrt_lookup.html" style="display: none;"></iframe>
</html>