<!DOCTYPE html>
<!-- saved from url=(0040)https://www.JMW.com/services/devops -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<!-- Google Tag Manager -->
<script src="./devops_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script src="./devops_files/f.txt"></script><script type="text/javascript" async="" src="./devops_files/js"></script><script type="text/javascript" async="" src="./devops_files/insight.min.js"></script><script type="text/javascript" async="" src="./devops_files/f(1).txt"></script><script type="text/javascript" async="" src="./devops_files/analytics.js"></script><script async="" src="./devops_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script src="./devops_files/f(2).txt" id="google_shimpl"></script><script type="text/javascript" async="" src="./devops_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-vs3dl3wt0sr1NSmWE/o2E71r7EDd6e3fFXEmu4tyET7uqtZw1URcwd3+DYJQtrMg"></script><script async="" src="./devops_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5VBC5M');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="dhn7p_9so7wIXbOTxjcgi-KWfn6gGCdvncCmZnF6dt8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>DevOps Consulting Services - Your Cloud Specialists.</title>

    <link rel="shortcut icon" href="https://www.JMW.com/img/favicon.ico">

    <meta name="description" content="We Are A Top-Notch DevOps Consulting Company In London. Our Service Providers Help Introduce Best Practices for Security, and Enable Constant Monitoring of Your Production Environment.">
    <meta name="”keywords”" content="Devops services, Devops consulting, Devops consulting company, Devops consulting services, Devops service providers, DevOps specialists">
    <meta property="og:title" content="DevOps Consulting Services - Your Cloud Specialists.">
    <meta property="og:site_name" content="JMW">
    <meta property="og:url" content="https://www.JMW.com/services/devops">
    <meta property="og:description" content="We Are A Top-Notch DevOps Consulting Company In London. Our Service Providers Help Introduce Best Practices for Security, and Enable Constant Monitoring of Your Production Environment.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://JMW.com/img/logo-dark.png">

    <meta name="robots" content="index, follow">


    <meta property="twitter:title" content="DevOps Consulting Services - Your Cloud Specialists.">
    <meta property="twitter:site_name" content="JMW">
    <meta property="twitter:domain" content="https://www.JMW.com/services/devops">
    <meta property="twitter:description" content="We Are A Top-Notch DevOps Consulting Company In London. Our Service Providers Help Introduce Best Practices for Security, and Enable Constant Monitoring of Your Production Environment.">
    <meta property="twitter:image" content="https://JMW.com/img/logo-dark.png">
    <meta property="twitter:type" content="website">


    <link rel="canonical" href="https://www.JMW.com/services/devops">
    <link href="./devops_files/css" rel="stylesheet" hreflang="en">
     <link rel="stylesheet" href="./devops_files/font-awesome.min.css">

     <link href="./devops_files/minified-plugins.min.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./devops_files/style.css" rel="stylesheet" hreflang="en">
    <!-- <link href="/css/style.min.css" rel="stylesheet" hreflang="en" media="all" /> -->
    <link href="./devops_files/devops.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./devops_files/ie-specific.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./devops_files/safari-specific.css" rel="stylesheet" hreflang="en" media="all">
    <!-- <link href="<//?php echo  $base_url; ?>/css/hover-min.css" rel="stylesheet" hreflang="en"media="all" /> -->
    <link href="./devops_files/responsive.css" rel="stylesheet" hreflang="en">
    <link href="./devops_files/apd-responsive.css" rel="stylesheet" hreflang="en" media="all">
    <link rel="stylesheet" href="./devops_files/review.css" hreflang="en">

    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "image": "https://www.JMW.com/img/devops/letter-d.png",
    "name": "DevOps Consulting Services - Your Cloud Specialists",
    "url": "https://www.JMW.com/services/devops",
    "description": "We Are A Top-Notch DevOps Consulting Company In London. Our Service Providers Help Introduce Best Practices for Security, and Enable Constant Monitoring of Your Production Environment."
    }</script>


<meta http-equiv="origin-trial" content="A+cA2PUOfIOKAdSDJOW5CP9ZlxONy1yu+hqAq72zUtKw4rLdihqRp6Nui/jUyCyegr+BUtH+C+Elv0ufn05yBQEAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A+zsdH3aNZT/bkjT8U/o5ACzyaeNYzTvtoVmwf/KOilfv39pxY2AIsOwhQJv+YnXp98i3TqrQibIVtMWs5UHjgoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="AxceVEhIegcDEHqLXFQ2+vPKqzCppoJYsRCZ/BdfVnbM/sUUF2BXV8lwNosyYjvoxnTh2FC8cOlAnA5uULr/zAUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><link rel="preload" href="./devops_files/f(3).txt" as="script"><script type="text/javascript" src="./devops_files/f(3).txt"></script><link rel="preload" href="./devops_files/f(4).txt" as="script"><script type="text/javascript" src="./devops_files/f(4).txt"></script><script type="text/javascript" async="" src="./devops_files/f(5).txt"></script></head>
<body class="inner-page" >
  <div class="loader" id="loader" style="display: none;">
    <div class="loading-image">
      <!-- <img src="<//?php echo  $base_url; ?>img/loader.png" class="web-loader" alt="Loader" />
      <img src="<//?php echo  $base_url; ?>img/mobile-loader.png" class="mobile-loader" alt="Loader" /> -->
      <img src="./devops_files/JMW-loader.gif" class="" alt="Loader">
    </div>
  </div>


<!-- eedd Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
<script src="./devops_files/minified-plugins.min.js"></script>
<script defer="" src="./devops_files/api.js" async=""></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
<script src="./devops_files/additional-methods.min.js" async=""></script>
<script async="" src="./devops_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
<div class="body-cover">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">


     <%= render 'home/header'%>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<div id="accordion" class="mega-menu-section" style="display: none">
  <div class="tab-heading-link">
    <a href="https://www.JMW.com/our-services">What We Do</a>
    <span class="close_menu">
      <img src="./devops_files/close.svg" width="12" alt="Close">
    </span>
  </div>
  <!-- Mobile App Development -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
          <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
          Mobile App Development
        </a> -->

        <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="menuIcon"><img src="./devops_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>

          <img src="./devops_files/down-arrow.svg" alt="Navigation">
        </button>
      </h5>
    </div>
  </div>

  <!-- Web Development -->
  
  <!-- Zoho Offering -->
  
  <!-- Digital Marketing -->
  
  <!-- Devops -->
  
  <!-- Data Engineering -->
  
  <!-- Innovation -->
  
  <!-- QA -->
 
  <!-- QA -->
  
  <!-- Consulting Services -->
  
  <!-- Staff Augmentation -->
  
  <!-- Support and Maintenance Desk -->
 
  <!--  -->
</div>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<script>
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e327fcddaaca76c6fd0907d/default';
s1.charset='UTF-8-no BOM';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

$(document).ready(function(){
  $(".close_menu").click(function(){
    $(".mega-menu-section").hide();
  });
  $(".open_megaMenu").click(function(){
    $(".mega-menu-section").show();
  });
});


$('.collapse').collapse({
  toggle: false
})
</script>
<!--End of Tawk.to Script-->

 <style type="text/css">
   .body-cover{
      position: relative;
      top: 125px;
      }
 </style>

    <div id="contact-navigation" class="">
      <div class="form-contact">
        <a href="#" class="close-btn" id="close-contact"><img src="./devops_files/close-contact.png" alt="Close Contact Box"></a>
        <h3>Get a free consultation</h3>
        <h2 class="heading-copy">Contact Us<span class="dot"></span></h2>
        <form id="contactPopup" method="POST" enctype="multipart/form-data" action="#" class="animatedFields" novalidate="novalidate">
          <div class="input-cover">
            <span class="input-form input-text">
              <input name="name" class="input-field input-field-text" type="text" id="input-1">
              <label class="input-label input-label-text" for="input-1">
                <span class="input-label-content input-label-content-text">Name<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <input name="email" class="input-field input-field-text" type="text" id="input-2">
              <label class="input-label input-label-text" for="input-2">
                <span class="input-label-content input-label-content-text">Email Address<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <input name="phone" class="input-field input-field-text" type="text" id="input-3">
              <label class="input-label input-label-text" for="input-3">
                <span class="input-label-content input-label-content-text">Phone Number<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <textarea name="message" class="input-field input-field-text textarea" id="input-4"></textarea>
              <label class="input-label input-label-text" for="input-4">
                <span class="input-label-content input-label-content-text">Your Message</span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <div class="fileUpload">
              <span><svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510.946 510.946" style="enable-background:new 0 0 510.946 510.946;" xml:space="preserve"> <g> <path d="M112.246,483.246c-0.121,0-0.238,0-0.359,0l-48.289-0.305C28.531,482.723,0,454.02,0,418.949 v-47.734c0-14.953,5.824-29.016,16.395-39.594L303.918,44.105c10.566-10.578,24.629-16.406,39.598-16.406h103.43 c35.289,0,64,28.711,64,64v103.43c0,14.953-5.824,29.016-16.395,39.594L346.854,382.416c-6.242,6.25-16.375,6.25-22.625,0 s-6.25-16.375,0-22.625l147.689-147.685c4.527-4.539,7.027-10.57,7.027-16.977V91.699c0-17.648-14.355-32-32-32h-103.43 c-6.414,0-12.438,2.492-16.965,7.023L39.027,354.238C34.5,358.777,32,364.809,32,371.215v47.734 c0,17.531,14.266,31.883,31.797,31.992l48.297,0.305c6.324,0.328,12.613-2.523,17.121-7.023l217.281-217.281l-30.082-30.086 L127.312,385.957c-6.242,6.25-16.375,6.25-22.625,0s-6.25-16.375,0-22.625L293.785,174.23c12.477-12.477,32.777-12.492,45.254,0 l30.086,30.086c6.043,6.047,9.371,14.078,9.371,22.625s-3.328,16.578-9.375,22.625L151.84,466.848 C141.406,477.285,126.992,483.246,112.246,483.246z"></path> </g></svg> <span id="upload-text">Attach your file here</span></span>
              <input type="file" class="upload" name="attachment">
              <a id="removeUpload" href="#">x</a>
            </div>
          </div>
          <input name="domain" type="hidden" value="#">
          <input name="referrer" class="input-field input-field-text" type="hidden" id="popup-referrer" value="http://localhost:3000/">
          <input name="location" class="input-field input-field-text" type="hidden" id="popup-location">

            <div class="input-cover manage_flex">
              <div class="recaptcha-box">
                <div class="input-cover float-left">
                  <div class="g-recaptcha float-left" data-theme="dark" data-sitekey="6Lesg5IbAAAAAD3he75luRKrT92NxUM34WtqkKDN" data-callback="recaptchaCallbackPopup"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="./devops_files/anchor.html" width="304" height="78" role="presentation" name="a-n7dqkmrwssw" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;" src="./devops_files/saved_resource(1).html"></iframe></div>
                  <input type="hidden" name="recaptcha" id="recaptcha-popup">
                </div>
              </div>

          <input type="submit" value="Submit" name="submit" class="btn white-btn float-md-right float-sm-right contactPopup-submitbtn">
          </div>
        </form>
        <p class="text-white imp-note"><strong>NOTE:</strong> For Careers, drop your resume at <a class="text-white" href="#">hr@justmindwork.com</a>.</p>
        <!-- <a href="/blog/mega-walk-in-drive-13th-april-2019/">
          <img src="img/hiring-contact-banner.jpg" class="img-fluid" alt="Walkins for 2017 &amp; 2018" title="Walkins for 2017 &amp; 2018" />
        </a> -->


        <!--<div class="row">
          <div class="col-6 col-sm-3 d-flex home-contact-box">
              <div class="text-center full-width vertical-center center">
                  <h3>USA</h3>
                  <p class="text-white mb-0">+44 1253 547777</p>
              </div>
            </div>
            <div class=" col-6 col-sm-3 d-flex home-contact-box no-border-sm">
              <div class="text-center full-width vertical-center center">
                  <h3>UK</h3>
              </div>
            </div>
            <div class=" col-6 col-sm-3 d-flex home-contact-box">
              <div class="text-center full-width vertical-center center">
                  <h3>Australia</h3>
              </div>
            </div>
            <div class=" col-6 col-sm-3 d-flex home-contact-box border-0">
              <div class="text-center full-width vertical-center center">
                  <h3>India</h3>
              </div>
            </div>
          </div>-->
      </div>
      <a id="contact-link" class="contactus-btn">
        <span>C<br>O<br>N<br>T<br>A<br>C<br>T</span>
        <span>U<br>S</span>
      </a>
    </div>
    <script>
      var recaptchaCallbackPopup = function(response) {
      $('#recaptcha-popup').val(response);
    }
    </script>




    <div class="container big-container mobile-app-container">
        <section class="banner apd-banner mad-banner aos-init aos-animate" >
            <div class="row">
            <div class="col-md-4 col-sm-12 column-1 text-center aos-init aos-animate" >
                <%= image_tag "letter-d.png",alt: "Devops services" %>
            </div>
            <!-- LETTER BOX -->
            <div class="col-md-8 col-sm-12 vertical-center column-2 desk-content pl-5 aos-init aos-animate" >
                <h1 class="text-wrap mb-4">Enable 2x Faster Application Deployment And 75% Shorter Delivery Cycles With Automated DevOps<span class="servicedot"></span></h1>
                <p class="banner-content mb-30">Using our development, integration and orchestration processes our clients save up to 30% of recurring cost and time. We help manage platforms on cloud with ai-driven DevOps services. Break organizational silos and adopt agile DevOps! </p>
                <ul class="banner-icon-list">
                  <li><%= image_tag "microsoft.png",alt: "Microsoft" %></li>
                  <li><%= image_tag "aws.png",alt: "AWS" %></li>
                  <li><%= image_tag "google-cloud.png",alt: "Google Cloud " %></li>
                  <li><%= image_tag "cloudera_logo.png",alt: "Cloudera_logo" %></li>
                  <li><%= image_tag "terraform.png",alt: "Terraform" %></li>
                  <li><%= image_tag "kubernetes.png",alt: "Kubernetes" %></li>
                </ul>

                <%= link_to "Discuss Your Use Case With Our Experts", new_user_path, class: "apd-fill-btn"%>
            </div>
            <!-- BANNER CONTENT -->
            </div>
        </section>
        <section class="mobile-banner-content aos-init aos-animate" >
            <h1 class="text-wrap mb-4">Enable 2x Faster Application Deployment And 75% Shorter Delivery Cycles With Automated DevOps<span class="servicedot"></span></h1>
            <p class="banner-content mb-4">Using our development, integration and orchestration processes our clients save up to 30% of recurring cost and time. We help manage platforms on cloud with ai-driven DevOps services. Break organizational silos and adopt agile DevOps! </p>
            <ul class="banner-icon-list">
              <li><img src="./devops_files/microsoft(1).png" alt="" width="" height=""></li>
              <li><img src="./devops_files/aws(1).png" alt="" width="" height=""></li>
              <li><img src="./devops_files/google-cloud(1).png" alt="" width="" height=""></li>
              <li><img src="./devops_files/cloudera_logo(1).png" alt="" width="" height=""></li>
              <li><img src="./devops_files/terraform(1).png" alt="" width="" height=""></li>
              <li><img src="./devops_files/kubernetes(1).png" alt="" width="" height=""></li>
            </ul>
            <%= link_to "Discuss Your Use Case With Our Experts", new_user_path, class: "apd-fill-btn" %>
        </section>
        <!-- BANNER SECTION END -->
        <section class="apd-casestudy-infocontainer mt-6">

            <div class="apd-app-box-wrap bg-dark-purple aos-init aos-animate" >
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title">Youtility</div>
                    <p class="apd-casestudy-description"> We have been a technology partner to Youtility since <br>early 2019. JMW is an integral part of their product <br>team, that consists of: backend, frontend (React), Mobile <br>Apps (Android - Kotlin, iOS - Swift), QA and DevOps <br>(Azure, Terraform, Kubernetes, logging stacks is using <br>Prometheus, Grafana, ELK).</p>

                    <a class="apd-white-bordered-btn" href="#">View Case Study
                    <%= image_tag "btn-arrow.png", class: "ml-3",alt: "devops img"%>
                    </a>
                </div>
                <!-- CASE STUDY INFO -->
                <div class="apd-casestudy-img text-right">
                    <%= image_tag "laptop-2.png",alt: "devops services laptop image" %>
                </div>
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
            <div class="apd-app-box-wrap bg-green aos-init">
                <div class="apd-casestudy-img text-left">
                    <%= image_tag "laptop-3.png",alt: "devops services laptop 3" %>
                </div>
                <!-- CASE STUDY IMG -->
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title text-right">Grindr</div>
                    <p class="apd-casestudy-description text-right">Since launching in 2009, Grindr has quickly grown <br>into the world's largest social networking app for <br>gay, bi-curious and queer men. Our QA and DevOps <br>team helped them accommodate hundreds of <br>requests/per second helping them reach 3M DAU.</p>
                    <a class="apd-white-bordered-btn float-right" href="#"><%= image_tag "btn-arrow-left.png", class: "mr-3",alt: "devops img"%> View Case Study</a>
                </div>
                <!-- CASE STUDY INFO -->
            </div>
            <!-- APD-APP BOX WRAP-->
            <div class="apd-app-box-wrap bg-purple-down aos-init">
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title">Waitlist</div>
                    <p class="apd-casestudy-description strat-o-matic">The easiest and most effective way to manage waitlist <br>and reservations. We are Waitlist's core technology since <br>2012, originally a Google Venture backed company. We <br>have helped them cut hosting expenses to one fifth, and <br>increase footprint tenfolds.</p>
                    <a class="apd-white-bordered-btn" href="#">View Case Study
                    <%= image_tag "btn-arrow.png", alt: "btn arrow ",class: "ml-3"%>
                    </a>
                </div>
                <!-- CASE STUDY INFO -->
                <div class="apd-casestudy-img text-right">
                    <%= image_tag "laptop-4.png",alt: "devops servies servies ",class: "last-section" %>
                </div>
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
        </section>
        <!-- apd Casestudy Section END -->
        <section class="frameworks-section aos-init" >
            <div class="container">
                <div class="row">
                    <h2 class="section_heading text-center col-sm-12">Leverage Our Customized Cloud Services, Advanced Monitoring Tools, And Best Security Practices To Seamlessly Manage Cloud Environments.</h2>
                    <div class="col-sm-12">
                        <div class="award-description">
                            <p>Our devops consulting services help introduce best practices for security, deployments, and enable constant monitoring of your production environment. This allows us to make your production environment stable and faster and enable risk free multiple deployments throughout the day without causing any outages. As a top devops service provider, we review your current state of production, identify gaps and deviations from best practices, create action plans for long-term success and execute. </p>
                            <p>Our devops specialists bring together the development and operations teams and work towards optimizing both the productivity of developers and the reliability of operations. Our devops consulting services are about striving to communicate frequently, increase efficiencies, and improve the quality of services you can provide to your customers. Quality assurance and security teams also play a huge part in our DevOps services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Framework Section -->
    </div>
    <!-- Three Box section -->
    <section class="cpt-box-section aos-init">
        <div class="container">
            <div class="row">
                <h2 class="section_heading col-sm-12 text-center">We Are A Top-Notch DevOps Consulting Company In London. We Have Worked With A Number Of Startups, Scaleups And Fortune 500s And Helped Them Achieve: </h2>
                <div class="apd-listbox">
                    <ul class="apd-experience-list">
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>40%</h3>
                                <p>Faster releases and deployments.</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <span class="devops-small">Up to</span>
                                <h3>50%</h3>
                                <p>Savings through cloud optimization and monitoring.</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>10x</h3>
                                <p>Peak load support via auto scaling.</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>100%</h3>
                                <p>Availability.</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <span class="devops-small">From</span>
                                <h3>Day 1</h3>
                                <p>In built best security practices.</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>Partnership</h3>
                                <p>AWS, Azure, and GCP. </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- TimeLine Section END -->
    <section class="frameworks-section aos-init" >
      <div class="container">
        <div class="row">
          <h2 class="section_heading text-center col-sm-12">As A Leading DevOps Service Provider In London, We Work Across An Array Of DevOps Tools And Platforms.</h2>
          <div class="col-sm-12">
              <div class="award-description">
                  <p>Implementation of DevOps automation in the IT-organization is heavily dependent on tools, which are required to cover different areas of the systems development lifecycle (SDLC). Some such tools our DevOps Specialists use are:</p>
              </div>
          </div>
          <!-- List With Title -->
          <div class="col-sm-12">
            <!-- 1 -->
            <div class="devops-tools bg-orange-grad mbt-30">
              <div class="tools-title">
                Monitoring
              </div>
              <div class="tools-logo">
                <ul>
                  <li><%= image_tag "cloudwatch.png",alt: "cloud watch" %></li>
                  <li><%= image_tag "elk.png",alt: "elk" %></li>
                  <li><%= image_tag "splunk_logo.png",alt: "Splunk logo" %></li>
                </ul>
              </div>
            </div>
            <!-- 2 -->
            <div class="devops-tools bg-purple-grad mbt-30">
              <div class="tools-title">
                Continuous Integration
              </div>
              <div class="tools-logo">
                <ul>
                  <li><%= image_tag "bitbucket.png", alt: "bitbucket"%></li>
                  <li><%= image_tag "git-logo.png", alt: "git logo"%></li>
                  <li><%= image_tag "github.png", alt: "github"%></li>
                  <li><%= image_tag "jenkins_logo.png", alt: "jenkins"%></li>
                  <li><%= image_tag "selenium-webdriver.png", alt: "selenium-webdriver"%></li>
                  <li><%= image_tag "sonarqube-logo.png", alt: "sonarqube-logo"%></li>
                </ul>
              </div>
            </div>
            <!-- 3 -->
            <div class="devops-tools bg-green-grad mbt-30">
              <div class="tools-title">
                Code Management
              </div>
              <div class="tools-logo">
                <ul>
                  <li><%= image_tag "bitbucket.png", alt: "bitbucket"%></li>
                  <li><%= image_tag "github.png", alt: "github"%></li>
                  <li><%= image_tag "jenkins_logo(1).png", alt: "jenkins"%></li>
                  <li><%= image_tag "gitlab.png", alt: "gitlab"%></li>
                  <li><%= image_tag "sonarqube-logo.png", alt: "sonarqube-logo"%></li>
                </ul>
              </div>
            </div>
            <!-- 4 -->
            <div class="devops-tools bg-purple-grad mbt-30">
              <div class="tools-title">
                Build
              </div>
              <div class="tools-logo">
                <ul>
                  <li><%= image_tag "apache-logo.png", alt: "apache"%></li>
                  <li><%= image_tag "gradle-logo.png", alt: "gradle-logo"%></li>
                  <li><%= image_tag "maven_logo.png", alt: "maven-logo"%></li>
                  <li><%= image_tag "jenkins_logo(1).png", alt: "jenkins"%></li>
                </ul>
              </div>
            </div>
            <!-- 5 -->
            <div class="devops-tools bg-orange-grad mbt-30">
              <div class="tools-title">
                Microservices
              </div>
              <div class="tools-logo">
                <ul>
                  <li><%= image_tag "amazon-ecs.png", alt: "Amazon"%></li>
                  <li><%= image_tag "docker.png", alt: "docker"%></li>
                  <li><%= image_tag "kubernetes.png", alt: "kubernetes"%></li>
                </ul>
              </div>
            </div>

          <!-- List With Title END -->
        </div>
      </div>
    </section>
    <!--  -->
    <section class="zoho_consulting aos-init" >
     <div class="container">
      <div class="row">
        <div class="col-md-12 text-center started_section">
          <h2 class="section_heading mbt-30">Increase Agility, Shorten Releases, Improve Reliability And <br>
          Stay Ahead Of The Competition With Our DevOps <br>
          Consulting Services.</h2>
        </div>
      </div>
      <!-- Three Cards -->
      <div class="row align-items-stretch get_started">
        <div class="col-sm-12 col-lg-3 col-md-12">
          <div class="card text-center">
            <div class="card-header">
              DevOps <br>Consulting Services
            </div>
            <div class="card-body">
              <p class="card-text">Review existing infrastructure, software delivery processes, based on audit define DevOps strategic roadmap, action plan consisting of continuous Integration, Continuous Deployment, DevOps Pipelines, and Continuous Testing.  </p>

            </div>
            <div class="card-footer">
               <%= link_to "Discuss your use case with our DevOps Specialist", new_user_path, class: "btn btn-primary consult_btn"%>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-12">
          <div class="card text-center">
            <div class="card-header">
              Platform And <br>Cloud Management
            </div>
            <div class="card-body">
              <p class="card-text">- Minimize downtime and predict performance.</p>
              <p class="card-text">- Our devops specialists will work on Cloud provisioning, administration, networking, security, monitoring, and optimization.</p>
            </div>
            <div class="card-footer">
               <%= link_to "Get in touch", new_user_path, class: "btn btn-primary consult_btn"%>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-12">
          <div class="card text-center">
            <div class="card-header">
              Continuous Integration And Delivery(CI/CD)
            </div>
            <div class="card-body">
              <p class="card-text">- Single-click deployment for cloud.</p>
              <p class="card-text">- Container orchestration and management.</p>
              <p class="card-text">- Single operational dashboards.</p>
            </div>
            <div class="card-footer">
               <%= link_to "Talk to us", new_user_path, class: "btn btn-primary consult_btn"%>

            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-12">
          <div class="card text-center">
            <div class="card-header">
              Continuous Testing And Monitoring
            </div>
            <div class="card-body">
              <p class="card-text">- Test driven development (TDD).</p>
              <p class="card-text">- Automated alerting and monitoring.</p>
              <p class="card-text">- Performance, regression, requirements and, functionality validation built in CI/CD Pipelines. </p>
            </div>
            <div class="card-footer">
               <%= link_to "Hire DevOps Specialists", new_user_path, class: "btn btn-primary consult_btn"%>

            </div>
          </div>
        </div>
      </div>
      <!-- Three Box -->
     </div>
   </section>
    <!-- We Recognised -->
    <section class="development_services aos-init" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 started_section">
                    <h2 class="section_heading">As A Top DevOps Service <br>Provider, We Do It All!</h2>
                    <p>A successful DevOps model is based on four key building blocks - Develop, Build and Test, Deploy, Operate and Monitor. JMW, DevOps Consulting Company can do it all for you!</p>
                    <ul>
                        <li>
                            <p>Assessment and Planning</p>
                        </li>
                        <li>
                            <p>Pilot Framework Creation</p>
                        </li>
                        <li>
                            <p>Process Implementation</p>
                        </li>
                        <li>
                            <p>Cloud Consultation and Expertise</p>
                        </li>
                        <li>
                            <p>Process Automation</p>
                        </li>
                        <li>
                            <p>Establish CI/CD Pipeline</p>
                        </li>
                        <li>
                            <p>Security Integration</p>
                        </li>
                        <li>
                            <p>Operational Management</p>
                        </li>
                        <li>
                            <p>Release Management</p>
                        </li>
                        <li>
                            <p>Cloud Migration</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 col-lg-5">
                    <div class="row half-ligh-purple">
                        <div class="col-sm-4 col-4">
                            <ul class="first-list">
                                <li>
                                    <%= image_tag "checklist.svg", alt: "apache"%>
                                </li>
                                <li>
                                    <%= image_tag "structure.svg", alt: "structure"%>
                                </li>
                                <li>
                                    <%= image_tag "refresh.svg", alt: "refresh"%>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="second-list">
                                <li>
                                   <%= image_tag "consulting(1).svg", alt: "consulting"%>
                                </li>
                                <li>
                                    <%= image_tag "secure-shield.svg", alt: "secure_shield"%>
                                </li>
                                <li>
                                    <%= image_tag "structure.svg", alt: "structure"%>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="third-list">
                                <li>
                                    <%= image_tag "engineering.svg", alt: "engineering"%>
                                </li>
                                <li>
                                    <%= image_tag "check-mark.svg", alt: "check_mark"%>
                                </li>
                                <li>
                                     <%= image_tag "consulting(1).svg", alt: "consulting"%>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Development Services -->
   <section class="apd-app-leading-company aos-init" >
        <div class="apd-company-wrap text-center">
            <div class="lead-container container">
              <h3 class="text-center">We Are Recognised As A Leading Software Development Agency In London.</h3>
              <div class="img-section">
                <ul class="recognize_logo">
                    <li><%= image_tag "100.png", alt: "100"%></li>
                  <!-- <li><img src="<//?php echo  $base_url; ?>img/zoho-analytics/recognize-logo-1.png" alt="Devops services, Devops consulting, Devops consulting company, Devops consulting services, Devops service providers, DevOps specialists"></li> -->
                  <li><%= image_tag "recognize-logo-2.png", alt: "devops services,devops consulting"%></li>
                  <li><%= image_tag "recognize-logo-3.png", alt: "devops services,devops consulting"%></li>
                  <li>
                    <%= image_tag "recognize-logo-4.png", alt: "devops services,devops consulting"%>
                    <!--<p class="award_name">Best Web Design Agency <br> in London 2020 </p>-->
                  </li>
                  <li><%= image_tag "top2022.png", alt: "devops services,devops consulting"%></li>
                  <li><%= image_tag "Gcloud-c.png", alt: "devops services,devops consulting"%></li>
                </ul>
              </div>
               <%= link_to "Hire Now", new_user_path, class: "white_btn"%>
            </div>
        </div>
    </section>
    <!-- APD TRANSFORM IDEA END -->
    <!-- Review Slider -->
    <!-- Developing Section Start -->

<section class="zoho_developing aos-init">
  <div class="container">
  <div class="zoho_consulting_wrap">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading text-center same-pages">
          Developing Solutions For A Range Of Business Domains.
        </h2>
        <h2 class="section_heading text-center digital-marketing">
          We Serve a Wide Range of Industries.
        </h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 zoho_developing_list">
        <ul>
          <li>
            <img src="./devops_files/mobile.png" alt="">
            <p>Enterprise Mobility</p>
          </li>
          <li>
            <img src="./devops_files/partner.png" alt="">
            <p>Social Networks Apps</p>
          </li>
          <li>
            <img src="./devops_files/alexa.png" alt="">
            <p>Fintech Apps</p>
          </li>
          <li>
            <img src="./devops_files/health.png" alt="">
            <p>Health &amp; Fitness Apps</p>
          </li>
          <li>
            <img src="./devops_files/cart.png" alt="">
            <p>E-Commerce Mobile Apps</p>
          </li>
          <li>
            <img src="./devops_files/piano.png" alt="">
            <p>Music &amp; Entertainment Apps</p>
          </li>
          <li>
            <img src="./devops_files/joystick.png" alt="">
            <p>iGaming and Fantasy Sports Apps</p>
          </li>
          <li>
            <img src="./devops_files/education.png" alt="">
            <p>Education Apps</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Developing Section END -->
<!-- FOOTER -->
    <%= render 'home/footer'%>
    <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./devops_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
  </div><ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled"><div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./devops_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div></ins>

    <script src="./devops_files/jquery-ui.min.js"></script>
    <script src="./devops_files/jquery.ui.touch-punch.min.js"></script>






    <!-- Mainly scripts -->
    <script async="" src="./devops_files/script.js"></script>
    <script async="" type="text/javascript">

      $(document).ready(function(){
        var cookieValue = localStorage.getItem("loader");
        if(cookieValue && cookieValue == 1) {
          $('#loader').hide();
          $('#loader').removeClass('active');
        } else {
          localStorage.setItem("loader", 1);
        }

        var sync4 = $('#web-development-slider');

          // Start Carousel
          sync4.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : false,
              responsive: true,
              autoHeight:true
          });

          var sync2 = $('#work-mobile-carousel-01'),
          sync1 = $('#text-carousel');

          // Sync nav
          $('#carousel-controls .owl-next').on('click', function () {
              sync1.trigger('next.owl.carousel')
              sync2.trigger('next.owl.carousel')
              sync3.trigger('next.owl.carousel')
          });
          $('#carousel-controls .owl-prev').on('click', function () {
              sync1.trigger('prev.owl.carousel')
              sync2.trigger('prev.owl.carousel')
              sync3.trigger('prev.owl.carousel')
          });

          // Start Carousel
          sync1.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : false
          });

          sync2.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              nav : false,
              rtl: true
          });

          var testimonial = $("#testimonialSlider");

          testimonial.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : true,
              responsive: true,
              autoHeight:true,
              autoplay:true,
              autoplayTimeout:8000
          });


          $('.stats-box').each(function (i, value) {
            $(this).hover(function (e) {
                $('.stats-box').removeClass('active');
                $(this).addClass('active');
            }, function () {

            });
          });

          var winWidth = $(window).width();
      });

        $(window).resize(function() {
          var winWidth = $(window).width();

          if($('.embedded-video').hasClass('play')) {
            $('.embedded-video').removeClass('play');
          }
        });


    </script>
    <script>
      $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('</script><div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;"><div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div><div style="z-index: 2000000000; position: relative;"><iframe title="recaptcha challenge expires in two minutes" src="./devops_files/bframe.html" name="c-n7dqkmrwssw" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" style="width: 100%; height: 100%;"></iframe></div></div><script async="" charset="UTF-8" src="./devops_files/en.js"></script><iframe src="./devops_files/aframe.html" width="0" height="0" style="display: none;"></iframe></body><iframe id="google_esf" name="google_esf" src="./devops_files/zrt_lookup.html" style="display: none;"></iframe></html>
