<!DOCTYPE html>
<!-- saved from url=(0063)https://www.JMW.com/services/quality-assurance-consultancy -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager -->
<script src="./qa_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script src="./qa_files/f.txt"></script><script async="" src="./qa_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script src="./qa_files/f(1).txt" id="google_shimpl"></script><script type="text/javascript" async="" src="./qa_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-vs3dl3wt0sr1NSmWE/o2E71r7EDd6e3fFXEmu4tyET7uqtZw1URcwd3+DYJQtrMg"></script><script type="text/javascript" async="" src="./qa_files/js"></script><script type="text/javascript" async="" src="./qa_files/insight.min.js"></script><script type="text/javascript" async="" src="./qa_files/f(2).txt"></script><script type="text/javascript" async="" src="./qa_files/analytics.js"></script><script async="" src="./qa_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5VBC5M');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="dhn7p_9so7wIXbOTxjcgi-KWfn6gGCdvncCmZnF6dt8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Testing Services &amp; Quality Assurance Consultancy | JMW</title>

    <link rel="shortcut icon" href="https://www.JMW.com/img/favicon.ico">

    <meta name="description" content="With over 15 years of experience &amp; 50+ Manual &amp; Automation QA engineers, we are a full-cycle software quality assurance &amp; testing company in the UK. Get In Touch!">


    <meta property="og:title" content="Testing Services &amp; Quality Assurance Consultancy | JMW">
    <meta property="og:site_name" content="JMW">
    <meta property="og:url" content="https://www.JMW.com/services/quality-assurance-consultancy">
    <meta property="og:description" content="Full-cycle software quality assurance &amp; testing company. 15+ years, 50+ Manual and Automation QA engineers. Get In Touch.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://JMW.com/img/logo-dark.png">

    <meta name="robots" content="index, follow">


    <meta property="twitter:title" content="Testing Services &amp; Quality Assurance Consultancy | JMW">
    <meta property="twitter:site_name" content="JMW">
    <meta property="twitter:domain" content="https://www.JMW.com/services/quality-assurance-consultancy">
    <meta property="twitter:description" content="Full-cycle software quality assurance &amp; testing company. 15+ years, 50+ Manual and Automation QA engineers. Get In Touch.">
    <meta property="twitter:image" content="https://JMW.com/img/logo-dark.png">
    <meta property="twitter:type" content="website">



    <link rel="canonical" href="https://www.JMW.com/services/quality-assurance-consultancy">
    <link href="./qa_files/css" rel="stylesheet" hreflang="en">
    <link rel="stylesheet" href="./qa_files/font-awesome.min.css">

    <link href="./qa_files/minified-plugins.min.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./qa_files/style.css" rel="stylesheet" hreflang="en">
    <!-- <link href="../css/style.min.css" rel="stylesheet" hreflang="en" media="all" /> -->
    <link href="./qa_files/quality-assurance.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./qa_files/ie-specific.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./qa_files/safari-specific.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./qa_files/hover-min.css" rel="stylesheet" hreflang="en" media="all">
    <link href="./qa_files/responsive.css" rel="stylesheet" hreflang="en">
    <link href="./qa_files/apd-responsive.css" rel="stylesheet" hreflang="en" media="all">
    <link rel="stylesheet" href="./qa_files/review.css" hreflang="en">

    <script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Testing Services & Quality Assurance Consultancy | JMW",
    "url": "https://www.JMW.com/services/quality-assurance-consultancy",
    "description":  "With over 15 years of experience & 50+ Manual & Automation QA engineers, we are a full-cycle software quality assurance & testing company in the UK. Get In Touch!"
}
</script>




<meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><script type="text/javascript" async="" src="./qa_files/f(3).txt"></script><meta http-equiv="origin-trial" content="A+cA2PUOfIOKAdSDJOW5CP9ZlxONy1yu+hqAq72zUtKw4rLdihqRp6Nui/jUyCyegr+BUtH+C+Elv0ufn05yBQEAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A+zsdH3aNZT/bkjT8U/o5ACzyaeNYzTvtoVmwf/KOilfv39pxY2AIsOwhQJv+YnXp98i3TqrQibIVtMWs5UHjgoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="AxceVEhIegcDEHqLXFQ2+vPKqzCppoJYsRCZ/BdfVnbM/sUUF2BXV8lwNosyYjvoxnTh2FC8cOlAnA5uULr/zAUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><link rel="preload" href="./qa_files/f(4).txt" as="script"><script type="text/javascript" src="./qa_files/f(4).txt"></script><link rel="preload" href="./qa_files/f(5).txt" as="script"><script type="text/javascript" src="./qa_files/f(5).txt"></script></head>
<body class="inner-page" data-new-gr-c-s-check-loaded="14.1082.0" data-gr-ext-installed="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">



<!-- eedd Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
<script src="./qa_files/minified-plugins.min.js"></script>
<script defer="" src="./qa_files/api.js" async=""></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
<script src="./qa_files/additional-methods.min.js" async=""></script>
<script async="" src="./qa_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
<div class="body-cover">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">

<%= render 'home/header' %>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<div id="accordion" class="mega-menu-section" style="display: none">
  <div class="tab-heading-link">
    <a href="#">What We Do</a>
    <span class="close_menu">
      <img src="./qa_files/close.svg" width="12" alt="Close">
    </span>
  </div>
  <!-- Mobile App Development -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
          <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
          Mobile App Development
        </a> -->

        <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="menuIcon"><img src="./qa_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>

          <img src="./qa_files/down-arrow.svg" alt="Navigation">
        </button>
      </h5>
    </div>
  </div>
</div>
<script>
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e327fcddaaca76c6fd0907d/default';
s1.charset='UTF-8-no BOM';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

$(document).ready(function(){
  $(".close_menu").click(function(){
    $(".mega-menu-section").hide();
  });
  $(".open_megaMenu").click(function(){
    $(".mega-menu-section").show();
  });
});


$('.collapse').collapse({
  toggle: false
})
</script>
<!--End of Tawk.to Script-->

    <div id="social-navigation" class="social-navigation social-inner">
  <ul>
          <li>
            <a href="https://www.linkedin.com/company/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
                <g>
                  <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707 c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21 v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824 C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463 c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z M5.477,420.56h92.184v-277.32H5.477V420.56z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <g>
                  <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513 c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101 c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104 c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194 c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485 c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                <g>
                  <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803 c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654 c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246 c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank" class="gitlab">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 602 360">
                <path d="M340.105,344.1c-53.643,0-114.492,4.964-159.982-18.082-53.288-26.947-55.887-99.632-24.222-132.488,30.721-31.793,70.893-20.21,118.628-20.092,11.225,0,13.588,1.891,24.222,2.009,17.841,0.236,30.247-1.655,48.916-1.891,10.4-.118,11.933-1.891,22.331-2.009,33.556-.473,51.279-1.891,74.556,23.046,28.711,30.493,26.112,100.814-14.888,128.588-22.449,15.247-52.461,20.919-89.561,20.919h0Zm31.783-97.5c0,52.475,46.908,45.147,46.908,3.782,0-45.975-46.908-42.429-46.908-3.782h0Zm-185.5,3.782c0,39.947,46.908,50.347,46.908-3.782,0-38.647-46.908-42.193-46.908,3.782h0ZM105.8,55.367c0,8.155.827,12.41,1.772,18.91,4.254,30.611,7.444,13.946-13,44.793C69.294,157.008,72.6,231.466,87.017,261.6c-37.81,0-50.1,2.245-82.472,3.781L1,265.5v5.909l3.663-.354c6.735-.473,13.588.354,20.323-0.355l63.922-3.427c1.3,5.436,3.308,8.627,5.671,13.119a543.122,543.122,0,0,0-85.426,6.382c-2.836.472-5.553,0.827-8.153,1.3v7.091l9.1-1.773c26.112-3.664,58.841-7.446,88.262-7.446,1.772,8.037,15.951,25.292,21.977,30.492C149.048,341.5,195.011,360.526,237.192,361c0.236-.118,124.89-0.473,125.953,0,24.576-.236,69.357-12.528,85.662-20.564,19.259-9.456,47.262-31.911,52.461-54.485L603,298.123v-9.691a621.239,621.239,0,0,0-97.951-8.036c4.726-20.447,15.6-11.819,33.674-11.229,15.833,0.473,32.611-1.536,47.971.71L603,271.532v-6.974c-30.484-2.6-60.969-2.954-92.4-2.954,7.207-14.892,5.434-37.348,7.8-57.912,4.136-35.575-7.8-73.631-28.593-101.169-18.55-24.582-7.326-7.091-7.326-58.384,0-11.937-5.317-43.139-15-43.139-43.245,0-84.008,33.8-88.026,33.8-10.4,0-40.763-7.564-84.362-7.564a367.166,367.166,0,0,0-52.225,4.018c-32.492,4.728-23.276,12.173-41.472-.236C181.423,17.429,150.466,1,117.028,1c-2.008,8.746-5.2,14.655-7.562,24.347a136.471,136.471,0,0,0-3.662,30.02h0Z" transform="translate(-1 -1)"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/justmindwork/?igshid=YmMyMTA2M2Y%3D/" target="_blank">
              <svg id="Bold" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"></path><path d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"></path><circle cx="18.406" cy="5.595" r="1.439"></circle></svg>
            </a>
          </li>
          <li>
            <a href="http://justmindwork.com/" class="custom-blog">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 438.156 452.25">
                <path d="M1,127.391v190C1,338.2,5.843,350.022,22.379,364.8c9.568,8.631,23.978,11.824,37.089,12.178l12.875-.591V464c8.268-1.891,40.277-26.247,48.191-31.8,12.521-8.631,60.239-43.628,71.46-49.658,8.623-4.729,21.852-6.148,34.963-6.148,13.347,0.118,111.5.946,120.243-.709,22.442-4.138,37.561-15.489,43.467-37.716,4.96-19.154,2.716-172.383,2.716-200.641-4.252,1.064-13.937,12.3-17.6,15.961-25.159,25.184-20.2,13.6-20.2,46.7V300.719c0,46.347,4.134,38.9-96.265,38.9-16.418,0-54.57-1.774-67.09.946-11.1,2.364-14.765,5.793-22.56,11L110.14,393.768v-54.15H59.35c-13.584,0-20.552-8.158-20.552-21.637v-182.9c0-30.622,25.4-23.765,56.223-23.765H257.2c11.575,0.118,9.331-1.182,24.1-15.961,5.2-5.2,16.772-15.607,20.2-20.809H128.566c-21.143,0-68.389-2.246-84.926,1.537A53.713,53.713,0,0,0,1,127.391H1ZM347.79,46.165c1.654,5.439,53.625,55.687,56.46,57.579,5.433-1.3,11.221-7.8,14.056-11.941-4.489-6.621-21.616-22.11-28.466-28.967-3.662-3.665-25.395-27.194-30-28.376Zm21.852-20.336c1.417,5.2,52.207,54.387,55.16,56.279,15.71-10.641,20.2-25.893,5.079-40.909C414.172,25.711,396.69,1,379.091,16.843c-1.653,1.537-8.74,8.04-9.449,8.986h0ZM183.254,267.023c-7.678-11.35-8.977-.591-2.481-24,1.418-4.848,4.253-12.651,4.607-17.144,4.134,2.719,3.662,4.256,10.749,4.375,6.732,0.118,8.622,1.064,15.237,1.064,0,12.3-1.772,19.745,5.315,25.893-5.67.473-11.458,3.074-17.009,4.611-4.607,1.3-12.166,3.074-16.418,5.2h0Zm-23.86,23.765c6.969,0,43.94-11.942,53.507-14.661,23.387-6.621,22.679-10.05,40.868-28.376,5.552-5.557,139.732-129.7,142.921-134.312l-57.64-58.17c-5.316,3.547-148.237,139.4-160.993,151.455-9.922,9.341-7.8,8.631-14.292,32.16-2.717,9.7-5.434,18.562-8.268,28.494-1.654,5.793-9.922,23.41,3.9,23.41h0Z" transform="translate(-1 -11.75)"></path>
              </svg>
            </a>
          </li>
          <li class="last"><span>Follow Us</span></li>
        </ul>
</div>


    <div id="contact-navigation" class="">
      <div class="form-contact">
        <a href="#" class="close-btn" id="close-contact"><img src="./qa_files/close-contact.png" alt="Close Contact Box"></a>
        <h3>Get a free consultation</h3>
        <h2 class="heading-copy">Contact Us<span class="dot"></span></h2>
        <form id="contactPopup" method="POST" enctype="multipart/form-data" action="#" class="animatedFields" novalidate="novalidate">
          <div class="input-cover">
            <span class="input-form input-text">
              <input name="name" class="input-field input-field-text" type="text" id="input-1">
              <label class="input-label input-label-text" for="input-1">
                <span class="input-label-content input-label-content-text">Name<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <input name="email" class="input-field input-field-text" type="text" id="input-2">
              <label class="input-label input-label-text" for="input-2">
                <span class="input-label-content input-label-content-text">Email Address<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <input name="phone" class="input-field input-field-text" type="text" id="input-3">
              <label class="input-label input-label-text" for="input-3">
                <span class="input-label-content input-label-content-text">Phone Number<sup>*</sup></span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <span class="input-form input-text">
              <textarea name="message" class="input-field input-field-text textarea" id="input-4"></textarea>
              <label class="input-label input-label-text" for="input-4">
                <span class="input-label-content input-label-content-text">Your Message</span>
              </label>
              <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
              </svg>
            </span>
          </div>

          <div class="input-cover">
            <div class="fileUpload">
              <span><svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510.946 510.946" style="enable-background:new 0 0 510.946 510.946;" xml:space="preserve"> <g> <path d="M112.246,483.246c-0.121,0-0.238,0-0.359,0l-48.289-0.305C28.531,482.723,0,454.02,0,418.949 v-47.734c0-14.953,5.824-29.016,16.395-39.594L303.918,44.105c10.566-10.578,24.629-16.406,39.598-16.406h103.43 c35.289,0,64,28.711,64,64v103.43c0,14.953-5.824,29.016-16.395,39.594L346.854,382.416c-6.242,6.25-16.375,6.25-22.625,0 s-6.25-16.375,0-22.625l147.689-147.685c4.527-4.539,7.027-10.57,7.027-16.977V91.699c0-17.648-14.355-32-32-32h-103.43 c-6.414,0-12.438,2.492-16.965,7.023L39.027,354.238C34.5,358.777,32,364.809,32,371.215v47.734 c0,17.531,14.266,31.883,31.797,31.992l48.297,0.305c6.324,0.328,12.613-2.523,17.121-7.023l217.281-217.281l-30.082-30.086 L127.312,385.957c-6.242,6.25-16.375,6.25-22.625,0s-6.25-16.375,0-22.625L293.785,174.23c12.477-12.477,32.777-12.492,45.254,0 l30.086,30.086c6.043,6.047,9.371,14.078,9.371,22.625s-3.328,16.578-9.375,22.625L151.84,466.848 C141.406,477.285,126.992,483.246,112.246,483.246z"></path> </g></svg> <span id="upload-text">Attach your file here</span></span>
              <input type="file" class="upload" name="attachment">
              <a id="removeUpload" href="#">x</a>
            </div>
          </div>
          <input name="domain" type="hidden" value=" ">
          <input name="referrer" class="input-field input-field-text" type="hidden" id="popup-referrer" value="http://localhost:3000/">
          <input name="location" class="input-field input-field-text" type="hidden" id="popup-location">

            <div class="input-cover manage_flex">
              <div class="recaptcha-box">
                <div class="input-cover float-left">
                  <div class="g-recaptcha float-left" data-theme="dark" data-sitekey="6Lesg5IbAAAAAD3he75luRKrT92NxUM34WtqkKDN" data-callback="recaptchaCallbackPopup"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="./qa_files/anchor.html" width="304" height="78" role="presentation" name="a-lxg5ypbpgeo6" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;" src="./qa_files/saved_resource(1).html"></iframe></div>
                  <input type="hidden" name="recaptcha" id="recaptcha-popup">
                </div>
              </div>

          <input type="submit" value="Submit" name="submit" class="btn white-btn float-md-right float-sm-right contactPopup-submitbtn">
          </div>
        </form>
        <p class="text-white imp-note"><strong>NOTE:</strong> For Careers, drop your resume at <a class="text-white" href="#">#</a>.</p>
      </div>
      <a id="contact-link" class="contactus-btn">
        <span>C<br>O<br>N<br>T<br>A<br>C<br>T</span>
        <span>U<br>S</span>
      </a>
    </div>
    <script>
      var recaptchaCallbackPopup = function(response) {
      $('#recaptcha-popup').val(response);
    }
    </script>

 <style type="text/css">
   .body-cover{
      position: relative;
      top: 125px;
      }
 </style>


    <div class="container big-container mobile-app-container">
        <section class="banner apd-banner mad-banner aos-init aos-animate">
            <div class="row">
            <div class="col-md-4 col-sm-12 column-1 text-center aos-init aos-animate" >
                <%= image_tag 'letter-q.png' %>
            </div>
            <!-- LETTER BOX -->
            <div class="col-md-8 col-sm-12 vertical-center column-2 desk-content pl-5 aos-init aos-animate">
                <h1 class="text-wrap mb-4" style="font-size: 54px;">A QA Team That Ensures No Bugs, Covers More Than 95% Test Cases, <br> <span class="servicedot">And Tests For Usability</span></h1>
                <p class="banner-content mb-30">Our team of test engineers helps you to reap the benefits of automation and manual testing - maximizing productivity, enhancing user experience, ensuring that team is able to work around the clock.</p>
                <%= link_to "Let’s Discuss Your Needs!", new_user_path, class: "apd-fill-btn convert_case" %>
            </div>
            <!-- BANNER CONTENT -->
            </div>
        </section>
        <section class="mobile-banner-content aos-init aos-animate" >
             <h1 class="text-wrap mb-4">A QA Team That Ensures No Bugs, Covers More Than 95% Test Cases, <br> <span class="servicedot">And Tests For Usability</span></h1>
            <p class="banner-content mb-4">Our team of test engineers helps you to reap the benefits of automation and manual testing - maximizing productivity, enhancing user experience, ensuring that team is able to work around the clock.</p>
            <a class="apd-fill-btn convert_case" href="#">Let’s Discuss Your Needs!</a>
        </section>
        <!-- BANNER SECTION END -->
        <section class="apd-casestudy-infocontainer mt-6">

            <div class="apd-app-box-wrap bg-dark-purple aos-init" >
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title mb-3">Grindr</div>
                    <p class="apd-casestudy-description">Since launching in 2009, Grindr has quickly grown into the<br> world's largest social networking app for gay, bi-curious<br> and queer men. Our QA and DevOps team<br> helped them accommodate hundreds of requests/per<br> second helping them reach 3M DAU.</p>
                    <a class="apd-white-bordered-btn" href="#">View Case Study <img class="ml-3" src="./qa_files/btn-arrow.png" alt=""></a>
                </div>
                <!-- CASE STUDY INFO -->
                <div class="apd-casestudy-img text-right">
                    <%= image_tag 'laptop-1.png' %>
                </div>
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
            <div class="apd-app-box-wrap bg-green aos-init" >
                <div class="apd-casestudy-img text-left">
                    <%= image_tag 'laptop-2.png' %>
                </div>
                <!-- CASE STUDY IMG -->
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title text-right mb-3">UberConference</div>
                    <p class="apd-casestudy-description text-right">A revolutionary cloud communication system<br> currently used by 45000+ companies was tested by<br> JMW. We did both manual and automated<br> testing of every feature on every device to ensure<br> easy and quick adoption.</p>
                    <a class="apd-white-bordered-btn" href="#">View Case Study <img class="ml-3" src="./qa_files/btn-arrow.png" alt=""></a>
                </div>
                <!-- CASE STUDY INFO -->
            </div>
            <!-- APD-APP BOX WRAP-->
            <div class="apd-app-box-wrap bg-purple-down aos-init" >
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title mb-3">Waitlist</div>
                    <p class="apd-casestudy-description strat-o-matic">The easiest and most effective way to manage waitlists<br> and reservations. We are Waitlist’s core technology team<br> since 2012, originally a Google Venture backed company.<br> We have helped them cut hosting expenses to one fifth,<br> and increase footprint ten folds.</p>
                    <a class="apd-white-bordered-btn" href="#">View Case Study <img class="ml-3" src="./qa_files/btn-arrow.png" alt=""></a>
                </div>
                <!-- CASE STUDY INFO -->
                <div class="apd-casestudy-img text-right">
                    <%= image_tag 'laptop-3.png' %>
                </div>
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
        </section>
        <!-- apd Casestudy Section END -->
        <section class="frameworks-section aos-init" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-5">
                        <%= image_tag 'space-grey.png' %>
                    </div>
                    <div class="col-sm-12 col-lg-7">
                        <h2 class="section_heading text-left col-sm-12 pl-0">Quality Assurance Services : Your Software Will Do Better.</h2>
                        <div class="award-description text-left">
                            <p>In this digital era, we believe in enabling organisations big and small to cater to their customers' demands with the best experience possible across the majority of devices. As a leading QA company in London, our QA engineers help our clients become resilient by increasing their business agility and future-proofing their organization while ensuring speed and efficiency.</p>
                            <p>As a top-tier Quality Assurance consultancy, we offer the full spectrum of software testing services, from designing a coherent QA strategy doing functionality and performance testing to regression, automation, and localization to establishing company-wide code standards and providing ongoing support. Our team of QA consultants, Software Testing engineers are perfectly equipped to solve the most complex QA tasks, bringing you tangible business value.</p>
                            <%= link_to 'Discuss Your Android App Idea Today!', new_user_path, class: "apd-fill-btn convert_case" %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Framework Section -->
    </div>
    <!-- Three Box section -->
    <section class="cpt-box-section mb-4 aos-init" >
        <div class="container">
            <div class="row">
                <h2 class="section_heading col-sm-12 pl-0 pr-0 text-center">Building Solutions Across Platforms <br>That Are Reliable, Bug-Free, Scalable And User Friendly.</h2>
                <!-- <p class="text-center subHeadingWidth">We follow well-established practices and our Android app developers in London use Android’s advanced SDKs to deliver elegant apps with an extremely professional look and feel.</p> -->
                <div class="col-sm-12">
                    <div class="ios-librarie">
                        <ul>
                            <!-- 1 -->
                            <li>
                                <figure class="">
                                    <%= image_tag 'functional.svg' %>
                                </figure>
                                <p>Functional Testing</p>
                            </li>
                            <!-- 2 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'cross-platform-testing.svg' %>
                                </span>
                                <p>Cross-Platform Testing</p>
                            </li>
                            <!-- 3 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'security-testing.svg' %>
                                </span>
                                <p>Security Testing</p>
                            </li>
                            <!-- 4 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'configuration-testing.svg' %>
                                </span>
                                <p>Configuration Testing</p>
                            </li>
                            <!-- 5 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'system-testing.svg' %>
                                </span>
                                <p>System Testing</p>
                            </li>
                            <!-- 6 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'data-migration.svg' %>
                                </span>
                                <p>Data Migration Testing</p>
                            </li>
                            <!-- 7 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'platform-testing.svg' %>
                                </span>
                                <p>Platform Testing</p>
                            </li>
                            <!-- 8 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'complimernt.svg' %>
                                </span>
                                <p>Compatibility Testing</p>
                            </li>
                            <!-- 9 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'ui&usability.svg' %>
                                </span>
                                <p>UI &amp; Usability Testing</p>
                            </li>
                            <!-- 12 -->
                            
                            <!-- 11 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'performance.svg' %>
                                </span>
                                <p>Performance Testing</p>
                            </li>
                            <!-- 12 -->
                           
                            <!-- 13 -->
                            <li>
                                <span class="">
                                    <%= image_tag 'acceptance-testing.svg' %>
                                </span>
                                <p>Acceptance Testing</p>
                            </li>
                            <!-- 14 -->
                            
                            <!-- 15 -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- We Recognised -->


    <!-- TimeLine Section END -->
    <section class="zoho_consulting aos-init">
     <div class="container">
      <div class="row">
        <div class="col-md-12 text-center started_section">
          <h2 class="section_heading">We Provide High-quality Software Testing <br>Services To Improve Your Software Performance.</h2>
          <p>Our QA consultants thrive in fast-paced, and agile projects to define the best testing type for each case and effectively balance your automated tests and manual tests in a cost-effective manner.</p>
          <p>We offer full software testing services across all platforms, in multiple environments. We perform a mix of automated and manual testing processes to ensure that your application works perfectly while engaging and retaining users.</p>
        </div>
      </div>
      <div class="col-md-12 text-center started_section">
          <h2 class="section_heading mb-5">Discuss How JMW Can Transform Your <br>Idea Into An Aspiring Reality!</h2>
      </div>
      <!-- Three Cards -->
      <div class="row align-items-stretch get_started maxWidthManage justify-content-center">
        <div class="col-sm-12 col-lg-4 col-md-12">
          <div class="card text-center">
            <div class="card-header">
                Streamlining your <br>QA processes.
            </div>
            <div class="card-body">
              <p class="card-text">Whether you need to build a structured QA strategy with clearly defined roles and responsibilities, or enhance your QA procedures,our QA consultants have got your back.</p>

            </div>
            <div class="card-footer">
              <%= link_to "Hire QA Team Now!", new_user_path, class: "btn btn-primary consult_btn"%>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12">
          <div class="card text-center">
            <div class="card-header">
                Addressing QA <br>bottlenecks
            </div>
            <div class="card-body">
              <p class="card-text">Experiencing problems with QA team composition, task allocation, or communication within your QA unit? Spending too much time on fixing bugs right before a release? Our QA consulting experts can solve these issues.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary consult_btn">Talk To Our QA Specialists</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12">
          <div class="card text-center">
            <div class="card-header">
                Optimizing QA <br>costs
            </div>
            <div class="card-body">
              <p class="card-text">As a leading quality assurance service provider, we’ll consult you on the optimal QA methodologies, team structure, tech stack, and testing types to dramatically reduce cost per change.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary consult_btn">Optimize Costs Today</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Three Box -->
     </div>
   </section>
   <!-- weqweq -->
    <section class="development_services aos-init">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 started_section">
                    <h2 class="section_heading">As A Top Quality Assurance <br>Service Provider, We Do It All!</h2>
                    <p class="">We deliver an uncompromised quality through a complete and thorough testing approach, offering a competitive advantage of a reliable and efficient software solution.</p>
                    <ul>
                        <li>
                            <p>QA Audit</p>
                        </li>
                        <li>
                            <p>QA Consultancy</p>
                        </li>
                        <li>
                            <p>Test Management</p>
                        </li>
                        <li>
                            <p>On-Demand Testing Services</p>
                        </li>
                        <li>
                            <p>Automation Testing</p>
                        </li>
                        <li>
                            <p>System and Platform Testing</p>
                        </li>
                        <li>
                            <p>Performance Testing</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 col-lg-5">
                    <div class="row half-ligh-purple">
                        <div class="col-sm-4 col-4">
                            <ul class="first-list">
                                <li>
                                    <%= image_tag 'qaat.svg' %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="second-list">
                                <li>
                                    <%= image_tag 'qualitrix-testing.svg' %>
                                </li>
                                <li>
                                    <%= image_tag 'qa-const.svg' %>
                                </li>
                                <li>
                                    <%= image_tag 'system-platform.svg' %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="third-list">
                                <li>
                                    <%= image_tag '3.svg' %>
                                </li>
                                <li>
                                    <%= image_tag 'setting.svg' %>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Development Services -->
   <section class="apd-app-leading-company aos-init">
        <div class="apd-company-wrap text-center">
            <div class="lead-container container">
              <h3 class="text-center">We Are Recognised As A Leading Software Development Agency In London.</h3>
              <div class="img-section">
                <ul class="recognize_logo">
                  <!--<li><img src="../img/zoho-analytics/recognize-logo-1.png"></li>-->
                  <li>
                    <%= image_tag '100.png' %>
                  </li>
                <li>
                 <%= image_tag 'recognize-logo-2.png' %>
                </li>
                <li>
                  <%= image_tag 'recognize-logo-3.png' %>
                </li>
                <li>
                  <%= image_tag 'recognize-logo-4.png' %>
                <!-- <p class="award_name">Best Web Design Agency <br> in London 2020 </p> -->
                </li>
                <li><%= image_tag 'top2022.png' %></li>
                <li><%= image_tag 'Gcloud-c.png' %></li>
                </ul>
              </div>
              <%= link_to "Hire Now", new_user_path, class: "white_btn" %>
            </div>
        </div>
    </section>
    <!-- APD TRANSFORM IDEA END -->
    <!-- Review Slider -->
    <!-- Developing Section Start -->

<section class="zoho_developing aos-init">
  <div class="container">
  <div class="zoho_consulting_wrap">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading text-center same-pages">
          Developing Solutions For A Range Of Business Domains.
        </h2>
        <h2 class="section_heading text-center digital-marketing">
          We Serve a Wide Range of Industries.
        </h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 zoho_developing_list">
        <ul>
          <li>
            <img src="./qa_files/mobile.png" alt="">
            <p>Enterprise Mobility</p>
          </li>
          <li>
            <img src="./qa_files/partner.png" alt="">
            <p>Social Networks Apps</p>
          </li>
          <li>
            <img src="./qa_files/alexa.png" alt="">
            <p>Fintech Apps</p>
          </li>
          <li>
            <img src="./qa_files/health.png" alt="">
            <p>Health &amp; Fitness Apps</p>
          </li>
          <li>
            <img src="./qa_files/cart.png" alt="">
            <p>E-Commerce Mobile Apps</p>
          </li>
          <li>
            <img src="./qa_files/piano.png" alt="">
            <p>Music &amp; Entertainment Apps</p>
          </li>
          <li>
            <img src="./qa_files/joystick.png" alt="">
            <p>iGaming and Fantasy Sports Apps</p>
          </li>
          <li>
            <img src="./qa_files/education.png" alt="">
            <p>Education Apps</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Developing Section END -->

  <script>
    $('.apd-testimonial').owlCarousel({
        loop:true,
        margin:20,
        smartSpeed: 1000,
        nav:true,
        dots: false,
        autoplay:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
  </script>    <!-- Review Slider -->


<!-- FOOTER -->
<%= render 'home/footer' %>
    <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./qa_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
  </div><ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled"><div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./qa_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div></ins>

    <script src="./qa_files/jquery-ui.min.js"></script>
    <script src="./qa_files/jquery.ui.touch-punch.min.js"></script>








    <!-- Mainly scripts -->
    <script src="./qa_files/script.js"></script>
    <script>

      $(document).ready(function(){

        var sync4 = $('#web-development-slider');

          // Start Carousel
          sync4.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : false,
              responsive: true,
              autoHeight:true
          });

          var sync2 = $('#work-mobile-carousel-01'),
          sync1 = $('#text-carousel');

          // Sync nav
          $('#carousel-controls .owl-next').on('click', function () {
              sync1.trigger('next.owl.carousel')
              sync2.trigger('next.owl.carousel')
              sync3.trigger('next.owl.carousel')
          });
          $('#carousel-controls .owl-prev').on('click', function () {
              sync1.trigger('prev.owl.carousel')
              sync2.trigger('prev.owl.carousel')
              sync3.trigger('prev.owl.carousel')
          });

          // Start Carousel
          sync1.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : false
          });

          sync2.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              nav : false,
              rtl: true
          });

          var testimonial = $("#testimonialSlider");

          testimonial.owlCarousel({
              center : true,
              loop : true,
              items : 1,
              margin:0,
              nav : true,
              responsive: true,
              autoHeight:true,
              navText: ["<img loading="lazy" src='../img/slide-prev-white.png' alt='Slider Previous' title='Slider Previous'>", "<img loading="lazy" src='../img/slide-next-white.png' alt='Slider Next' title='Slider Next'>"],
              autoplay:true,
              autoplayTimeout:8000
          });


          $('.stats-box').each(function (i, value) {
            $(this).hover(function (e) {
                $('.stats-box').removeClass('active');
                $(this).addClass('active');
            }, function () {

            });
          });

          var winWidth = $(window).width();


          $('.embedded-video .play-btn').on('click', function(ev) {
            if(winWidth > 1024) {
              $('.embedded-video').addClass('play');
              $("#iframe_id")[0].src += "&autoplay=1";
              ev.preventDefault();
            } else {
              $('#myModal').modal('show');
            }
          });

          $('#myModal').on('hidden.bs.modal', function () {
            $('#myModal iframe')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
          });

          // $('#iframe_id').on('click', function(event) { alert("iframe contents clicked"); });
      });


        // $('#iframe_id').load(function(){
        //   alert('heree');
        //   $(this).contents().find("body").on('click', function(event) { alert('test'); });
        // });

        // var oFrame = document.getElementById("iframe_id");
        // oFrame.contentWindow.document.onclick = function() {

        // };
        $(window).resize(function() {
          var winWidth = $(window).width();

          if($('.embedded-video').hasClass('play')) {
            $('.embedded-video').removeClass('play');
          }

          // $('.embedded-video img').on('click', function(ev) {
          //   if(winWidth > 1024) {
          //     $('.embedded-video').addClass('play');
          //     $("#iframe_id")[0].src += "&autoplay=1";
          //     ev.preventDefault();
          //     alert('case 1');
          //   } else {
          //     $('#myModal').modal('show');
          //     alert('case 2');
          //   }
          // });
        });


    </script>
    <script>
        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

        $('ul.tabs-platform li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs-platform li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
      })

    </script>

    <!-- TECH SLIDER JS -->
    <script>
        $('.apd-testimonial').owlCarousel({
            loop:true,
            margin:10,
            smartSpeed: 1000,
            autoplay:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
        })
    </script>
    <script>
        $(".apd-exp-box").hover(function(){
    $(this).toggleClass("hovered");
  });
    </script>



<div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;"><div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"></div><div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div><div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div><div style="z-index: 2000000000; position: relative;"><iframe title="recaptcha challenge expires in two minutes" src="./qa_files/bframe.html" name="c-lxg5ypbpgeo6" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" style="width: 100%; height: 100%;"></iframe></div></div><script async="" charset="UTF-8" src="./qa_files/en.js"></script><iframe src="./qa_files/aframe.html" width="0" height="0" style="display: none;"></iframe></body><iframe id="google_esf" name="google_esf" src="./qa_files/zrt_lookup.html" style="display: none;"></iframe><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
