<%= render 'home/header'%>
<div id="accordion" class="mega-menu-section" style="display: none">
  <div class="tab-heading-link">
    <a href="#">What We Do</a>
    <span class="close_menu">
      <img src="./web_development.html_files/close.svg" width="12" alt="Close">
    </span>
  </div>
  <!-- Mobile App Development -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
          <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
          Mobile App Development
        </a> -->

        <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="menuIcon"><img src="./web_development.html_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>

          <img src="./web_development.html_files/down-arrow.svg" alt="Navigation">
        </button>
      </h5>
    </div>
  </div>
</div>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<!--End of Tawk.to Script-->
    <div class="container big-container mobile-app-container">
        <section class="banner apd-banner mad-banner aos-init aos-animate" >
            <div class="row" style="margin-top: 85px">
            <div class="col-md-4 col-sm-12 column-1 text-center aos-init aos-animate" >
                <%= image_tag "letter-w.png",class: "letter_name", alt: "Web Application Development" %>
            </div>
            <!-- LETTER BOX -->
            <div class="col-md-8 col-sm-12 vertical-center column-2 desk-content pl-5 aos-init aos-animate">
                <h1 class="text-wrap mb-4">Custom Web Application Development <span class="servicedot">Organization In India</span></h1>
                <p class="banner-content mb-30">We have had the pleasure of partnering with dozens of companies of various sizes, verticals, and focuses to help them build: new websites, web applications, and web portals enabling them to engage with their customers, automate processes, and help align their workflows. We work as technology consultant, integrator and implementer.</p>
                 <%= link_to "Let’s Discuss Your Idea!", contact_path, class: "apd-fill-btn "%>
            </div>
            <!-- BANNER CONTENT -->
            </div>
        </section>

        <!-- BANNER SECTION END -->
        <section class="apd-casestudy-infocontainer mt-6">

            <div class="apd-app-box-wrap bg-dark-purple aos-init aos-animate">
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title">Upshift Cars</div>
                    <p class="apd-casestudy-description"> Our mission is to eliminate car ownership,<br>car accidents, and carbon emissions while<br>creating living jobs and livable cities.</p>

                    <a class="apd-white-bordered-btn" href="">View Case Study <img class="ml-3" src="./web_development.html_files/btn-arrow.png" alt="" width="" height=""></a>
                </div>
                <!-- CASE STUDY INFO -->
            
                    <div class="apd-casestudy-img text-right" style="position: relative; height: 50%">
                        <%= image_tag "laptop-1.png", alt: "Web Application Development porsche" %>
                        <div style="position: absolute;width: 82%;top: 5px;left: 45px">
                        <%= image_tag "upshift.png",style: "height: 279px; border-radius: 10px;"%>
                         </div>
                    </div>
                    
             
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
            <div class="apd-app-box-wrap bg-green aos-init">
                <div class="apd-casestudy-img text-left" style="position: relative; height: 50%">
                    <%= image_tag "laptop-2.png", alt: "Web Application Development porsche" %>
                    <div style="position: absolute;width: 82%;top: 0px;left: 45px;">
                        <%= image_tag "cialfo.png", style: "height: 279px; border-radius: 10px"%>
                     </div>
                </div>
                <!-- CASE STUDY IMG -->
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title text-right">Cialfo</div>
                    <p class="apd-casestudy-description text-right">We support high school students and their counselors<br>throughout the early career exploration<br>and college search and selection process. Read our story.</p>

                    <a class="apd-white-bordered-btn float-right" href="#"><img class="mr-3" src="./web_development.html_files/btn-arrow-left.png" alt=""> View Case Study</a>
                </div>
                <!-- CASE STUDY INFO -->
            </div>
            <!-- APD-APP BOX WRAP-->
            <div class="apd-app-box-wrap bg-purple-down aos-init">
                <div class="apd-casestudy-info">
                    <div class="apd-casestudy-title">Inkl</div>
                    <p class="apd-casestudy-description strat-o-matic">We created inkl to solve two bedrock problems in the world today.<br>We say “bedrock" because we see these two <br>  problems as the foundation for a much larger array of macroeconomic and social issues. </p>

                    <a class="apd-white-bordered-btn" href="#">View Case Study <img class="ml-3" src="./web_development.html_files/btn-arrow(1).png" alt="" width="" height=""></a>
                </div>
                <!-- CASE STUDY INFO -->
                <div class="apd-casestudy-img text-right" style="position: relative; height: 50%">
                        <%= image_tag "laptop-3.png", alt: "Web Application Development porsche" %>
                        <div style="position: absolute;width: 82%;top: -23px;left: 40px">
                        <%= image_tag "inkl.png",style: "height: 279px; border-radius: 10px;"%>
                         </div>
                    </div>
                <!-- CASE STUDY IMG -->
            </div>
            <!-- APD-APP BOX WRAP -->
        </section>
        <!-- apd Casestudy Section END -->
        <section class="apd-digital-experience aos-init">
            <div class="apd-inner-wrap">
                <div class="apd-experience-title text-center">
                    <h2 class="section_heading">JMW, A Web Development Company In<br>  India where Experience Meets Innovation.</h2>
                    <p>We have been named as the Leading Web Development Company in India by various
                    leading independent B2B ratings providers such as Clutch, Appfutura etc. We offer integrated project engagement, which includes our teams working with you on strategy, design, content, development, and support/maintenance services. Our main goal is to create an experience that communicates directly with your target audiences and get them engaged with your web platforms.</p>
                </div>
                <div class="apd-listbox">
                    <ul class="apd-experience-list">
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>20+</h3>
                                <p>Web Platforms Designed And Developed</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>30+</h3>
                                <p>Web Developers And Website Designers Under One Roof</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>2+</h3>
                                <p>Years In Web Development Business</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>5+</h3>
                                <p>Fortune 500 Clients</p>
                            </div>
                        </li>
                        <li>
                            <div class="apd-exp-box text-center">
                                <h3>45M+</h3>
                                <p>Funds Raised</p>
                            </div>
                        </li>
                    </ul>
                    <%= link_to "Let's Talk", contact_path, :class => "apd-fill-btn madTalkSeo" %>
                </div>
            </div>
        </section>
        <!-- apd Casestudy Section END -->
        <section class="apd-what-we-do mt-70 aos-init" >
            <div class="apd-detail-wrap">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="apd-img-wrap">
                            <%= image_tag "side-grey.png", alt: "custom web development company in india " %>
                        </div>
                    </div>
                    <!-- COL-6 -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="apd-abt-content ">
                            <h3>What We Do? Our Approach to<br> Web Development Services.</h3>
                            <p>Based on our 13+ years of experience, our team of web developers offshore and onshore have built a delivery framework that leverages modern tools, best practices, and our know-how of technology to design, build, and launch web solutions with scalability, resiliency and seamless UI/UX. Our entire team of website developers based in India, USA and India are focussed on delivering a solution architected to just work.</p>
                            <p>We start with a discovery workshop to help build on the idea and transform it into data-led product design. A PoC (Proof-of-Concept), also called MVP (Minimum Viable Product) development is our first step to ensure the feasibility of your idea and how you can make the right decisions from the very start.</p>
                            <p>Whether you need to develop a full product or hire a team of 2 nearshore web developers or a full stack developer to get your project over the finishing line, we are here for you!</p>

                        </div>
                    </div>
                    <!-- col-6 -->
                </div>
            </div>
        </section>
        <!--  -->
        <section class="frameworks-section aos-init">
            <div class="container">
                <div class="row">
                    <h2 class="section_heading text-center col-sm-12">As A Top Web Development Agency In India, We Have A Secret Recipe For Delivering Successful Web Solutions.</h2>
                    <div class="col-sm-12">
                        <div class="award-description">
                            <%= image_tag "agency.png", alt: "bespke web development sevices in india" %>

                            <a class="apd-fill-btn" href="#" style="margin-left: 27rem;">Let’s Discuss Your Dev Requirements!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Framework Section -->
    </div>
    <!-- Three Box section -->


    <!-- We Recognised -->
    <section class="development_services aos-init">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 started_section">
                    <h2 class="section_heading">Every Service For Your Web App.</h2>
                    <p>We deliver what we promise. We leverage tools, frameworks, and our years of knowledge and expertise to help you build everything web. Our specialist teams of web developers have worked on numerous projects of varying complexity and size.</p>
                    <ul>
                        <li>
                            <p>SaaS Applications</p>
                        </li>
                        <li>
                            <p>Progressive Web App</p>
                        </li>
                        <li>
                            <p>Custom Marketplace Development</p>
                        </li>
                        <li>
                            <p>E-Commerce Web Application</p>
                        </li>
                        <li>
                            <p>Enterprise Software Development</p>
                        </li>
                        <li>
                            <p>Desktop App Development</p>
                        </li>
                        <li>
                            <p>Website Design and Development</p>
                        </li>
                        <li>
                            <p>Support and Maintenance</p>
                        </li>
                        <li>
                            <p>DevOps</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 col-lg-5">
                    <div class="row half-ligh-purple">
                        <div class="col-sm-4 col-4">
                            <ul class="first-list">
                                <li>
                                    <%= image_tag "1l.svg", alt: "SaaS Application" %>
                                </li>
                                <li>
                                  <%= image_tag "4l.svg", alt: "progressive web app " %>
                                </li>
                                <li>
                                  <%= image_tag "7.svg", alt: "Custom marketplace development " %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="second-list">
                                <li>
                                    <%= image_tag "3l.svg", alt: "E-commerce web application" %>
                                </li>
                                <li>
                                  <%= image_tag "surface1.svg", alt: "enterprise software development " %>
                                </li>
                                <li>
                                  <%= image_tag "8.svg", alt: "Desktop app development " %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-4">
                            <ul class="third-list">
                                <li>
                                    <%= image_tag "2l.svg", alt: "website design and development " %>
                                </li>
                                <li>
                                   <%= image_tag "8.svg", alt: "support and maintenance " %>
                                </li>
                                <li>
                                   <%= image_tag "9.svg", alt: "devOps" %>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
   <%= render 'home/footer'%>