<!DOCTYPE html>
<!-- saved from url=(0028)https://www.scnsoft.com/blog -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.scnsoft.com/blog">
    <title>IT (Information Technology) Blog - ScienceSoft </title>
    <meta name="description" content="Thought leadership from professional Information Technology specialists on CRM, Collaboration, BI, Information Security and other topics. The latest research-driven IT articles, findings, trends, and tips by industries and technologies. ">
    <link rel="alternate" hreflang="en" href="https://www.scnsoft.com/blog">
    <link rel="alternate" hreflang="de" href="https://www.scnsoft.de/blog">
    <meta property="og:image" content="https://www.scnsoft.com/bundles/app/img/areas/sciencesoft-logo-2.png">
    <link href="https://www.scnsoft.com/blog?page=2" rel="next">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/OpenSans-Regular-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/OpenSans-Semibold-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/OpenSans-Bold-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/OpenSans-Italic-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/OpenSans-BoldItalic-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://www.scnsoft.com/bundles/app/fonts/s-icons.woff" as="font" type="font/woff" crossorigin="anonymous">
    <script src="./blog_index_files/644810142980759" async=""></script><script async="" src="./blog_index_files/fbevents.js"></script><script async="" src="./blog_index_files/clarity.js"></script><script type="text/javascript" async="" src="./blog_index_files/ca3ma8u01l"></script><script type="text/javascript" async="" src="./blog_index_files/js"></script><script type="text/javascript" async="" src="./blog_index_files/f.txt"></script><script type="text/javascript" async="" src="./blog_index_files/analytics.js"></script><script gtm="GTM-595S4NT" type="text/javascript" async="" src="./blog_index_files/optimize.js"></script><script gtm="GTM-595S4NT" type="text/javascript" async="" src="./blog_index_files/optimize(1).js"></script><script type="text/javascript" async="" defer="" src="./blog_index_files/insight.min.js"></script><script type="text/javascript" async="" src="./blog_index_files/piwik.js"></script><script async="" src="./blog_index_files/saved_resource"></script><script type="text/javascript">
      window.editmode = 0;
      window.language = 'en';
      window.isRtl = document.getElementsByTagName('html')[0].getAttribute('dir') === 'rtl';
      window.translations = {
                      "Please, type your full name": "Please, type your full name",
                      "Please, type your company name": "Please, type your company name",
                      "Please, type your email": "Please, type your email",
                      "Please, type your phone number": "Please, type your phone number",
                      "Please, type your first name": "Please, type your first name",
                      "Please, type your last name": "Please, type your last name",
                      "The text should be not longer than 4096 symbols": "The text should be not longer than 4096 symbols",
                      "Type your message here": "Type your message here",
                      "Please, type your full name": "Please, type your full name",
                      "Please, type work email": "Please, type work email",
                      "Please, type your needs": "Please, type your needs",
                      "Please, type correct email": "Please, type correct email",
                      "Type your correct phone number": "Type your correct phone number",
                      "Please enter phone number": "Please enter phone number",
              };
    </script>
    <script type="text/javascript">
      (function(w,d,s,l){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s);j.async=true;j.src=
          'https://scnsoft-com.scnsoft.workers.dev';f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer');
    </script>
    <script type="text/javascript">
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-37313680-1', 'auto');
    </script>
    <script type="text/javascript">
      window._paq = window._paq || [];

      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['setSessionCookieTimeout', 3600]); // 60min, default=30min
      _paq.push(['setCustomVariable', 2, 'Page Type', ' Blog Article', 'page']);
      _paq.push(['setCustomVariable', 4, 'SEO Keywords Properties', '{"category":"ScienceSoft","topic":"IT blog"}', 'page']);

      (function() {
          var u='https://piwik.scnsoft.com/';
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 1]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <script type="text/javascript">
      _linkedin_partner_id = "426516";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function(){
          var s = document.getElementsByTagName("script")[0];
          var b = document.createElement("script");
          b.type = "text/javascript";
          b.rel = "preconnect";
          b.async = true;
          b.defer = true;
          b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
          s.parentNode.insertBefore(b, s);
      })();
    </script>
    <script type="application/javascript">
      var APP_ID = "u82mdhaf";

      window.intercomSettings = {
          app_id: APP_ID,
          show_livechat: 0,
          delay_livechat: 5000,
      };

      var w=window;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;

      _paq.push([function () {
          Intercom('update', {piwikVisitorId: this.getVisitorId()});
      }]);
    </script>
    <link rel="stylesheet" href="./blog_index_files/8203.355d25c6.css">
    <link rel="stylesheet" href="./blog_index_files/main.1f93ec6f.css">
    <link rel="stylesheet" href="./blog_index_files/blog_page.5f66ae83.css">
    <script src="./blog_index_files/runtime.028c55ae.js" defer="" type="text/javascript"></script><script src="./blog_index_files/9755.053bc300.js" defer="" type="text/javascript"></script><script src="./blog_index_files/6055.5b9bc6db.js" defer="" type="text/javascript"></script><script src="./blog_index_files/1022.796957e0.js" defer="" type="text/javascript"></script><script src="./blog_index_files/5306.598de61d.js" defer="" type="text/javascript"></script><script src="./blog_index_files/6813.972e45cc.js" defer="" type="text/javascript"></script><script src="./blog_index_files/8080.c036d3a8.js" defer="" type="text/javascript"></script><script src="./blog_index_files/8661.03fa5cbb.js" defer="" type="text/javascript"></script><script src="./blog_index_files/1038.da341ca5.js" defer="" type="text/javascript"></script><script src="./blog_index_files/6884.5353dab1.js" defer="" type="text/javascript"></script><script src="./blog_index_files/2732.18785b94.js" defer="" type="text/javascript"></script><script src="./blog_index_files/4782.293c8e2d.js" defer="" type="text/javascript"></script><script src="./blog_index_files/8203.d905079f.js" defer="" type="text/javascript"></script><script src="./blog_index_files/main.794ed6c9.js" defer="" type="text/javascript"></script>
    <script src="./blog_index_files/blog_page.bba1000e.js" defer="" type="text/javascript"></script>
    <script type="text/javascript">
      var _ptg = _ptg || {};
      _ptg.options = _ptg.options || {};



    </script>
    <script async="" src="./blog_index_files/targeting.js" type="text/javascript"></script>
    <meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <script type="text/javascript" async="" src="./blog_index_files/f(1).txt"></script>
  </head>
  <body class="
    " data-track-source="Site" data-new-gr-c-s-check-loaded="14.1084.0" data-gr-ext-installed="" piwik-id="2275d03c86b38dbe">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-595S4NT"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <noscript>
      <p><img src="https://https://piwik.scnsoft.com//piwik.php?idsite=1" alt="" style="border:0"/></p>
    </noscript>
    <noscript>
      <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=426516&fmt=gif
        https://px.ads.linkedin.com/collect/?pid=426516&fmt=gif"/>
    </noscript>
   <%= render 'home/header' %>
    <!--[if IE]><!-- zone: content --><!--[endif]---->
    <main id="maincontent" class="page-main lowercase-headers">
      <div class="container blog-list-page" data-track-source="Blog Page">
        <div class="breadcrumbs j-breadcrumb  " data-track-source="Breadcrumbs">
          <ul class="breadcrumbs__list " itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" id="breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
              <a class="breadcrumbs__item-link" href="https://www.scnsoft.com/" title="Home" itemtype="http://schema.org/Thing" itemprop="item" data-piwik-event="Breadcrumb menu,click,Home">
                <span class="breadcrumbs__title" itemprop="name">Home</span>
                <meta itemprop="position" content="1">
              </a>
            </li>
            <li class="breadcrumbs__item" id="breadcrumb_2" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
              <i class="icon-s-slider-arrow breadcrumbs__icon"></i>
              <a class="breadcrumbs__item-link" href="https://www.scnsoft.com/blog" itemtype="http://schema.org/Thing" itemprop="item" data-piwik-event="Breadcrumb menu,click,Blog">
                <span class="breadcrumbs__title" itemprop="name">Blog</span>
                <meta itemprop="position" content="2">
              </a>
            </li>
          </ul>
        </div>

        <div class="category-description"></div>
        <div class="row articles-wrapper" data-page="1" data-total="661">
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'smart-inventory-system.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">Smart Inventory System for Efficient Inventory Management</h4>
                <div class="article-description">Smart inventory management system: benefits, key techs, real-life use cases from global market giants. By ScienceSoft, 10 years in supply chain software dev.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Sergey Legchekov
                  </div>
                  <div class="article-date">
                    <time>Oct 2, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'inventory-counting-best-practices.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">Best Practices for Inventory Counting: Automating Manual Tasks</h4>
                <div class="article-description">ScienceSoft reviews the key challenges of inventory counting, describes best practices, and explains the role of technology in ensuring maximum accuracy.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Sergey Legchekov
                  </div>
                  <div class="article-date">
                    <time>Sep 13, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'iot-in-banking-and-financial-services.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">IoT for Smart Banking and Finance</h4>
                <div class="article-description">ScienceSoft describes the role of IoT in banking and finance, reviews its benefits, and gives examples of how leading BFSI orgs take advantage of the tech</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Boris Shiklo
                  </div>
                  <div class="article-date">
                    <time>Sep 5, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'iot-for-oil-and-gas.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">IoT: a Technological Advancement for Oil &amp; Gas</h4>
                <div class="article-description">ScienceSoft defines the role of IoT in Oil &amp; Gas, describes its advantages, and provides examples of how real businesses in the industry leverage the tech.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Boris Shiklo
                  </div>
                  <div class="article-date">
                    <time>Aug 10, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'automotive-iot.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">Automotive IoT: Smarter Vehicles, Optimized Car Manufacturing</h4>
                <div class="article-description">ScienceSoft describes the role of IoT in the automotive industry, discusses its benefits, and explores how IoT is being used in various industry segments.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Boris Shiklo
                  </div>
                  <div class="article-date">
                    <time>Aug 9, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'iot-supply-chain-management-and-logistics.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Internet of Things
                </div>
                <h4 class="article-title">IoT for Smarter Supply Chain Management and Logistics</h4>
                <div class="article-description">ScienceSoft outlines the use of IoT in managing supply chains and logistics, reviews its benefits, and describes how global brands leverage the tech in 2022.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Sergey Legchekov
                  </div>
                  <div class="article-date">
                    <time>Aug 1, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
               <%= image_tag 'staffing-software.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Software Development
                </div>
                <h4 class="article-title">Asset Management Software: Types of Assets Covered, Advantages, and Popular Products</h4>
                <div class="article-description">ScienceSoft defines and categorizes asset management, discusses useful features of asset management software, and describes popular asset management products.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Boris Shiklo
                  </div>
                  <div class="article-date">
                    <time>Apr 13, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'gray-box-pen-testing-1.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Information Security
                </div>
                <h4 class="article-title">Gray Box Penetration Testing: Essence, Value, Execution</h4>
                <div class="article-description">Learn what you need to know about gray box penetration testing, including its benefits and how to conduct it in your organization.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Uladzislau Murashka
                  </div>
                  <div class="article-date">
                    <time>Apr 13, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
          <div class="article-block col-lg-4 col-md-6 col-sm-12">
            <a href="#" class="article-wrapper">
              <div class="article-image-wrapper">
                <%= image_tag 'asset-management-software.png' %>
              </div>
              <div class="article-content-wrapper">
                <div class="article-categories">
                  Software Development
                </div>
                <h4 class="article-title">Staffing Software: Key Capabilities and Top Products</h4>
                <div class="article-description">Explore key capabilities of software for temporary or long-term staffing including applicant tracking, CRM, and accounting and top products.</div>
                <div class="article-footer">
                  <div class="article-author">
                    By Vladimir Stepuro
                  </div>
                  <div class="article-date">
                    <time>Mar 17, 2022</time>
                  </div>
                </div>
                <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <!--[if IE]><!-- ~zone: content --><!--[endif]---->
    <!--[if IE]><!-- zone: footer --><!--[endif]---->
    <%= render 'home/footer' %>
    <!--[if IE]><!-- ~zone: footer --><!--[endif]---->
    <div class="scrolling back-to-top d-none">
      <div class="scrolling-icon" style="margin: 263px auto 0px;"><i class="icon-s-scroll-icon"></i></div>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "ScienceSoft",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "5900 S. Lake Forest Drive Suite 300",
          "addressLocality": "McKinney, Dallas area",
          "addressRegion": "TX",
          "postalCode": "75070"
        },
        "pricerange": "$$$",
          "email": "contact@scnsoft.com",
        "telePhone": "+1 214 306 68 37",
        "openingHours": "Mo,Tu,We,Th,Fr, 08:00-18:00",
        "openingHoursSpecification": [ {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "08:00",
          "closes": "18:00"
        } ],
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "33.145384",
          "longitude": "-96.680436"
        },
        "image": "https://www.scnsoft.com/logos/sciencesoft-blue-background-logo.svg"
      }
    </script><script type="application/ld+json">
      {"@context":"http://schema.org",
      "@type":"Organization",
      "url":"https://www.scnsoft.com",
      "name":"ScienceSoft",
      "logo":"https://www.scnsoft.com/logos/sciencesoft-blue-background-logo.svg",
      "email":"contact@scnsoft.com",
      "address": {
          "@type": "PostalAddress",
          "streetAddress": "5900 S. Lake Forest Drive Suite 300",
          "addressLocality": "McKinney, Dallas area",
          "addressRegion": "TX",
          "postalCode": "75070"
        },
          "telePhone": "+1 214 306 68 37"
      }
    </script><script type="application/ld+json">
      {"@context":"http://schema.org",
      "@type":"WebSite",
      "url":"https://www.scnsoft.com",
      "name":"ScienceSoft",
      "sameAs":["https://www.linkedin.com/company/sciencesoft/",
      "https://web.facebook.com/sciencesoft.solutions/",
      "https://twitter.com/ScienceSoft",
      "https://www.pinterest.com/sciencesoft/"]
      }
    </script><script type="text/javascript" id="">try{(function(){var a=google_tag_manager["GTM-595S4NT"].macro(3);a="undefined"==typeof a?google_tag_manager["GTM-595S4NT"].macro(4):a;var b=new Date;b.setTime(b.getTime()+18E5);var c="gtm-session-start";b=b.toGMTString();var d="/";document.cookie=c+"\x3d"+a+"; Expires\x3d"+b+"; Path\x3d"+d})()}catch(a){};</script><script type="text/javascript" id="">function _classCallCheck(d,c){if(!(d instanceof c))throw new TypeError("Cannot call a class as a function");}function _defineProperties(d,c){for(var a=0;a<c.length;a++){var b=c[a];b.enumerable=b.enumerable||!1;b.configurable=!0;"value"in b&&(b.writable=!0);Object.defineProperty(d,b.key,b)}}function _createClass(d,c,a){c&&_defineProperties(d.prototype,c);a&&_defineProperties(d,a);return d}
      (function(){window.dataLayer=window.dataLayer||[];try{var d=function(){function c(){_classCallCheck(this,c);this.minimumScroll=google_tag_manager["GTM-595S4NT"].macro(5);this.minimumTime=google_tag_manager["GTM-595S4NT"].macro(6);this.sessionStart=google_tag_manager["GTM-595S4NT"].macro(7);this.checkScrollFunc=this.checkScroll.bind(this);var a=this.getScrollDepthTimeCookie();void 0===a?window.addEventListener("scroll",this.checkScrollFunc):0<=a?this.initIntervalCheck():this.setScrollDepthTimeCookie(-1)}_createClass(c,[{key:"checkScroll",value:function(){this.getCurrentScrollPercent()>=
      this.minimumScroll&&(window.removeEventListener("scroll",this.checkScrollFunc),this.setScrollDepthTimeCookie(this.getSessionSeconds()),this.initIntervalCheck())}},{key:"initIntervalCheck",value:function(){var a=this,b=setInterval(function(){a.getSessionSeconds()>=a.minimumTime&&(dataLayer.push({event:"scroll-depth-time",scrollDepthTimeMoment:a.getScrollDepthTimeCookie()}),clearInterval(b),a.setScrollDepthTimeCookie(-1))},1E3)}},{key:"getScrollDepthTimeCookie",value:function(){var a=document.cookie.match(/(?:^|; )gtm-scroll-depth-time=([^;]*)/);
      return a?+a[1]:void 0}},{key:"setScrollDepthTimeCookie",value:function(a){var b=new Date;b.setTime(b.getTime()+18E5);document.cookie="gtm-scroll-depth-time\x3d"+a+"; Expires\x3d"+b.toGMTString()+"; Path\x3d/"}},{key:"getSessionSeconds",value:function(){if(void 0!==this.sessionStart&&0<this.sessionStart){var a=new Date;return Math.round((a.getTime()-this.sessionStart)/1E3)}}},{key:"getCurrentScrollPercent",value:function(){var a=document.documentElement,b=document.body,e="scrollTop",f="scrollHeight";
      return(a[e]||b[e])/((a[f]||b[f])-a.clientHeight)*100}}]);return c}();new d}catch(c){}})();
    </script><script type="text/javascript" id="">(function(){try{var a=window,c=a.setTimeout;try{var b=/Android|webOS|iPhone|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)||window.matchMedia("(max-width: 767px)").matches}catch(d){b=!1}c.call(a,function(){dataLayer.push({event:"afterLoad"})},b?5E3:1500)}catch(d){}})();</script>
    <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","644810142980759");fbq("track","PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=644810142980759&amp;ev=PageView&amp;noscript=1"></noscript>
  </body>
  <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
