 <div id="sidebar-footer" class="footer-widgets" role="complementary" style="    border: 10px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;">
        <div class="container">
          <div class="row">
            <div class="sidebar-column col-md-3" >
              <section id="text-3" class="widget widget_text">
                <div class="textwidget">
                  <p><!-- <img loading="lazy" class="alignnone size-full wp-image-708" src="./Just Mind Work – Indore_files/Just-Mind-Work(1).png" alt="" width="200" height="40"> -->
                    <%= image_tag "Just-Mind-Work.png",class: "alignnone size-full wp-image-708"%>
                 
                  </p>
                </div>
              </section>
            </div>
            <div class="sidebar-column col-md-3">
              <section id="text-2" class="widget widget_text">
                <h3 class="widget-title" style="font-weight: 700;font-family: monospace!important;">Quick Links</h3>
                <li>
                  <ul class="sublinks">
                    <li><%= link_to "Company", root_path%></li>
                    <li><%= link_to "What We Do", what_we_do_path%></li>
                    <li><%= link_to "Our Services", our_services_path%></li>
                    <li><%= link_to "Contact Us", new_user_path%></li>
                    <li><%= link_to "Devops", services_devops_path%></li>
                    <li><a href="#">Blog</a></li>
                   </ul>
                  </li>
              </section>
            </div>
            <div class="sidebar-column col-md-3" style="margin-top: -75px">
              <section id="custom_html-2" class="widget_text widget widget_custom_html">
                <h3 class="widget-title" style="font-weight: 700;font-family: monospace!important;">Contact Us</h3>
                <div class="textwidget custom-html-widget">
                  <h3 style="font-size: 700; color: #595959; font-family: monospace!important;">
                    +91 81093 37859
                  </h3>
                  admin@justmindwork.com <br> <br>
                  413, Satguru Parinay Opposite C21 Mall, AB Rd, Scheme 54 PU4, Indore, Madhya Pradesh 452011
                </div>
              </section>
            </div>
            <div class="sidebar-column col-md-3" style="margin-top: -225px;">
                <div class="footer-contacts footer-copyright padleft marginTop3" style="height: 51px;font-weight: 700;font-family: monospace!important;font-size: 21px;text-align: center;">
              <h3 class="media-icones" style="">Lets Connect</h3>
              <ul class="" style="width: 200px;align-items: center;margin-left: 44px;">
                <li class="facebook" style="position: relative;left: -38px;">
                  <a href="https://www.facebook.com/justmindwork/" target="_blank">
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="#4267B2" xmlns="https://www.w3.org/2000/svg">
                      <path d="M8.87102 3.40333C9.93007 3.40333 11.7172 3.40333 11.7172 3.40333V0C11.7172 0 10.4596 0 8.80483 0C7.15007 0 3.11245 0.123758 3.11245 4.57903V7.42545H0.00149536V10.9525H3.11245V21.967H7.6134V11.0144H11.2539L11.7172 7.48733H7.6134V4.64091C7.6134 4.64091 7.81197 3.40333 8.87102 3.40333Z" fill="#4267B2"></path>
                    </svg>
                  </a>
                </li>
                <li class="twitter" style="position: relative;left: -58px;">
                  <a href="https://twitter.com/i/flow/login" target="_blank">
                    <svg width="23" height="19" viewBox="0 0 23 19" fill="#1DA1F2" xmlns="https://www.w3.org/2000/svg">
                      <path d="M19.668 3.586C20.503 2.95636 21.1453 2.26376 21.4022 1.3193C20.6315 1.63412 19.9249 1.88597 19.2184 2.13783C18.9615 2.20079 18.6403 2.38968 18.3191 2.13783C17.6768 1.50819 16.9061 1.13041 16.0068 1.00448C14.4653 0.752626 13.1164 1.13041 11.9603 2.13783C10.9326 3.08229 10.4187 4.2786 10.5472 5.6638C10.5472 5.91565 10.5472 6.16751 10.5472 6.41936C10.5472 6.41936 10.4187 6.41936 10.2261 6.41936C8.42759 6.23047 6.75759 5.78973 5.21605 4.9712C4.05989 4.40452 2.96797 3.64896 2.0045 2.64154C1.81181 2.45265 1.36219 1.82301 1.23373 1.69708C1.23373 1.69708 0.912576 2.13783 0.655652 2.83043C0.270267 4.21563 0.52719 5.53787 1.49065 6.73418C1.74758 7.049 2.06873 7.30086 2.38989 7.61567C2.38989 7.67864 2.32566 7.67864 2.32566 7.7416C1.74758 7.55271 1.10527 7.42678 0.52719 7.23789C0.398728 8.74902 1.42642 10.8268 3.93143 11.7083C3.35335 11.7083 2.77527 11.7713 2.13296 11.7713C2.90373 13.6602 4.25258 14.6047 6.30797 14.8565C4.38104 16.2417 2.32566 16.8084 0.0775757 16.7454C0.0775757 16.7454 7.65682 20.901 14.2726 16.4306C15.3645 15.675 19.1541 12.5898 19.7965 6.73418C19.7965 6.67122 19.9249 5.47491 19.9892 4.9712C19.9892 4.9712 21.0811 4.34156 22.0445 3.08228C21.2095 3.27118 20.503 3.586 19.668 3.586Z" fill="#1DA1F2"></path>
                    </svg>
                  </a>
                </li>
                <li class="linkedin" style="position: relative;left: -70px;">
                  <a href="https://www.linkedin.com/company/justmindwork/?trk=seo-authwall-base_nav-header-logo/?originalSubdomain=in" target="_blank">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="#0077B5" xmlns="https://www.w3.org/2000/svg">
                      <path d="M2.83229 0.464462C1.49723 0.464462 0.404907 1.55679 0.404907 2.89185C0.404907 4.22691 1.49723 5.31923 2.83229 5.31923C4.16735 5.31923 5.25968 4.22691 5.25968 2.89185C5.19899 1.55679 4.16735 0.464462 2.83229 0.464462Z" fill="#0077B5"></path>
                      <path d="M5.02005 6.89686H0.650757V20.1868H5.02005V6.89686Z" fill="#0077B5"></path>
                      <path d="M15.392 6.59367C13.6928 6.59367 12.5398 7.38257 11.6902 8.4142V6.89709H7.32092V20.187H11.6902V12.4194C11.8116 10.7202 13.0253 10.2954 13.8749 10.2954C14.7851 10.2954 15.8775 10.7202 15.8775 13.1476V20.187H20.2467V13.1476V10.7809C20.2467 10.8416 20.004 6.59367 15.392 6.59367Z" fill="#0077B5"></path>
                    </svg>
                  </a>
                </li>
                <li class="insta" id="instag"style="position: relative;left: 23px;top: -28px!important;">
                  <a href="https://www.instagram.com/justmindwork/?igshid=YmMyMTA2M2Y%3D" target="_blank">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="https://www.w3.org/2000/svg">
                      <path d="M0.925028 6.61775C0.925028 5.28269 1.16777 3.94763 1.89599 2.79462C2.6242 1.7023 3.59516 1.03477 4.80885 0.609973C6.02254 0.185181 7.23623 0.185181 8.44993 0.185181C10.8166 0.185181 13.1833 0.185181 15.55 0.185181C16.8851 0.185181 18.1595 0.488604 19.2518 1.21682C20.5262 2.0664 21.3151 3.2801 21.5578 4.73653C21.7399 5.58611 21.8005 6.49638 21.8005 7.40665C21.8005 9.9554 21.8005 12.5042 21.7399 15.0529C21.7399 16.1452 21.4971 17.2376 20.8903 18.2085C20.1621 19.3615 19.1911 20.1504 17.856 20.5752C16.6423 20.9393 15.4287 21 14.215 21C11.9089 21 9.54225 21 7.23623 21C6.02254 21 4.80884 20.7573 3.7772 20.2111C2.50283 19.4829 1.71393 18.4513 1.22845 17.0555C0.925028 16.1452 0.864349 15.1743 0.864349 14.2033C0.925034 14.0213 0.864344 8.55966 0.925028 6.61775ZM2.92762 15.7204C3.04899 16.6914 3.47379 17.6017 4.32337 18.2692C5.17296 18.876 6.08322 19.1188 7.11486 19.1188C10.2705 19.1795 13.3654 19.3008 16.521 18.9974C17.2492 18.9367 17.856 18.694 18.4022 18.2692C19.4945 17.4803 19.8586 16.3273 19.8586 15.0529C19.9193 12.6862 19.9193 10.3802 19.9193 8.0135C19.9193 7.16391 19.8586 6.31433 19.7979 5.52543C19.6766 4.61516 19.3125 3.82626 18.6449 3.15873C17.856 2.4912 16.9458 2.18777 15.9141 2.18777C13.3654 2.12709 10.8166 2.12709 8.26787 2.12709C7.3576 2.12709 6.38664 2.12709 5.47637 2.43051C3.89857 2.91599 3.10968 4.12968 2.98831 5.58611C2.80626 7.34597 2.80625 14.5068 2.92762 15.7204Z" fill="url(#paint0_linear)"></path>
                      <path d="M11.3625 5.28244C14.2754 5.28244 16.7634 7.64914 16.7028 10.6834C16.7028 13.7176 14.154 16.0236 11.3018 16.0236C8.32828 16.0236 5.9009 13.5962 5.96158 10.6227C6.02227 7.58846 8.38896 5.22176 11.3625 5.28244ZM14.8215 10.6834C14.8822 8.86283 13.3044 7.16366 11.3625 7.16366C9.48129 7.16366 7.90349 8.74146 7.90349 10.562C7.90349 12.5039 9.4206 14.0817 11.4232 14.0817C13.2437 14.0817 14.8215 12.5039 14.8215 10.6834Z" fill="url(#paint1_linear)"></path>
                      <path d="M16.9457 6.31529C16.2781 6.37598 15.6713 5.76913 15.6713 5.1016C15.6713 4.43407 16.2781 3.82722 16.9457 3.82722C17.6739 3.82722 18.22 4.43407 18.22 5.1016C18.22 5.70845 17.6739 6.37598 16.9457 6.31529Z" fill="url(#paint2_linear)"></path>
                      <defs>
                        <linearGradient id="paint0_linear" x1="19.9024" y1="1.64964" x2="2.32881" y2="19.2232" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#8A3AB9"></stop>
                          <stop offset="0.34375" stop-color="#CD486B"></stop>
                          <stop offset="0.6875" stop-color="#FBAD50"></stop>
                          <stop offset="1" stop-color="#FCCC63"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="19.9024" y1="1.64964" x2="2.32881" y2="19.2232" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#8A3AB9"></stop>
                          <stop offset="0.34375" stop-color="#CD486B"></stop>
                          <stop offset="0.6875" stop-color="#FBAD50"></stop>
                          <stop offset="1" stop-color="#FCCC63"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="19.9024" y1="1.64964" x2="2.32881" y2="19.2232" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#8A3AB9"></stop>
                          <stop offset="0.34375" stop-color="#CD486B"></stop>
                          <stop offset="0.6875" stop-color="#FBAD50"></stop>
                          <stop offset="1" stop-color="#FCCC63"></stop>
                        </linearGradient>
                      </defs>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div>
              <section id="custom_html-1" class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget">
                  <p style="margin-top:20px">
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <footer id="colophon" class="site-footer">
        <div class="container-fluid footer-copyright-bg">
    <div class="row">
      <ul style="margin: 5px auto !important;">
        <li>© JMW 2022 — All Rights Reserved.</li>
        <li><a>Legal Notice</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>

      </footer>
      <!-- #colophon -->
    </div>
    <!-- Start of ChatBot (www.chatbot.com) code -->

<!-- End of ChatBot code -->
    <style>
      #sidebar-footer{
    margin-top: 100px;
    margin-bottom: 50px;
      }
      .sublinks{
        line-height: 50px;
      }
      #custom_html-2{
        line-height: 39px;
      }

    </style>