<%= render 'header' %>
  <div class="show-link">
    <div class="container big-container muli-family">
     <section class="page-banner gradient-blue aboutus-banner aos-init aos-animate" data-aos="fade-up" data-aos-delay="20">
          <div class="row" style="background-color: #ff6a006b; position: relative;
             top: 105px;">
              <div class="col-md-6 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="20">
                <!-- <img src="./about_us_files/aboutusbanner-img.png" alt="Zoho Analytics Partner" title="Zoho Analytics Partner"> -->
                <%= image_tag 'jmw1.png' %>
              </div>
              <div class="col-md-6 aos-init aos-animate" data-aos="fade-left"data-aos-delay="100">
               <h1>About Us<span class="dot"></span></h1>
                <p>At JMW, we want to be your end to end IT service organization, big enough to undertake your largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn contribute greatly to your success. </p>
                <button type="button" class="btn black-btn text-uppercase filled-btn mt-4 discussIdeaSeo" data-toggle="modal" data-target="#exampleModal">
                Say Hi To Our Team
               </button>
             </div>
          </div>
     </section>
    </div>
    <div class="container text-center" style="position: relative;top: 100px;">
      <h2 class="section-heading textPurpleColor mb-3">
          Our Story.
      </h2>
      <p>
        Life partners, Vinita, and Nilesh Rathi founded JMW to help solve three main issues for their clients - lack of in-house expertise, diverse experience, and limited talent pool. Giving clients the ability to spin/wind teams in a very limited time. In a very noisy/crowded environment, JMW distinguishes itself by embedding within its client’s ecosystem and becoming an integral part of their teams.
      </p>
      <p>
        Vinita was Vice President, Technology at Goldman Sachs, London, and regularly ran into issues while dealing with dev teams based in India. That’s when they thought of establishing a boutique <a href="http://justmindwork.com/">web and mobile development agency</a> that could deliver quality products and challenge the status quo. Determined to change work culture and India’s image in the western world, JMW, a web and mobile development agency with corporate headquarters in London, UK, and engineering headquarters in India was founded. Since then, it has organically grown to 350+ people and has become a leading digital transformation partner for businesses with offices across the globe in Australia, India, the USA, and the UK.
      </p>
    </div>
    <div id="social-navigation" class="social-navigation social-inner">
    <ul>
      <li>
        <a href="https://www.linkedin.com/company/justmindwork/" target="_blank">
          <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
            <g>
              <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707 c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21 v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824 C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463 c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z M5.477,420.56h92.184v-277.32H5.477V420.56z"></path>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank">
          <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
            <g>
              <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513 c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101 c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104 c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194 c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485 c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/justmindwork/" target="_blank">
          <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
            <g>
              <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803 c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654 c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246 c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://github.com/" target="_blank" class="gitlab">
          <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 602 360">
            <path d="M340.105,344.1c-53.643,0-114.492,4.964-159.982-18.082-53.288-26.947-55.887-99.632-24.222-132.488,30.721-31.793,70.893-20.21,118.628-20.092,11.225,0,13.588,1.891,24.222,2.009,17.841,0.236,30.247-1.655,48.916-1.891,10.4-.118,11.933-1.891,22.331-2.009,33.556-.473,51.279-1.891,74.556,23.046,28.711,30.493,26.112,100.814-14.888,128.588-22.449,15.247-52.461,20.919-89.561,20.919h0Zm31.783-97.5c0,52.475,46.908,45.147,46.908,3.782,0-45.975-46.908-42.429-46.908-3.782h0Zm-185.5,3.782c0,39.947,46.908,50.347,46.908-3.782,0-38.647-46.908-42.193-46.908,3.782h0ZM105.8,55.367c0,8.155.827,12.41,1.772,18.91,4.254,30.611,7.444,13.946-13,44.793C69.294,157.008,72.6,231.466,87.017,261.6c-37.81,0-50.1,2.245-82.472,3.781L1,265.5v5.909l3.663-.354c6.735-.473,13.588.354,20.323-0.355l63.922-3.427c1.3,5.436,3.308,8.627,5.671,13.119a543.122,543.122,0,0,0-85.426,6.382c-2.836.472-5.553,0.827-8.153,1.3v7.091l9.1-1.773c26.112-3.664,58.841-7.446,88.262-7.446,1.772,8.037,15.951,25.292,21.977,30.492C149.048,341.5,195.011,360.526,237.192,361c0.236-.118,124.89-0.473,125.953,0,24.576-.236,69.357-12.528,85.662-20.564,19.259-9.456,47.262-31.911,52.461-54.485L603,298.123v-9.691a621.239,621.239,0,0,0-97.951-8.036c4.726-20.447,15.6-11.819,33.674-11.229,15.833,0.473,32.611-1.536,47.971.71L603,271.532v-6.974c-30.484-2.6-60.969-2.954-92.4-2.954,7.207-14.892,5.434-37.348,7.8-57.912,4.136-35.575-7.8-73.631-28.593-101.169-18.55-24.582-7.326-7.091-7.326-58.384,0-11.937-5.317-43.139-15-43.139-43.245,0-84.008,33.8-88.026,33.8-10.4,0-40.763-7.564-84.362-7.564a367.166,367.166,0,0,0-52.225,4.018c-32.492,4.728-23.276,12.173-41.472-.236C181.423,17.429,150.466,1,117.028,1c-2.008,8.746-5.2,14.655-7.562,24.347a136.471,136.471,0,0,0-3.662,30.02h0Z" transform="translate(-1 -1)"></path>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/justmindwork/?igshid=YmMyMTA2M2Y%3D/" target="_blank">
          <svg id="Bold" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"></path><path d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"></path><circle cx="18.406" cy="5.595" r="1.439"></circle></svg>
        </a>
      </li>
      <li>
        <a href="http://justmindwork.com/" class="custom-blog">
          <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 438.156 452.25">
            <path d="M1,127.391v190C1,338.2,5.843,350.022,22.379,364.8c9.568,8.631,23.978,11.824,37.089,12.178l12.875-.591V464c8.268-1.891,40.277-26.247,48.191-31.8,12.521-8.631,60.239-43.628,71.46-49.658,8.623-4.729,21.852-6.148,34.963-6.148,13.347,0.118,111.5.946,120.243-.709,22.442-4.138,37.561-15.489,43.467-37.716,4.96-19.154,2.716-172.383,2.716-200.641-4.252,1.064-13.937,12.3-17.6,15.961-25.159,25.184-20.2,13.6-20.2,46.7V300.719c0,46.347,4.134,38.9-96.265,38.9-16.418,0-54.57-1.774-67.09.946-11.1,2.364-14.765,5.793-22.56,11L110.14,393.768v-54.15H59.35c-13.584,0-20.552-8.158-20.552-21.637v-182.9c0-30.622,25.4-23.765,56.223-23.765H257.2c11.575,0.118,9.331-1.182,24.1-15.961,5.2-5.2,16.772-15.607,20.2-20.809H128.566c-21.143,0-68.389-2.246-84.926,1.537A53.713,53.713,0,0,0,1,127.391H1ZM347.79,46.165c1.654,5.439,53.625,55.687,56.46,57.579,5.433-1.3,11.221-7.8,14.056-11.941-4.489-6.621-21.616-22.11-28.466-28.967-3.662-3.665-25.395-27.194-30-28.376Zm21.852-20.336c1.417,5.2,52.207,54.387,55.16,56.279,15.71-10.641,20.2-25.893,5.079-40.909C414.172,25.711,396.69,1,379.091,16.843c-1.653,1.537-8.74,8.04-9.449,8.986h0ZM183.254,267.023c-7.678-11.35-8.977-.591-2.481-24,1.418-4.848,4.253-12.651,4.607-17.144,4.134,2.719,3.662,4.256,10.749,4.375,6.732,0.118,8.622,1.064,15.237,1.064,0,12.3-1.772,19.745,5.315,25.893-5.67.473-11.458,3.074-17.009,4.611-4.607,1.3-12.166,3.074-16.418,5.2h0Zm-23.86,23.765c6.969,0,43.94-11.942,53.507-14.661,23.387-6.621,22.679-10.05,40.868-28.376,5.552-5.557,139.732-129.7,142.921-134.312l-57.64-58.17c-5.316,3.547-148.237,139.4-160.993,151.455-9.922,9.341-7.8,8.631-14.292,32.16-2.717,9.7-5.434,18.562-8.268,28.494-1.654,5.793-9.922,23.41,3.9,23.41h0Z" transform="translate(-1 -11.75)"></path>
          </svg>
        </a>
      </li>
      <li class="last"><span>Follow Us</span></li>
    </ul>
    </div>
    <section>
    <div class="bgPurpleColor">
      <div class="container py-5">
        <p class="text-center text-white pera mx-auto">
        We are a team of interesting, creative, hard-working 30s-something people that believe quality should be tight and experience should be stellar.
        </p>
      </div>
    </div>
    </section>
    <section>
      <div class="leaders_portfolio">
          <div class="ourLeadersContainer mx-auto">
            <div class="bgGray p-4">
                <div class="row align-items-start  profile">
                  <div class="col-md-3 text-right">
                    <h3>
                      Charismatic
                    </h3>
                    <p>
                      Leaders
                    </p>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                    <html>
                    <head>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    </head>
                    <body>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                         <%#= image_tag 'employee.jpeg'%>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e1.png' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e2.jpg' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    </body>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e3.jpg'  %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e4.jpg', class: 'e4_img_styling' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e6.webp', class: 'profile_img_styling'  %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    </html>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center child-con">
          <div class="col-md-4">
            <div class="whatWeDo">
              <h2 class="section-heading">
              What We Do <br>
              In A Snapshot.
              </h2>
              <p>
              <a href="#">Check our technology and services  portfolio.</a>
              </p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row align-items-start">
              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "consultancy.svg" %>
                    </figure>
                    <h3>
                    Technical <br> consultancy.
                    </h3>
                    <p>
                    To numerous startups, enterprises, hedge funds, and banks on how to leverage the power of technology.
                    </p>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "zoho(1).svg" %>
                    </figure>
                    <h3>
                    Zoho Consulting and <br> implementation.
                    </h3>
                    <p>
                    We are Zoho Analytics and CRM implementation partners.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "fullcycle.svg" %>
                    </figure>
                    <h3>
                    Full-Cycle Development Team.
                    </h3>
                    <p>
                    For web, mobile app development, data scientists for data analysis and visualisation, QA - manual and automation, and DevOps.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "tech.svg" %>
                    </figure>
                    <h3>
                    Offer on-demand Tech Resources.
                    </h3>
                    <p>
                      For all your technology needs.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "startups.svg" %>
                    </figure>
                    <h3>
                      Invest in <br> Start-ups.
                    </h3>
                    <p>
                      as early-stage evangelists.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%#= image_tag "Github.svg" %>
                    </figure>
                    <h3>
                    Contribute to Open <br> Source Community.
                    </h3>
                    <p>
                      on Github and Redmine.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
          <h2 class="section-heading text-center textPurpleColor">
            Our Competence Is Evident.
          </h2>
          <div class="row ">
            <!-- 1 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag('gptw-logo.png', class: 'img_styling')   %>
                </figure>
                <p>
                  Great Place To Work <br> Certified 2022-2023
                </p>
              </div>
            </div>
            <!-- 2 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag('Gcloud.png', class: 'img_styling')  %>
                </figure>
                <p>
                G-Cloud 12 Supplier by <br> Gov UK G-Cloud Team
                </p>
              </div>
            </div>
            <!-- 3 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'careers-logo-02.png', class: 'img_styling'  %>
                </figure>
                <p>
                Top App Development <br> Company in UK
                </p>
              </div>
            </div>
            <!-- 4 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'software_developers.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Software <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 5 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'image.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Most Reviewed <br>Blockchain Company
                </p>
              </div>
            </div>
            <!-- 6 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'wordpress.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Wordpress <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 7 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag("circle.svg", class: "img_styling")  %>
                </figure>
                <p>
                  CoinTelegraph <br>Innovation Circle 2022
                </p>
              </div>
            </div>
            <!-- 8 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'react-native.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top React Native <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 9 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'top2020.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Design Agency <br> In India
                </p>
              </div>
            </div>
            <!-- 10 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'zoho-analytics.svg', class: 'img_styling'  %>
                </figure>
                <p>
                Zoho Analytics <br> Partner
                </p>
              </div>
            </div>
            <!-- 11 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'top--2021.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Fastest Growing Company <br>2021
                </p>
              </div>
            </div>
            <!-- 12 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                   <!-- <a href="https://www.softwareworld.co/top-web-design-development-companies/" rel="nofollow" target="_blank"><img src="./about_as_files/Web-Design-Developmet-Companies.png"></a> -->
                  <%= image_tag 'Web-Design-Developmet-Companies.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Web Design &amp; <br>Development Company
                </p>
              </div>
            </div>
            <!-- 19 -->
          </div>
      </div>
    </section>
  </div>



<%= render 'footer' %>


<style type="text/css">
   <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .flip-card-back {
      background-color: #ff6a006b;
      color: white;
      transform: rotateY(180deg);
    }
  .profile{
    background-color: #ff6a006b;
  }
  .num{
    position: relative;
    left: -309px;
    bottom: -22px;
  }
  .d-block{
    position: relative;
    left: -311px;
    bottom: -24px;
  }
 figure{
    margin: 0 0 1rem;
    width: 138px;

 }
  .social-navigation li a {
    position: relative;
    color: #0b7;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 60px;
    text-align: center;
    transition: .5s;
    padding: 0;
    cursor: pointer;
    border: 2px solid #fff;
}

.social-navigation li.last {
    position: relative;
    height: 135px;
    font-weight: 700;
    letter-spacing: .4px;
}
.social-navigation.social-inner li {
    color: #2a2a2a;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.logo{
      height: 100%;
    width: auto;
    position: relative;
    top: 32px;
    right: -48px;
}
.child-con{
   position: relative;
      background-color: gainsboro;
}
.table{
    position: relative;
    top: 170px;
      }
.img_styling{
  height:  90px;
}
.profile_img_styling{
  height:  436px;
}
.e4_img_styling{
  height: 221px;
}
</style>



<script type="text/javascript">
  // function changeTag(){
  //   let tag = document.querySelector(".show-link")
  //   tag.innerHTML = `<table class="table">
  //         <tbody>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //         </tbody>
  //       </table>`
  //   $(".myFooter").hide();
  // }
</script>
