<%= render 'header' %>
  <div class="show-link">
    <div class="container big-container muli-family">
     <section class="page-banner gradient-blue aboutus-banner aos-init aos-animate" data-aos="fade-up" data-aos-delay="20">
          <div class="row" style="background-color: #ff6a006b; position: relative;
             top: 105px;">
              <div class="col-md-6 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="20">
                <!-- <img src="./about_us_files/aboutusbanner-img.png" alt="Zoho Analytics Partner" title="Zoho Analytics Partner"> -->
                <%= image_tag 'jmw1.png' %>
              </div>
              <div class="col-md-6 aos-init aos-animate" data-aos="fade-left"data-aos-delay="100">
               <h1>About Us<span class="dot"></span></h1>
                <p>At JMW, we want to be your end to end IT service organization, big enough to undertake your largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn contribute greatly to your success. </p>
                <button type="button" class="btn black-btn text-uppercase filled-btn mt-4 discussIdeaSeo" data-toggle="modal" data-target="#exampleModal">
                Say Hi To Our Team
               </button>
             </div>
          </div>
     </section>
    </div>
    <div class="container text-center" style="position: relative;top: 100px;">
      <h2 class="section-heading textPurpleColor mb-3">
          Our Story.
      </h2>
      <p>
        Life partners, Vinita, and Nilesh Rathi founded JMW to help solve three main issues for their clients - lack of in-house expertise, diverse experience, and limited talent pool. Giving clients the ability to spin/wind teams in a very limited time. In a very noisy/crowded environment, JMW distinguishes itself by embedding within its client’s ecosystem and becoming an integral part of their teams.
      </p>
      <p>
        Vinita was Vice President, Technology at Goldman Sachs, London, and regularly ran into issues while dealing with dev teams based in India. That’s when they thought of establishing a boutique <a href="http://justmindwork.com/">web and mobile development agency</a> that could deliver quality products and challenge the status quo. Determined to change work culture and India’s image in the western world, JMW, a web and mobile development agency with corporate headquarters in London, UK, and engineering headquarters in India was founded. Since then, it has organically grown to 350+ people and has become a leading digital transformation partner for businesses with offices across the globe in Australia, India, the USA, and the UK.
      </p>
    </div>
    <section>
    <div class="bgPurpleColor">
      <div class="container py-5">
        <p class="text-center text-white pera mx-auto">
        We are a team of interesting, creative, hard-working 30s-something people that believe quality should be tight and experience should be stellar.
        </p>
      </div>
    </div>
    </section>
    <section>
      <div class="leaders_portfolio">
          <div class="ourLeadersContainer mx-auto">
            <div class="bgGray p-4">
                <div class="row align-items-start  profile">
                  <div class="col-md-3 text-right">
                    <h3>
                      Charismatic
                    </h3>
                    <p>
                      Leaders
                    </p>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                    <html>
                    <head>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    </head>
                    <body>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                         <%#= image_tag 'employee.jpeg'%>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e1.png' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e2.jpg' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    </body>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e3.jpg'  %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e4.jpg', class: 'e4_img_styling' %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <%= image_tag 'e6.webp', class: 'profile_img_styling'  %>
                        </div>
                        <div class="flip-card-back">
                          <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p>
                        </div>
                      </div>
                    </div>
                    </html>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center child-con">
          <div class="col-md-4">
            <div class="whatWeDo">
              <h2 class="section-heading">
              What We Do <br>
              In A Snapshot.
              </h2>
              <p>
              <a href="#">Check our technology and services  portfolio.</a>
              </p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row align-items-start">
              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "consultancy.svg" %>
                    </figure>
                    <h3>
                    Technical <br> consultancy.
                    </h3>
                    <p>
                    To numerous startups, enterprises, hedge funds, and banks on how to leverage the power of technology.
                    </p>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "zoho(1).svg" %>
                    </figure>
                    <h3>
                    Zoho Consulting and <br> implementation.
                    </h3>
                    <p>
                    We are Zoho Analytics and CRM implementation partners.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "fullcycle.svg" %>
                    </figure>
                    <h3>
                    Full-Cycle Development Team.
                    </h3>
                    <p>
                    For web, mobile app development, data scientists for data analysis and visualisation, QA - manual and automation, and DevOps.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "tech.svg" %>
                    </figure>
                    <h3>
                    Offer on-demand Tech Resources.
                    </h3>
                    <p>
                      For all your technology needs.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%= image_tag "startups.svg" %>
                    </figure>
                    <h3>
                      Invest in <br> Start-ups.
                    </h3>
                    <p>
                      as early-stage evangelists.
                  </p>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="snapshotWrp">
                  <figure>
                      <%#= image_tag "Github.svg" %>
                    </figure>
                    <h3>
                    Contribute to Open <br> Source Community.
                    </h3>
                    <p>
                      on Github and Redmine.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
          <h2 class="section-heading text-center textPurpleColor">
            Our Competence Is Evident.
          </h2>
          <div class="row ">
            <!-- 1 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag('gptw-logo.png', class: 'img_styling')   %>
                </figure>
                <p>
                  Great Place To Work <br> Certified 2022-2023
                </p>
              </div>
            </div>
            <!-- 2 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag('Gcloud.png', class: 'img_styling')  %>
                </figure>
                <p>
                G-Cloud 12 Supplier by <br> Gov UK G-Cloud Team
                </p>
              </div>
            </div>
            <!-- 3 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'careers-logo-02.png', class: 'img_styling'  %>
                </figure>
                <p>
                Top App Development <br> Company in UK
                </p>
              </div>
            </div>
            <!-- 4 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'software_developers.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Software <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 5 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'image.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Most Reviewed <br>Blockchain Company
                </p>
              </div>
            </div>
            <!-- 6 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'wordpress.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Wordpress <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 7 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag("circle.svg", class: "img_styling")  %>
                </figure>
                <p>
                  CoinTelegraph <br>Innovation Circle 2022
                </p>
              </div>
            </div>
            <!-- 8 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'react-native.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top React Native <br>Developers 2022
                </p>
              </div>
            </div>
            <!-- 9 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'top2020.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Design Agency <br> In India
                </p>
              </div>
            </div>
            <!-- 10 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'zoho-analytics.svg', class: 'img_styling'  %>
                </figure>
                <p>
                Zoho Analytics <br> Partner
                </p>
              </div>
            </div>
            <!-- 11 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                  <%= image_tag 'top--2021.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Fastest Growing Company <br>2021
                </p>
              </div>
            </div>
            <!-- 12 -->
            <div class="col-md-3">
              <div class="b2bAward">
                <figure>
                   <!-- <a href="https://www.softwareworld.co/top-web-design-development-companies/" rel="nofollow" target="_blank"><img src="./about_as_files/Web-Design-Developmet-Companies.png"></a> -->
                  <%= image_tag 'Web-Design-Developmet-Companies.png', class: 'img_styling'  %>
                </figure>
                <p>
                  Top Web Design &amp; <br>Development Company
                </p>
              </div>
            </div>
            <!-- 19 -->
          </div>
      </div>
    </section>
  </div>



<%= render 'footer' %>


<style type="text/css">
   <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .flip-card-back {
      background-color: #ff6a006b;
      color: white;
      transform: rotateY(180deg);
    }
  .profile{
    background-color: #ff6a006b;
  }
  .num{
    position: relative;
    left: -309px;
    bottom: -22px;
  }
  .d-block{
    position: relative;
    left: -311px;
    bottom: -24px;
  }
 figure{
    margin: 0 0 1rem;
    width: 138px;

 }
  .social-navigation li a {
    position: relative;
    color: #0b7;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 60px;
    text-align: center;
    transition: .5s;
    padding: 0;
    cursor: pointer;
    border: 2px solid #fff;
}

.social-navigation li.last {
    position: relative;
    height: 135px;
    font-weight: 700;
    letter-spacing: .4px;
}
.social-navigation.social-inner li {
    color: #2a2a2a;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.logo{
      height: 100%;
    width: auto;
    position: relative;
    top: 32px;
    right: -48px;
}
.child-con{
   position: relative;
      background-color: #ff6a006b;
}
.table{
    position: relative;
    top: 170px;
      }
.img_styling{
  height:  90px;
}
.profile_img_styling{
  height:  436px;
}
.e4_img_styling{
  height: 221px;
}
</style>



<script type="text/javascript">
  // function changeTag(){
  //   let tag = document.querySelector(".show-link")
  //   tag.innerHTML = `<table class="table">
  //         <tbody>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //         </tbody>
  //       </table>`
  //   $(".myFooter").hide();
  // }
</script>
