<%= render partial: "home/header" %>
<div class="show-link">
<section class="banner aos-init aos-animate" data-aos="fade-up" data-aos-delay="80">
  <div class="container big-container ">
    <div class="row">
      <div class="col-md-6 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="80">
        <div class="banner-img-thumb">
          <%= image_tag "Banner-image.png" ,class: "img-fluid" %>
        </div>
      </div>
      <div class="col-md-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="80">
        <h1 class="mb-4">We’re Superheroes/ Honest Devils/ Foodies/ Perfectionists<span class="dot"></span></h1>
        <p class="mb-4">“Jmw is an open working environment with a lot of transparency and employee freedom. JMW is a team not a bunch of individuals.”</p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid color-bgWhite ">
  <div class="container big-container ">
    <div class="row">
      <div class="col-md-12 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="top-content-wrapper">
          <h1 class="blueHeading">Our Values.</h1>
          <p>We believe in crafting truly exceptional digital experiences, so we’re looking for developers, designers, project managers, and business strategists to join us with their expertise.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "careerValues-1.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Have Fun</h2>
            <p>We want to cultivate a culture where we carry lightness and fun into our work. We find joy in builiding a product and company that we’re proud of. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "careerValues-2.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Be Bold</h2>
            <p>JMW is a place of our big ideas. We want our tribe to have clear opinions and be unafraid to stand up for them - and also to be humble and open to new information. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "careerValues-3.png" ,class: "img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Foster Inclusivity</h2>
            <p>We are creating an environment where everyone belongs and feels comfortable. Intergrity and Mutual respect is one the greatest virtues of JMW  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid color-bgWhite banner-col">
  <div class="container big-container">
    <div class="career-carousel owl-carousel owl-theme owl-loaded owl-drag">
      <!-- ITEM -->
      <!-- ITEM -->
      <!-- ITEM -->
      <!-- ITEM -->
      <!-- ITEM -->
      <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-8 w-50">
                  <div class="card-body">
                    <h5 class="card-title">Show &amp; Tell.</h5>
                    <p class="card-text">We are passionate about what we do, and we strive for <br> holistic development therefore we conduct ted talks each <br> month to give a golden opportunity to employee to showcase their talent.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-8 w-50">
                  <div class="card-body">
                    <h5 class="card-title">JMW Eve’s.</h5>
                    <p class="card-text">A JMW Eve allows employees to collaborate and learn to work together. It gives an opportunity to exchange ideas and talk to one another. We bring people together to partake in something everyone can enjoy - eating delicious food!</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango2.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
              <div class="row g-0">
                <div class="col-md-8 w-50">
                  <div class="card-body">
                    <h5 class="card-title">Onsite Event.</h5>
                    <p class="card-text">We at JMW&nbsp;ensure that by participating in our Onsite Events, our&nbsp;employees&nbsp;feel committed to the company goals and values and always feel motivated to contribute to organisational success, whilst at the same time enhancing their own sense of wellbeing.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango3.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <section class="looking-perks aos-init aos-animate section-d reveal" data-aos="fade-up" data-aos-delay="100">
      <div class="inner-wrap">
        <div class="container-fluid">
          <div class="container big-container">
            <div class="row">
              <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                <!-- <img src="./carries_files/looking-perks.png" alt="looking-perks"> -->
                <%= image_tag 'download-removebg-preview.png' %>
              </div>
              <div class="col-lg-8 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                <div class="content-wrap reveal">
                  <h2>Looking For Perks?</h2>
                  <p><strong>We have got you covered</strong></p>
                  <ul>
                    <li>Challenging projects with the opportunity to learn latest technologies like <br> ReactNative, amber.js, react.js.</li>
                    <li>Closely knit team of engineers who are passionate about what they do.</li>
                    <li>Continuous professional development and meaningful career growth.</li>
                    <li>A chance to work with global brands including Grindr, Deloitte, Porsche.</li>
                    <li>Work at a office facility based out of the prestigious Crystal IT Park.</li>
                    <li>Flexible working hours offering a great work life balance.</li>
                  </ul>
                </div>
              </div>
              <div class="apd-company-wrap text-center ">
                <!--  -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  <section class="apd-app-leading-company aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="apd-company-wrap text-center reveal">
      <div class="lead-container container">
        <h3 class="text-center">Recognised By World's Best For Building A Better Workplace.</h3>
        <div class="img-section">
          <ul class="recognize_logo">
            <li>
              <%= image_tag 'gptw-logo.png' %>
            </li>
            <li>
              <%= image_tag 'aon-hewitt-logo.png' %>
            </li>
            <li>
              <%= image_tag 'ceo-orientation.png' %>
            </li>
            <li>
              <%= image_tag 'gptw-logo.png' %>
            </li>
          </ul>
        </div>
        <!--  -->
      </div>
    </div>
  </section>
  <section class="work-with-us aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="inner-wrap reveal">
      <div class="container-fluid color-bgWhite">
        <div class="container big-container">
          <div class="content-wrap">
            <h2 class="text-center">Excited To Work With Us...</h2>
            <p class="subhead text-center">Let’s write some beautiful codes and make intuitive designs. This is what we’re crazy <br> about, and we are for the ones who feel the same.</p>
            <ul class="vacancy_lists">
              <li>

                <div class="vacancy-box vacancy-box1" onclick="div_clickable()">
                  <h4><%= link_to 'ROR Developer', new_user_path(select_language: "ROR Developer") %></h4>
                  <p>Experience : 3+ Years</p>
                  <p class="location">
                    <%= image_tag 'pin-hover.svg'  %>
                    Indore, India
                  </p>
                  <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                </div>
              </li>
              <li >
                <div class="vacancy-box vacancy-box2"  onclick="div_clickable()">
                  <h4><%= link_to 'Node JS Developer', new_user_path(select_language: "Node JS Developer")%></h4>
                  <p>Experience : 3+ Years</p>
                  <p class="location">
                    <%= image_tag 'pin-hover.svg'  %> Indore, India
                  </p>
                  <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                </div>
              </li>
              <li >
                <div class="vacancy-box vacancy-box3"  onclick="div_clickable()">
                  <h4> <%= link_to 'React JS Developer', new_user_path(select_language: "React JS Developer")%></h4>
                  <p>Experience : 3+ Years</p>
                  <p class="location">
                    <%= image_tag 'pin-hover.svg'  %> Indore, India
                  </p>
                  <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                </div>
              </li>
              <li>
                <div class="vacancy-box vacancy-box4"  onclick="div_clickable()">
                  <h4>
                    <%= link_to 'Python Developer', new_user_path(select_language: "Python Developer")%>
                  </h4>
                  <p>Experience : 5+ Years</p>
                  <p class="location">
                    <%= image_tag 'pin-hover.svg'  %> Indore, India
                  </p>
                  <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                </div>
              </li>
              <li>
                <div class="vacancy-box vacancy-box5"  onclick="div_clickable()">
                  <h4><%= link_to 'Technical Architect', new_user_path(select_language: "Technical Architect")%></h4>
                  <p>Experience : 7+ Years</p>
                  <p class="location">
                    <%= image_tag 'pin-hover.svg'  %> Indore, India
                  </p>
                  <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render partial: "home/footer" %>
<style>
  .banner{
  background-color: #ff6a006b !important;
  }
  .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  }
  .reveal.active{
  transform: translateY(0);
  opacity: 1;
  }
  .banner{
  background-color: #ff6a006b !important;
  padding: 146px;
  }
  .banner h1, .banner h2.heading-copy {
  font-size: 16px;
  letter-spacing: 0;
  position: relative;
  }
  .chg-img{
  width: 100%;
  height: 375px;
  }
  section-d{
  width: 1000px;
  }
  html{
  padding: 0;
  margin: 0;
  }
</style>
<script>
  function div_clickable(e){
    window.location = $(event.target).find('a').attr("href");
  }
  function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
  }

  window.addEventListener("scroll", reveal);

  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };


  // function changeTag(){
  //   let tag = document.querySelector(".show-link")
  //   tag.innerHTML = `<table class="table">
  //         <tbody>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //              <%#= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%#= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //         </tbody>
  //       </table>`
  //   $(".myFooter").hide();
  // }


</script>
