<%= render partial: "home/header" %>
  <div class="show-link">
      <section class="banner aos-init aos-animate" data-aos="fade-up" data-aos-delay="80">
            <div class="container big-container ">
                <div class="row">
                  <div class="col-md-6 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="80">
                    <div class="banner-img-thumb">
                            <%= image_tag "Banner-image.png" ,class: "img-fluid" %>

                    </div>
                  </div>
                  <div class="col-md-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="80">
                    <h1 class="mb-4">We’re Superheroes/ Honest Devils/ Foodies/ Perfectionists<span class="dot"></span></h1>
                    <p class="mb-4">“Jmw is an open working environment with a lot of transparency and employee freedom. JMW is a team not a bunch of individuals.”</p>
                  </div>
                </div>
            </div>
          </section>
       <div id="social-navigation" class="social-navigation social-inner">
        <ul>
          <li>
            <a href="https://www.linkedin.com/company/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
                <g>
                  <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707 c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21 v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824 C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463 c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z M5.477,420.56h92.184v-277.32H5.477V420.56z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <g>
                  <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513 c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101 c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104 c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194 c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485 c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                <g>
                  <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803 c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654 c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246 c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank" class="gitlab">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 602 360">
                <path d="M340.105,344.1c-53.643,0-114.492,4.964-159.982-18.082-53.288-26.947-55.887-99.632-24.222-132.488,30.721-31.793,70.893-20.21,118.628-20.092,11.225,0,13.588,1.891,24.222,2.009,17.841,0.236,30.247-1.655,48.916-1.891,10.4-.118,11.933-1.891,22.331-2.009,33.556-.473,51.279-1.891,74.556,23.046,28.711,30.493,26.112,100.814-14.888,128.588-22.449,15.247-52.461,20.919-89.561,20.919h0Zm31.783-97.5c0,52.475,46.908,45.147,46.908,3.782,0-45.975-46.908-42.429-46.908-3.782h0Zm-185.5,3.782c0,39.947,46.908,50.347,46.908-3.782,0-38.647-46.908-42.193-46.908,3.782h0ZM105.8,55.367c0,8.155.827,12.41,1.772,18.91,4.254,30.611,7.444,13.946-13,44.793C69.294,157.008,72.6,231.466,87.017,261.6c-37.81,0-50.1,2.245-82.472,3.781L1,265.5v5.909l3.663-.354c6.735-.473,13.588.354,20.323-0.355l63.922-3.427c1.3,5.436,3.308,8.627,5.671,13.119a543.122,543.122,0,0,0-85.426,6.382c-2.836.472-5.553,0.827-8.153,1.3v7.091l9.1-1.773c26.112-3.664,58.841-7.446,88.262-7.446,1.772,8.037,15.951,25.292,21.977,30.492C149.048,341.5,195.011,360.526,237.192,361c0.236-.118,124.89-0.473,125.953,0,24.576-.236,69.357-12.528,85.662-20.564,19.259-9.456,47.262-31.911,52.461-54.485L603,298.123v-9.691a621.239,621.239,0,0,0-97.951-8.036c4.726-20.447,15.6-11.819,33.674-11.229,15.833,0.473,32.611-1.536,47.971.71L603,271.532v-6.974c-30.484-2.6-60.969-2.954-92.4-2.954,7.207-14.892,5.434-37.348,7.8-57.912,4.136-35.575-7.8-73.631-28.593-101.169-18.55-24.582-7.326-7.091-7.326-58.384,0-11.937-5.317-43.139-15-43.139-43.245,0-84.008,33.8-88.026,33.8-10.4,0-40.763-7.564-84.362-7.564a367.166,367.166,0,0,0-52.225,4.018c-32.492,4.728-23.276,12.173-41.472-.236C181.423,17.429,150.466,1,117.028,1c-2.008,8.746-5.2,14.655-7.562,24.347a136.471,136.471,0,0,0-3.662,30.02h0Z" transform="translate(-1 -1)"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/justmindwork/?igshid=YmMyMTA2M2Y%3D/" target="_blank">
              <svg id="Bold" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"></path><path d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"></path><circle cx="18.406" cy="5.595" r="1.439"></circle></svg>
            </a>
          </li>
          <li>
            <a href="http://justmindwork.com/" class="custom-blog">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 438.156 452.25">
                <path d="M1,127.391v190C1,338.2,5.843,350.022,22.379,364.8c9.568,8.631,23.978,11.824,37.089,12.178l12.875-.591V464c8.268-1.891,40.277-26.247,48.191-31.8,12.521-8.631,60.239-43.628,71.46-49.658,8.623-4.729,21.852-6.148,34.963-6.148,13.347,0.118,111.5.946,120.243-.709,22.442-4.138,37.561-15.489,43.467-37.716,4.96-19.154,2.716-172.383,2.716-200.641-4.252,1.064-13.937,12.3-17.6,15.961-25.159,25.184-20.2,13.6-20.2,46.7V300.719c0,46.347,4.134,38.9-96.265,38.9-16.418,0-54.57-1.774-67.09.946-11.1,2.364-14.765,5.793-22.56,11L110.14,393.768v-54.15H59.35c-13.584,0-20.552-8.158-20.552-21.637v-182.9c0-30.622,25.4-23.765,56.223-23.765H257.2c11.575,0.118,9.331-1.182,24.1-15.961,5.2-5.2,16.772-15.607,20.2-20.809H128.566c-21.143,0-68.389-2.246-84.926,1.537A53.713,53.713,0,0,0,1,127.391H1ZM347.79,46.165c1.654,5.439,53.625,55.687,56.46,57.579,5.433-1.3,11.221-7.8,14.056-11.941-4.489-6.621-21.616-22.11-28.466-28.967-3.662-3.665-25.395-27.194-30-28.376Zm21.852-20.336c1.417,5.2,52.207,54.387,55.16,56.279,15.71-10.641,20.2-25.893,5.079-40.909C414.172,25.711,396.69,1,379.091,16.843c-1.653,1.537-8.74,8.04-9.449,8.986h0ZM183.254,267.023c-7.678-11.35-8.977-.591-2.481-24,1.418-4.848,4.253-12.651,4.607-17.144,4.134,2.719,3.662,4.256,10.749,4.375,6.732,0.118,8.622,1.064,15.237,1.064,0,12.3-1.772,19.745,5.315,25.893-5.67.473-11.458,3.074-17.009,4.611-4.607,1.3-12.166,3.074-16.418,5.2h0Zm-23.86,23.765c6.969,0,43.94-11.942,53.507-14.661,23.387-6.621,22.679-10.05,40.868-28.376,5.552-5.557,139.732-129.7,142.921-134.312l-57.64-58.17c-5.316,3.547-148.237,139.4-160.993,151.455-9.922,9.341-7.8,8.631-14.292,32.16-2.717,9.7-5.434,18.562-8.268,28.494-1.654,5.793-9.922,23.41,3.9,23.41h0Z" transform="translate(-1 -11.75)"></path>
              </svg>
            </a>
          </li>
          <li class="last"><span>Follow Us</span></li>
        </ul>
      </div>
       <div class="container-fluid color-bgWhite ">
            <div class="container big-container ">
                <div class="row">
                  <div class="col-md-12 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <div class="top-content-wrapper">
                        <h1 class="blueHeading">Our Values.</h1>
                        <p>We believe in crafting truly exceptional digital experiences, so we’re looking for developers, designers, project managers, and business strategists to join us with their expertise.</p>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <div class="row">
                      <div class="col-md-12">
                          <%= image_tag "careerValues-1.png" ,class: "img-fluid" %>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Have Fun</h2>
                        <p>We want to cultivate a culture where we carry lightness and fun into our work. We find joy in builiding a product and company that we’re proud of. </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                      <div class="col-md-12">
                            <%= image_tag "careerValues-2.png" ,class: "img-fluid" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Be Bold</h2>
                        <p>JMW is a place of our big ideas. We want our tribe to have clear opinions and be unafraid to stand up for them - and also to be humble and open to new information. </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 text-center aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <div class="row">
                      <div class="col-md-12">
                            <%= image_tag "careerValues-3.png" ,class: "img-fluid" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Foster Inclusivity</h2>
                        <p>We are creating an environment where everyone belongs and feels comfortable. Intergrity and Mutual respect is one the greatest virtues of JMW  </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="container-fluid color-bgWhite banner-col">
              <div class="container big-container">
                <div class="career-carousel owl-carousel owl-theme owl-loaded owl-drag">

                  <!-- ITEM -->

                  <!-- ITEM -->
                   <!-- ITEM -->

                  <!-- ITEM -->

                  <!-- ITEM -->


            <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
        <div class="row g-0">
           <div class="col-md-8 w-50">
            <div class="card-body">
              <h5 class="card-title">Show &amp; Tell.</h5>
              <p class="card-text">We are passionate about what we do, and we strive for <br> holistic development therefore we conduct ted talks each <br> month to give a golden opportunity to employee to showcase their talent.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
          </div>
        </div>
      </div>

          </div>
          <div class="carousel-item">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
        <div class="row g-0">
           <div class="col-md-8 w-50">
            <div class="card-body">
              <h5 class="card-title">JMW Eve’s.</h5>
              <p class="card-text">A JMW Eve allows employees to collaborate and learn to work together. It gives an opportunity to exchange ideas and talk to one another. We bring people together to partake in something everyone can enjoy - eating delicious food!</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango2.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
          </div>

        </div>
      </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 w-100 mx-auto" style="max-width: 1000px;">
        <div class="row g-0">
           <div class="col-md-8 w-50">
            <div class="card-body">
              <h5 class="card-title">Onsite Event.</h5>
              <p class="card-text">We at JMW&nbsp;ensure that by participating in our Onsite Events, our&nbsp;employees&nbsp;feel committed to the company goals and values and always feel motivated to contribute to organisational success, whilst at the same time enhancing their own sense of wellbeing.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 w-50">
                  <%= image_tag "life-at-systango3.png" ,class: "img-fluid d-block w-100", class: 'chg-img' %>
          </div>
        </div>
      </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      <section class="looking-perks aos-init aos-animate section-d reveal" data-aos="fade-up" data-aos-delay="100">
            <div class="inner-wrap">
              <div class="container-fluid">
                <div class="container big-container">
                  <div class="row">
                    <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                      <!-- <img src="./carries_files/looking-perks.png" alt="looking-perks"> -->
                      <%= image_tag 'download-removebg-preview.png' %>
                    </div>
                    <div class="col-lg-8 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                        <div class="content-wrap reveal">
                          <h2>Looking For Perks?</h2>
                          <p><strong>We have got you covered</strong></p>
                          <ul>
                            <li>Challenging projects with the opportunity to learn latest technologies like <br> ReactNative, amber.js, react.js.</li>
                            <li>Closely knit team of engineers who are passionate about what they do.</li>
                            <li>Continuous professional development and meaningful career growth.</li>
                            <li>A chance to work with global brands including Grindr, Deloitte, Porsche.</li>
                            <li>Work at a office facility based out of the prestigious Crystal IT Park.</li>
                            <li>Flexible working hours offering a great work life balance.</li>
                          </ul>
                        </div>
                    </div>
                    <div class="apd-company-wrap text-center ">
                <!--  -->
              </div>
            </div>
                  </div>
                </div>
            </div>
            </div>

          </section>
          <section class="apd-app-leading-company aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="apd-company-wrap text-center reveal">
              <div class="lead-container container">
                <h3 class="text-center">Recognised By World's Best For Building A Better Workplace.</h3>
                <div class="img-section">
                  <ul class="recognize_logo">
                    <li>
                      <%= image_tag 'gptw-logo.png' %>
                    </li>
                    <li>
                      <%= image_tag 'aon-hewitt-logo.png' %>
                    </li>
                    <li>
                      <%= image_tag 'ceo-orientation.png' %>
                    </li>
                    <li>
                      <%= image_tag 'gptw-logo.png' %>
                    </li>
                  </ul>
                </div>
                <!--  -->
              </div>
            </div>
          </section>
          <section class="work-with-us aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="inner-wrap reveal">
              <div class="container-fluid color-bgWhite">
                <div class="container big-container">
                  <div class="content-wrap">
                    <h2 class="text-center">Excited To Work With Us...</h2>
                    <p class="subhead text-center">Let’s write some beautiful codes and make intuitive designs. This is what we’re crazy <br> about, and we are for the ones who feel the same.</p>
                    <ul class="vacancy_lists">
                      <li><div class="vacancy-box"><h4><%= link_to 'ROR Developer', new_user_path%></h4><p>Experience : 3+ Years</p><p class="location">
                        <%= image_tag 'pin-hover.svg'  %>
                         Indore, India</p>
                        <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                      </div></li><li >
                        <div class="vacancy-box"><h4><%= link_to 'Node JS Developer', new_user_path%></h4><p>Experience : 3+ Years</p><p class="location">
                        <%= image_tag 'pin-hover.svg'  %> Indore, India</p>
                        <img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false">
                      </div></li><li ><div class="vacancy-box"><h4> <%= link_to 'React JS Developer', new_user_path%></h4><p>Experience : 3+ Years</p><p class="location">
                        <%= image_tag 'pin-hover.svg'  %> Indore, India</p><img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false"></div></li><li><div class="vacancy-box"><h4>
                         <%= link_to 'Python Developer', new_user_path%>
                        </h4><p>Experience : 5+ Years</p><p class="location">
                          <%= image_tag 'pin-hover.svg'  %> Indore, India</p><img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false"></div></li><li><div class="vacancy-box">
                            <h4><%= link_to 'Technical Architect', new_user_path%></h4><p>Experience : 7+ Years</p><p class="location">
                            <%= image_tag 'pin-hover.svg'  %> Indore, India</p><img class="forward-arrow" src="./carries_files/circle-arw.png" alt="" data-backdrop="false"></div></li>
                        </ul>
                                </div>
                </div>
              </div>
            </div>
          </section>
  </div>
<%= render partial: "home/footer" %>

<style>
  .banner{
    background-color: #ff6a006b !important;
  }
      .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
   .banner{
    background-color: #ff6a006b !important;
    padding: 146px;
   }
   .banner h1, .banner h2.heading-copy {
    font-size: 16px;
    letter-spacing: 0;
    position: relative;
    }
.chg-img{
  width: 100%;
  height: 375px;
  }
section-d{
  width: 1000px;
 }
html{
  padding: 0;
  margin: 0;
}
</style>
<script>
  function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };


    function changeTag(){
    let tag = document.querySelector(".show-link")
    tag.innerHTML = `<table class="table" style= "position: relative;top: 103px;">
          <tbody>
            <tr>
              <th class="row">
               <%= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
               <%= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
                <%= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
                <%= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
              </th>
            </tr>
          </tbody>
        </table>`
    $(".myFooter").hide();
  }
</script>
