<style type="text/css">
      .table{
    position: relative;
    top: 106px;
      }
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
.elementor-279 .elementor-element.elementor-element-454336a:not(.elementor-motion-effects-element-type-background), .elementor-279 .elementor-element.elementor-element-454336a>.elementor-motion-effects-container>.elementor-motion-effects-layer {

    background-color: #0a8ae6;
    background-image: url('https://res.cloudinary.com/da9hlhnra/image/upload/v1668928859/nubelson-fernandes--Xqckh_XVU4-unsplash_x8iztu.jpg');
    background-position: center;
    background-size: cover;
}
.elementor-279 .elementor-element.elementor-element-1d72e01c:not(.elementor-motion-effects-element-type-background), .elementor-279 .elementor-element.elementor-element-1d72e01c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #0a8ae6;
    background-image: url('https://res.cloudinary.com/da9hlhnra/image/upload/v1668929020/chris-ried-ieic5Tq8YMk-unsplash_xbxi4y.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>

<meta name="msapplication-TileImage" content="http://justmindwork.com/wp-content/uploads/2021/07/cropped-JMW-270x270.png">
    <style type="text/css" id="wp-custom-css">
      .contact-business-form .form-control {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 300;
  color: #191919 !important;
  border-bottom-color: #ebebeb;
  border-left: none;
  border-right:  none;
  border-top: none;
  padding-left: 0;
  padding-bottom: 13px;
  padding-top: 42px;
  margin-bottom: 15px;
  box-shadow: none;
}
.contact-business-form textarea.form-control {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.contact-business-form .submit-form { position:relative;}
.contact-business-form .submit-form span {
  position: absolute;
  z-index:10;
}
.contact-business-form .submit-form .wpcf7-submit {
  background: #188fdc;
  border: none;
  font-size: 13px;
  border-radius: 2px;
  padding: 13px 40px 14px;
}
.contact-business-form .submit-form .wpcf7-submit:hover {
  color: #fff;
}
.contact-business-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b5b5b5;
}
.contact-business-form .form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #191919;
}
.contact-business-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #b5b5b5;
}
.contact-business-form .form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #191919;
}
.contact-business-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #b5b5b5;
}
.contact-business-form .form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #191919;
}
.contact-business-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #b5b5b5;
}
.contact-business-form .form-control:focus:-moz-placeholder { /* Firefox 18- */
  color: #191919;
}
.site-footer .site-info {
  display: none;
}
.business-video .elementor-widget-video .elementor-custom-embed-image-overlay img {
  display: none !important;
}
.business-video .elementor-widget-video .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
  position: static;
  transform: none;
}

.business-video .elementor-widget-video .elementor-custom-embed-image-overlay i {
  display: inline-block;
  text-shadow: none;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  text-align: center;
  background-color: #188fdc;
  opacity: 1;
}

.business-video .elementor-widget-video .elementor-custom-embed-image-overlay i:before {
  font-size: 18px;
  line-height: 70px;
  font-family: 'Fontawesome';
  content: '\f04b';
  display: block;
  line-height: 52px;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

container {
  max-height: 80%;
}

.wpcf7-form-control.wpcf7-submit {
   background-color: #f47900 !important;
   color: #fff;
   padding: 6px 20px;
}
.wpcf7-form-control.wpcf7-submit:hover{
   background-color: #000 !important;
   color: #f47900;
   padding: 18px 50px;
}

.is-sticky .site-header .custom-logo-link img{
  max-width: none;
}

.contact-business-form .form-control {
  border-bottom-color: #f47900!important;
  padding-top: 0px !important;
}   </style>
    <style id="kirki-inline-styles">
</style>
<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.scrolled{
  background-color: red;
}

#masthead{
  overflow: hidden;
  background-color: transparent;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#masthead #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}
@media screen and (max-width: 580px) {
  #masthead {
    padding: 20px 10px !important;
  }
  #masthead a {
    float: none;
    display: block;
    text-align: left;
  }
  #masthead-right {
    float: none;
  }
}

</style>
</head>

<body class="" data-elementor-device-mode="desktop" onscroll="changeNav()">

<div id="page" class="site">
   <%= render 'header' %>
</div >
<!-- #masthead -->
<div id="content" class="">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <div data-elementor-type="wp-post" data-elementor-id="279" class="elementor elementor-279" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
               <section class="elementor-section elementor-top-section elementor-element elementor-element-5b9dfebc elementor-section-full_width elementor-section-height-full elementor-section-items-top elementor-section-content-middle elementor-section-height-default" data-id="5b9dfebc" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;http:\/\/52.91.135.213\/wp-content\/uploads\/2021\/07\/Pexels-Videos-2699.mp4&quot;,&quot;background_video_start&quot;:0,&quot;background_play_on_mobile&quot;:&quot;yes&quot;}">
                  <div class="elementor-background-video-container">
                     <video class="elementor-background-video-hosted elementor-html5-video" autoplay="" muted="" playsinline="" loop="" src="https://res.cloudinary.com/da9hlhnra/video/upload/v1668926691/Pexels_Videos_2795171_s7cevi.mp4" style="width: 1833px; height: 1031.06px;"></video>
                  </div>
                  <div class="elementor-background-overlay "></div>
                  <div class="elementor-container elementor-column-gap-no">
                     <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-63cf314b" data-id="63cf314b" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-201b51ac elementor-widget elementor-widget-heading animated zoomIn" data-id="201b51ac" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <h2 class="elementor-heading-title elementor-size-default " data-period="2000"  data-type='["Welcome  to <br>
                                    Just Mind Work"]'><br>
                                    Just Mind Work
                                 </h2>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-64e1e36d elementor-widget elementor-widget-heading animated fadeInUp" data-id="64e1e36d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <span class="elementor-heading-title elementor-size-default">Start your Project Now!</span>   
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-3c8a93a3 elementor-align-center elementor-widget elementor-widget-button animated fadeInUp" data-id="3c8a93a3" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="button.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-button-wrapper">
                                    <%= link_to "Get a Quote", contact_path, :class => "elementor-button-link elementor-button elementor-size-sm" %>
                                    <!-- <a href="http://justmindwork.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                       <span class="elementor-button-content-wrapper">
                                       <span class="elementor-button-text">Get a Quote</span> -->
                                    </span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-2e52c992 elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp" data-id="2e52c992" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                  <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2fce3e8f" data-id="2fce3e8f" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-577dbbae elementor-widget elementor-widget-heading" data-id="577dbbae" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <h2 class="elementor-heading-title elementor-size-default reveal">Our Services</h2>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-49ffced0 elementor-widget elementor-widget-heading" data-id="49ffced0" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <p class="elementor-heading-title elementor-size-default reveal">We are a small creative team, trying to enrich the lives of others with
                                    our services but are not limited to just these!
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-5654de7e elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp" data-id="5654de7e" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                  <div class="elementor-container elementor-column-gap-no">
                     <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2fddb7cf" data-id="2fddb7cf" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-655313cc hover-white-style elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="655313cc" data-element_type="widget" data-widget_type="icon-box.default">
                              <div class="elementor-widget-container technology-box">
                                 <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                       <a class="elementor-icon elementor-animation-" href="web_development">
                                       <%= image_tag "laptop-icon1.png", style: "width: 53px"%>
                                             </a>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                       <h3 class="elementor-icon-box-title">
                                          <%= link_to "Web Development",web_development_path %>
                                       </h3>
                                       <p class="elementor-icon-box-description">Creative web solutions blended with the latest technologies form the right base for innovative businesses.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1986b481" data-id="1986b481" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-64a18883 hover-white-style elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="64a18883" data-element_type="widget" data-widget_type="icon-box.default">
                              <div class="elementor-widget-container technology-box">
                                 <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                       <a class="elementor-icon elementor-animation-" href="mobile_app_development">
                                       <%= image_tag "mobile-icon1.png", style: "width: 53px"%>        </a>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                       <h3 class="elementor-icon-box-title">
                                          <%= link_to "Mobile App Development",mobile_app_development_path %>
                                       </h3>
                                       <p class="elementor-icon-box-description">Our team of experts is dedicated to building custom mobile app solutions by utilizing the latest technologies to solve unique and challenging business problems.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-57f8f456 elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp reveal" data-id="57f8f456" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
                  <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7183d3db" data-id="7183d3db" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated ">
                           <section class="elementor-section elementor-inner-section elementor-element elementor-element-7297b81d elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default " data-id="7297b81d" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6617968f" data-id="6617968f" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-44c8b802 elementor-widget elementor-widget-counter" data-id="44c8b802" data-element_type="widget" data-widget_type="counter.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-counter">
                                                <div class="elementor-counter-number-wrapper">
                                                   <span class="elementor-counter-number-prefix"></span>
                                                   <span class="elementor-counter-number animate-num" data-duration="2000" data-to-value="10" data-from-value="0" data-delimiter="," ></span>
                                                   <span class="elementor-counter-number-suffix"><small>+</small></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2897e94d" data-id="2897e94d" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-7147c955 elementor-widget elementor-widget-heading" data-id="7147c955" data-element_type="widget" data-widget_type="heading.default">
                                          <div class="elementor-widget-container">
                                             <h2 class="elementor-heading-title elementor-size-default">happy <br>
                                                clients
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-48c58504" data-id="48c58504" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-41b5954b elementor-view-default elementor-widget elementor-widget-icon" data-id="41b5954b" data-element_type="widget" data-widget_type="icon.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-icon-wrapper">
                                                <div class="elementor-icon">
                                                   <i aria-hidden="true" class="fas fa-heart" style="display: none;"></i>     
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-601fac30" data-id="601fac30" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <section class="elementor-section elementor-inner-section elementor-element elementor-element-75f216e4 elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="75f216e4" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-59ed15e3" data-id="59ed15e3" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-77184e96 elementor-widget elementor-widget-counter" data-id="77184e96" data-element_type="widget" data-widget_type="counter.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-counter">
                                                <div class="elementor-counter-number-wrapper">
                                                   <span class="elementor-counter-number-prefix"></span>
                                                   <span class="elementor-counter-number " data-duration="2000" data-to-value="1" data-from-value="0" data-delimiter=",">1</span>
                                                   <span class="elementor-counter-number-suffix"><small>+</small></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5c6b6262" data-id="5c6b6262" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-5386e37a elementor-widget elementor-widget-heading" data-id="5386e37a" data-element_type="widget" data-widget_type="heading.default">
                                          <div class="elementor-widget-container">
                                             <h2 class="elementor-heading-title elementor-size-default ">Years of <br>
                                                experience
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-38286bfe" data-id="38286bfe" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-9cacdb2 elementor-view-default elementor-widget elementor-widget-icon" data-id="9cacdb2" data-element_type="widget" data-widget_type="icon.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-icon-wrapper">
                                                <div class="elementor-icon">
                                                   <i aria-hidden="true" class="fas fa-award" style="display: none";></i>     
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-34bd35b2" data-id="34bd35b2" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <section class="elementor-section elementor-inner-section elementor-element elementor-element-135b322 elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="135b322" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-52d003b9" data-id="52d003b9" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-1ae1d7a2 elementor-widget elementor-widget-counter" data-id="1ae1d7a2" data-element_type="widget" data-widget_type="counter.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-counter">
                                                <div class="elementor-counter-number-wrapper">
                                                   <span class="elementor-counter-number-prefix"></span>
                                                   <span class="elementor-counter-number animate-num" data-duration="2000" data-to-value="10" data-from-value="0" data-delimiter=","></span>
                                                   <span class="elementor-counter-number-suffix"><small>+</small></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-431ca78a" data-id="431ca78a" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-6936b91e elementor-widget elementor-widget-heading" data-id="6936b91e" data-element_type="widget" data-widget_type="heading.default">
                                          <div class="elementor-widget-container">
                                             <h2 class="elementor-heading-title elementor-size-default " style="margin-left: 27px">PROJECTS <br>
                                                Completed
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-24ad6655" data-id="24ad6655" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-1d67dfd4 elementor-view-default elementor-widget elementor-widget-icon" data-id="1d67dfd4" data-element_type="widget" data-widget_type="icon.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-icon-wrapper">
                                                <div class="elementor-icon">
                                                   <i aria-hidden="true" class="fas fa-chart-pie" style="display: none";></i>     
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-34203641" data-id="34203641" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <section class="elementor-section elementor-inner-section elementor-element elementor-element-4e1e146d elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4e1e146d" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7a089cf3" data-id="7a089cf3" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-2bf8ff elementor-widget elementor-widget-counter" data-id="2bf8ff" data-element_type="widget" data-widget_type="counter.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-counter">
                                                <div class="elementor-counter-number-wrapper">
                                                   <span class="elementor-counter-number-prefix"></span>
                                                   <span class="elementor-counter-number " data-duration="2000" data-to-value="10" data-from-value="0" data-delimiter=",">25<small>+</small></span>
                                                   <span class="elementor-counter-number-suffix"></span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-77b0011f" data-id="77b0011f" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-5feb6940 elementor-widget elementor-widget-heading" data-id="5feb6940" data-element_type="widget" data-widget_type="heading.default">
                                          <div class="elementor-widget-container">
                                             <h2 class="elementor-heading-title elementor-size-default ">Industry <br>
                                                experts
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-528f09d" data-id="528f09d" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div class="elementor-element elementor-element-193e5e9f elementor-view-default elementor-widget elementor-widget-icon" data-id="193e5e9f" data-element_type="widget" data-widget_type="icon.default">
                                          <div class="elementor-widget-container">
                                             <div class="elementor-icon-wrapper">
                                                <div class="elementor-icon">
                                                   <i aria-hidden="true" class="fas fa-music" style="display: none";></i>     
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-454336a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="454336a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
                  <div class="elementor-background-overlay "></div>
                  <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-12852de animated fadeInUp" data-id="12852de" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-cd02e13 elementor-widget elementor-widget-spacer" data-id="cd02e13" data-element_type="widget" data-widget_type="spacer.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-a9cbdae elementor-widget elementor-widget-heading" data-id="a9cbdae" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <p class="elementor-heading-title elementor-size-default reveal">Why to Choose</p>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-d64cbf6 elementor-widget elementor-widget-heading" data-id="d64cbf6" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <h2 class="elementor-heading-title elementor-size-default reveal">Just Mind Work</h2>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-d92b5d4 elementor-widget elementor-widget-spacer" data-id="d92b5d4" data-element_type="widget" data-widget_type="spacer.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-40e81ba6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40e81ba6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}">
                  <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7fd21d13" data-id="7fd21d13" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-2da12013 test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box reveal" data-id="2da12013" data-element_type="widget" data-widget_type="icon-box.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                       <span class="elementor-icon elementor-animation-">
                                       <%= image_tag "address-card-icon1.png", style: "width: 62px;"%>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                       <h3 class="elementor-icon-box-title">
                                          <span>Holistic</span>
                                       </h3>
                                       <p class="elementor-icon-box-description">We seek out entrepreneurs and businesses that share our passion for disruption. And look to join forces.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-27a9bd07" data-id="27a9bd07" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-1d9ed91b test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box reveal" data-id="1d9ed91b" data-element_type="widget" data-widget_type="icon-box.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                       <span class="elementor-icon elementor-animation-">
                                        <%= image_tag "code-icon1.png", style: "width: 88px;"%>
                                       </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                       <h3 class="elementor-icon-box-title">
                                          <span>Goal Oriented</span>
                                       </h3>
                                       <p class="elementor-icon-box-description">At JMW, we focus on developing unerring results by setting precise goals. One goal, One direction.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-154eda3b" data-id="154eda3b" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-5fbd8653 test-class elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box reveal" data-id="5fbd8653" data-element_type="widget" data-widget_type="icon-box.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-icon-box-wrapper">
                                    <div class="elementor-icon-box-icon">
                                       <span class="elementor-icon elementor-animation-">
                                      <%= image_tag "laptop-code-icon1.png", style: "width: 86px;"%>
                                        </span>
                                    </div>
                                    <div class="elementor-icon-box-content">
                                       <h3 class="elementor-icon-box-title">
                                          <span>Specialists</span>
                                       </h3>
                                       <p class="elementor-icon-box-description">Angular, Python, React, Ruby on Rails. The more 'niche' the better. We relish technological challenges.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-1d72e01c elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="1d72e01c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div class="elementor-background-overlay reveal"></div>
                  <div class="elementor-container elementor-column-gap-default">
                     <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1fb270e3 animated fadeInUp" data-id="1fb270e3" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-5b43a6cd elementor-widget elementor-widget-spacer" data-id="5b43a6cd" data-element_type="widget" data-widget_type="spacer.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-15e7a330 elementor-widget elementor-widget-heading" data-id="15e7a330" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <p class="elementor-heading-title elementor-size-default">We work on following</p>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-654a741e elementor-widget elementor-widget-heading" data-id="654a741e" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <h2 class="elementor-heading-title elementor-size-default reveal">Technologies</h2>
                              </div>
                           </div>
                           <div class="elementor-element elementor-element-37af092f elementor-widget elementor-widget-spacer" data-id="37af092f" data-element_type="widget" data-widget_type="spacer.default">
                              <div class="elementor-widget-container">
                                 <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-c387e2b elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp " data-id="c387e2b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
                  <div class="elementor-container elementor-column-gap-default reveal">
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-a97a8b5" data-id="a97a8b5" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-52e4cde elementor-widget elementor-widget-image" data-id="52e4cde" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '1.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-9f920cd" data-id="9f920cd" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-fa80e1c elementor-widget elementor-widget-image" data-id="fa80e1c" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">        
                                 <%= image_tag '10.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-af8ee87" data-id="af8ee87" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-4b782f1 elementor-widget elementor-widget-image" data-id="4b782f1" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">  
                                 <%= image_tag '9.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-bd13f03" data-id="bd13f03" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-837189a elementor-widget elementor-widget-image" data-id="837189a" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '8.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>                     
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-6e1e07f" data-id="6e1e07f" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-badee58 elementor-widget elementor-widget-image" data-id="badee58" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '7.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>                                             
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="elementor-section elementor-top-section elementor-element elementor-element-18ba8aa elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp" data-id="18ba8aa" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
                  <div class="elementor-container elementor-column-gap-default reveal">
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-ad2bd06" data-id="ad2bd06" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-433e1fe elementor-widget elementor-widget-image" data-id="433e1fe" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '6.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>      
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-bc93c89" data-id="bc93c89" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-d2cf30b elementor-widget elementor-widget-image" data-id="d2cf30b" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container"> 
                                 <%= image_tag '5.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-7c078c4" data-id="7c078c4" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-c4547fc elementor-widget elementor-widget-image" data-id="c4547fc" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '4.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-182e8e6" data-id="182e8e6" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-01008ea elementor-widget elementor-widget-image" data-id="01008ea" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <%= image_tag '3.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="elementor-column techno-col elementor-col-20 elementor-top-column elementor-element elementor-element-e1e5f28" data-id="e1e5f28" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div class="elementor-element elementor-element-6048c2f elementor-widget elementor-widget-image" data-id="6048c2f" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">                           
                                 <%= image_tag '2.jpg', class: 'attachment-large size-large',style:'(max-width: 200px) 100vw, 200px'%> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </main>
      <!-- #main -->
   </div>
   <!-- #primary -->
</div>
<!-- #content -->
<style>
*{
   font-family: "Proxima Nova",Arial,SourceSansPro,"Segoe UI",Roboto,"Helvetica Neue",sans-serif !important;
}
  .lappy-img{
    width: 50%;
    position: absolute;
    border: 10px solid;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
  }
</style>
<style>
  @property --num {
  syntax: "<integer>";
  initial-value: 20;
  inherits: false;
}

.animate-num {
  animation: counter 5s  alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 60px system-ui;
}
.animate-num::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 1;
  }
  to {
    --num: 20;
  }
}
.media-icones{
  height: 51px;font-weight: 700;font-family: monospace !important;font-size: 21px;text-align: center;
      margin-left: -88px !important;
}
#instag{
      position: relative;
    top: -8px !important;
}
.technology-box:hover{
   background-color: rgb(255, 245, 202) !important;
}
.technology-box{
   font-family: "Proxima Nova",Arial,SourceSansPro,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}
.elementor-heading-title{
   font-family: "Proxima Nova",Arial,SourceSansPro,"Segoe UI",Roboto,"Helvetica Neue",sans-serif !important;
}
.techno-col{
   width: 10% !important;
   margin: auto;
}
#main > div > div > section.elementor-section.elementor-top-section.elementor-element.elementor-element-454336a.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    margin-top: 55px;
}
</style>




<%= render 'footer'%>
 <!-- #colophon -->
</div><!-- #page -->


<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"http:\/\/justmindwork.com\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>

<script>
function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };
    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
  // function changeTag(){
  //   let tag = document.querySelector(".show-link")
  //   tag.innerHTML = `<table class="table">
  //         <tbody>
  //           <tr>
  //             <th class="row">
  //              <%# link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //              <%# link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%# link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //           <tr>
  //             <th class="row">
  //               <%# link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
  //             </th>
  //           </tr>
  //         </tbody>
  //       </table>`
  //   $(".myFooter").hide();
  // }



window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("masthead").style.padding = "30px 10px";
    document.getElementById("logo").style.fontSize = "";
    let $nav = document.querySelector(".container-fluid")
    $(document.querySelector(".container-fluid")).addClass("scrolled")
  } else {
    document.getElementById("masthead");
    document.getElementById("logo").style.fontSize = "35px";
    $(document.querySelector(".container-fluid")).removeClass("scrolled")

  }
}
</script>
</body></html>
