<%= render partial: "home/header" %>
<!DOCTYPE html>
<!-- saved from url=(0034)https://www..com/portfolio -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager -->
    <script src="./our_services_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/f.txt"></script><script type="text/javascript" async="" src="./our_services_files/js"></script><script type="text/javascript" async="" src="./our_services_files/insight.min.js"></script><script type="text/javascript" async="" src="./our_services_files/f(1).txt"></script><script type="text/javascript" async="" src="./our_services_files/analytics.js"></script><script src="./our_services_files/f(2).txt" id="google_shimpl"></script><script async="" src="./our_services_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script type="text/javascript" async="" src="./our_services_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-1eu7m2TQmHLEMDRBNkI+a/vXntia1/fjccuDKynBK1zQPm613i0QX9FFLXOMtSbS"></script><script async="" src="./our_services_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W5VBC5M');
    </script>
    <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="dhn7p_9so7wIXbOTxjcgi-KWfn6gGCdvncCmZnF6dt8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>Our Portfolio - Next-Gen Digital Transformation | JMW</title>
    <meta name="description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">
    <link rel="shortcut icon" href="#">
    <meta property="og:title" content="Our Portfolio - Next-Gen Digital Transformation | JMW">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">
    <meta property="og:image" content="">
    <meta name="robots" content="index, follow">
    <meta property="twitter:title" content="Our Portfolio - Next-Gen Digital Transformation | JMW">
    <meta property="twitter:site_name" content="">
    <meta property="twitter:domain" content="#">
    <meta property="twitter:description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">
    <meta property="twitter:image" content="#">
    <link rel="canonical" href="">
    <link href="./our_services_files/css" rel="stylesheet" hreflang="en">
    <link rel="stylesheet" href="./our_services_files/font-awesome.min.css">
    <link href="./our_services_files/minified-plugins.min.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/style.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/ie-specific.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/safari-specific.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/responsive.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/portfolio.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/review.css" rel="stylesheet" hreflang="en">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Our Portfolio - Next-Gen Digital Transformation | Systango",
        "url": "https://www.systango.com/portfolio",
        "description": "From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation."
      }
    </script>
    <meta http-equiv="origin-trial" content="A+cA2PUOfIOKAdSDJOW5CP9ZlxONy1yu+hqAq72zUtKw4rLdihqRp6Nui/jUyCyegr+BUtH+C+Elv0ufn05yBQEAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A+zsdH3aNZT/bkjT8U/o5ACzyaeNYzTvtoVmwf/KOilfv39pxY2AIsOwhQJv+YnXp98i3TqrQibIVtMWs5UHjgoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="AxceVEhIegcDEHqLXFQ2+vPKqzCppoJYsRCZ/BdfVnbM/sUUF2BXV8lwNosyYjvoxnTh2FC8cOlAnA5uULr/zAUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <link rel="preload" href="./our_services_files/f(3).txt" as="script">
    <script type="text/javascript" src="./our_services_files/f(3).txt"></script>
    <link rel="preload" href="./our_services_files/f(4).txt" as="script">
    <script type="text/javascript" src="./our_services_files/f(4).txt"></script><script type="text/javascript" async="" src="./our_services_files/f(5).txt"></script>
  </head>
  <body class="inner-page" data-new-gr-c-s-check-loaded="14.1080.0" data-gr-ext-installed="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <!-- eedd Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="./our_services_files/minified-plugins.min.js"></script>
    <script defer="" src="./our_services_files/api.js" async=""></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
    <script src="./our_services_files/additional-methods.min.js" async=""></script>
    <script async="" src="./our_services_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
    <div class="body-cover">
      <meta http-equiv="cache-control" content="no-cache">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="-1">
      <!--Start of Tawk.to Script-->
      <!--Start of Tawk.to Script-->
      <div class="show-link">
        <div id="accordion" class="mega-menu-section" style="display: none">
          <div class="tab-heading-link">
            <%= link_to "What We Do", what_we_do_path%>
            <span class="close_menu">
            <img src="./our_services_files/close.svg" width="12" alt="Close">
            </span>
          </div>
          <!-- Mobile App Development -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
                  <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
                  Mobile App Development
                  </a> -->
                <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="menuIcon"><img src="./our_services_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>
                <img src="./our_services_files/down-arrow.svg" alt="Navigation">
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li class="">
                    <%= link_to "Mobile App Development", services_mobile_app_development_path%>
                  </li>
                  <li class="">
                    <a href="#">
                    iOS App Development
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                    Android App Development
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                    Cross-Platform App Development
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                    React Native App Development
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                    Flutter App Development
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Web Development -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <!-- <a class="link-site">
                  <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/web-app.svg" alt=""></span>
                  Web Development
                  </a> -->
                <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="menuIcon"><img src="./our_services_files/web-app.svg" alt="Web Development"> Web Development</span>
                <img src="./our_services_files/down-arrow.svg" alt="Navigation">
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li class="col-md-4">
                    <%= link_to "Web Development", services_web_development_path%>  
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Front end Development
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    AngularJS
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    HTML/CSS
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    React JS
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Vue JS
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Backend Development
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Python
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Node
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    ROR
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    PHP
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Java
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="">
                    .Net
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Zoho Offering -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <!-- <a class="link-site" href="<//?php echo  $base_url; ?>zoho-offerings">
                  <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/zoho.svg" alt=""></span>
                  Zoho Offerings
                  </a> -->
                <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="menuIcon"><img src="./our_services_files/zoho.svg" alt="Zoho Offerings"> Zoho Offerings</span>
                <img src="./our_services_files/down-arrow.svg" alt="Navigation">
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li class="col-md-4">
                    <a href="#">
                    Zoho Offerings
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Zoho Analytics
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Zoho Integrations
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Zoho Creator/Zoho CRM
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Digital Marketing -->
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/digital-marketing">
                  <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/digital-marketing.svg" alt=""></span>
                  Digital Marketing
                  </a> -->
                <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="menuIcon"><img src="./our_services_files/digital-marketing.svg" alt="Digital Marketing"> Digital Marketing</span>
                <img src="./our_services_files/down-arrow.svg" alt="Navigation">
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li class="col-md-4">
                    <a href="">
                    Digital Marketing
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Search Engine Optimisation
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="#">
                    Pay Per Click Campaigns
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="">
                    Social Media Management
                    </a>
                  </li>
                  <li class="col-md-4">
                    <a href="">
                    Mobile Advertising
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Devops -->
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/devops">
                  <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/devops.svg" alt=""></span>
                  Devops
                  </a> -->
                <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <span class="menuIcon"><img src="./our_services_files/devops.svg" alt="Devops"> Devops</span>
                <img src="./our_services_files/down-arrow.svg" alt="Navigation">
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li class="col-md-4">
                    <%= link_to "Devops", services_devops_path%>
                  </li>
                  <li class="col-md-4">
                    <a href="">
                    Cloud Computing
                    </a>
                  </li>
                  <li class="col-md-4">
                    <%= link_to "Security Engineering", services_devops_path%>
                  </li>
                  <li class="col-md-4">
                    <%= link_to "Cloud Consultation and Expertise", services_devops_path%>
                  </li>
                  <li class="col-md-4">
                    <%= link_to "CI/CD Pipeline", services_devops_path%>
                  </li>
                  <li class="col-md-4">
                    <%= link_to "Process Automation", services_devops_path%>
                  </li>
                  <li class="col-md-4">
                    <%= link_to "Operational Management Release", services_devops_path%>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--End of Tawk.to Script-->
        <!--/?php include 'includes/contact-popup.php'; ?-->
        <div class="container big-container">
          <!-- Updated Data -->
          <div class="container big-container">
            <section id="portfolio-slider" class="owl-carousel owl-theme owl-loaded owl-drag">
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><img src="./our_services_files/slide-prev.png" alt="Slider Previous" title="Slider Previous"></button><button type="button" role="presentation" class="owl-next"><img src="./our_services_files/slide-next.png" alt="Slider Next" title="Slider Next"></button></div>
                <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </section>
            </div>      <!-- End Updated Data -->
          </div>
          <div class="img1">
                <%= image_tag 'portfolio-slider-03.png' %>
            </div>
          <div class="spacer30 reduceMobile"></div>
          <div class="spacer50 disable_mobile"></div>
          <div class="container content dark-text">
            <div class="row">
              <div class="col-md-12 flex-wrap aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h2 class="text-center section_heading ">Have a Look at Some of Our Inspiring Crafts.</h2>
                <div class="spacer30 reduceMobile"></div>
                <h4 class="text-center subheading_ourwork">Industries.</h4>
                <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                  <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>
                  <button data-filter=".automation" class="btn primary-btn text-capitalize mright15 mbottom20">Automation</button>
                  <button data-filter=".b2b-solutions" class="btn primary-btn text-capitalize mright15 mbottom20">B2B Solutions</button>
                  <button data-filter=".e-commerce" class="btn primary-btn text-capitalize mright15 mbottom20">E-Commerce</button>
                  <button data-filter=".enterprise-mobility" class="btn primary-btn text-capitalize mright15 mbottom20">Enterprise Mobility</button>
                  <button data-filter=".fintech" class="btn primary-btn text-capitalize mright15 mbottom20">Fintech</button>
                  <button data-filter=".health-fitness" class="btn primary-btn text-capitalize mright15 mbottom20">Health &amp; Fitness</button>
                  <button data-filter=".real-estate" class="btn primary-btn text-capitalize mright15 mbottom20">Real Estate</button>
                  <button data-filter=".shopping-app" class="btn primary-btn text-capitalize mright15 mbottom20">Shopping App</button>
                  <button data-filter=".smart-city" class="btn primary-btn text-capitalize mright15 mbottom20">Smart City</button>
                  <button data-filter=".social-networking" class="btn primary-btn text-capitalize mright15 mbottom20">Social Networking</button>
                  <button data-filter=".specialities-and-services" class="btn primary-btn text-capitalize mright15 mbottom20">Specialities and Services</button>
                  <button data-filter=".travel-hospitality" class="btn primary-btn text-capitalize mright15 mbottom20">Travel &amp; Hospitality</button>
                </div>
                <div class="spacer30 reduceMobile"></div>
                <h4 class="text-center subheading_ourwork">Technologies.</h4>
                <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                  <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>
                  <button data-filter=".android-app" class="btn primary-btn text-capitalize mright15 mbottom20">Android App</button>
                  <button data-filter=".angular-js" class="btn primary-btn text-capitalize mright15 mbottom20">Angular JS</button>
                  <button data-filter=".blockchain" class="btn primary-btn text-capitalize mright15 mbottom20">Blockchain</button>
                  <button data-filter=".devops" class="btn primary-btn text-capitalize mright15 mbottom20">Devops</button>
                  <button data-filter=".digital-marketing" class="btn primary-btn text-capitalize mright15 mbottom20">Digital Marketing</button>
                  <button data-filter=".django" class="btn primary-btn text-capitalize mright15 mbottom20">Django</button>
                  <button data-filter=".flutter-app" class="btn primary-btn text-capitalize mright15 mbottom20">Flutter App</button>
                  <button data-filter=".ios" class="btn primary-btn text-capitalize mright15 mbottom20">Ios</button>
                  <button data-filter=".mobile-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Mobile Apps</button>
                  <button data-filter=".node" class="btn primary-btn text-capitalize mright15 mbottom20">Node</button>
                  <button data-filter=".python" class="btn primary-btn text-capitalize mright15 mbottom20">Python</button>
                  <button data-filter=".react-js" class="btn primary-btn text-capitalize mright15 mbottom20">React JS</button>
                  <button data-filter=".react-native-app" class="btn primary-btn text-capitalize mright15 mbottom20">React Native App</button>
                  <button data-filter=".ror" class="btn primary-btn text-capitalize mright15 mbottom20">ROR</button>
                  <button data-filter=".vue-js" class="btn primary-btn text-capitalize mright15 mbottom20">Vue JS</button>
                  <button data-filter=".web-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Web Apps</button>
                </div>
                <div class="spacer50"></div>
                <style>
                  .navy-blue-bg{
                  background-color: #ff6a006b!important;
                  }
                  .grid{
                  padding: 50px;
                  }
                  .img1{
                        position: relative;
                        left: 310px;
                  }
                </style>
                <div class="grid portfolio row aos-init aos-animate grid-container" data-aos="fade-up" data-aos-delay="100" style="position: relative; height: 4740px; margin: 93px;">
                  <div class="element-item  fintech machine-learning smart-city  android-app mobile-apps react-js react-native-app col-md-4 grid-item" style="position: absolute; left: 0px; top: 393px;">
                    <a href="casestudy/gocurb" class="white-bg portfolio-item ">
                      <h3>Gocurb</h3>
                      <p>Gocurb is reimagining urban mobility. We are creating a comprehensive mobility platform and providing products for mobile app solutions, effortless payment, paratransit, business travel, and advertising that reaches captive audiences of millions.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation specialities-and-services  devops col-md-4 grid-item" style="position: absolute; left: 760px; top: 0px;">
                    <a href="casestudy/cialfo" class="white-bg portfolio-item ">
                      <h3>Cialfo</h3>
                      <p>We support high school students and their counselors throughout the early career exploration and college search and selection process. Read our story!</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  fintech specialities-and-services  blockchain react-js col-md-4 grid-item" style="position: absolute; left: 380px; top: 360px;">
                    <a href="/casestudy/mission" class="white-bg portfolio-item ">
                      <h3>MISSON</h3>
                      <p>Leveraged Smart Contracts to enable direct &amp; secure payments with reduced gas burn.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  entertainment music-entertainment  angular-js blockchain web-apps col-md-4 grid-item" style="position: absolute; left: 760px; top: 372px;">
                    <a href="/casestudy/roostify " class="white-bg portfolio-item ">
                      <h3>Roostify</h3>
                      <p>Veraticket builds an NFT ticketing platform to buy, sell and trade event tickets.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  entertainment music-entertainment social-networking  blockchain col-md-4 grid-item" style="position: absolute; left: 760px; top: 699px;">
                    <a href="/casestudy/first_partition " class="white-bg portfolio-item ">
                      <h3>First Partation</h3>
                      <p>Architecture consultation to roll out blockchain-based reward points for Football Fans.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  health-fitness  android-app react-native-app col-md-4 grid-item" style="position: absolute; left: 380px; top: 732px;">
                    <a href="/casestudy/builder" class="white-bg portfolio-item ">
                      <h3>Builder</h3>
                      <p>Our mission is to make it easy for you to build the software you need. Everyone should be able to do it – doesn’t matter what your background, tech knowledge or budget is.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  e-commerce shopping-app  react-native-app col-md-4 grid-item" style="position: absolute; left: 0px; top: 753px;">
                    <a href="/casestudy/knotch" class="white-bg portfolio-item ">
                      <h3>Knotch</h3>
                      <p>Giving a gift has never been this easy. With just a few taps, send the perfect gift to your close ones.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  iot machine-learning  django iot node python react-js col-md-4 grid-item" style="position: absolute; left: 760px; top: 1026px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Person App</h3>
                      <p>An IoT building intelligence system that picks up the temperature, humidity, and gas increases in buildings. Detects sudden changes in sound, light, and motion-based on machine learning algorithms and gets smarter with usage.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  fintech  android-app angular-js django node react-js col-md-4 grid-item" style="position: absolute; left: 0px; top: 1080px;">
                    <a href="/casestudy/horticult" class="white-bg portfolio-item ">
                      <h3>Hoticult</h3>
                      <p> We’re driven by the common, underlying passion for gardening in each one of us. Plants give so much to
                            us — the food we eat, the air we breathe.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  entertainment social-networking  android-app col-md-4" style="position: absolute; left: 380px; top: 1092px;">
                    <a href="/casestudy/inkl" class="white-bg portfolio-item ">
                      <h3>Inkl</h3>
                      <p>We created inkl to solve two bedrock problems in the world today. We say “bedrock" because we see these two problems as the foundation for a much larger array of macroeconomic and social issues. </p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  specialities-and-services travel-hospitality  android-app ios mobile-apps col-md-4" style="position: absolute; left: 0px; top: 1473px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Wake Up</h3>
                      <p>Thailand’s #1 and largest spa and beauty booking application. Makes booking wellness services in Thailand an absolutely breezy affair.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  igaming-and-fantasy-sports social-networking  android-app ios react-native-app col-md-4" style="position: absolute; left: 380px; top: 1485px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Porsche</h3>
                      <p>NotYetPro is a sports specific social networking platform that empower amateur athletes. A new athlete paradigm, the app allows athletes to self-promote and chronicle their career.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation fintech  devops node col-md-4 grid-item" style="position: absolute; left: 0px; top: 0px;">
                    <a href="casestudy/Up_shift" class="white-bg portfolio-item ">
                      <h3>Up Shift</h3>
                      <p>CredWorthy is a UK-centric platform that targets unsecured loans between family and friends, especially the ones with substantial APRs.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  specialities-and-services  react-native-app ror col-md-4" style="position: absolute; left: 760px; top: 1485px;">
                    <a href="#" class="white-bg portfolio-item blue">
                      <h3>My Online Cleaner (MFS)</h3>
                      <p>Laundry can get boring.. So we helped MyOnlineCleaner redefine ordering laundry services with a simple app that will get you clean clothes with just a few taps!</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 0px; top: 1833px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>ExpertLabels</h3>
                      <p>Be it Brewery, Cosmetic, Food, or Pharmaceutical products, ExpertLabels can label it for you. We helped ExpertLabel unleash the full potential of the Zoho Products Suite for leads capture, engagement and delivery and built an integrated business solution.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation b2b-solutions  devops col-md-4 grid-item" style="position: absolute; left: 380px; top: 0px;">
                    <a href="casestudy/budget_countertops" class="white-bg portfolio-item ">
                      <h3>Budget countertops</h3>
                      <p>Oak9 aims at keeping their clients cloud infrastructure secure by design so the businesses can focus on their growth. </p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation e-commerce  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 380px; top: 1911px;">
                    <a href="#" class="white-bg portfolio-item feelshare">
                      <h3>Inovelli</h3>
                      <p>A consumer electronics company that offers customized solutions and allows its customers to have full control of their smart home devices, no matter where they are.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  music-entertainment social-networking  android-app ios react-native-app col-md-4" style="position: absolute; left: 760px; top: 1923px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>RadioSpirits</h3>
                      <p>Radio Spirits features a selection of Old Time Radio (OTR) shows and is hosted by Greg Bell. The app also allows users to stream and download programs on-demand from classic radio library.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions  devops php zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 380px; top: 2304px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Squirrel Hub</h3>
                      <p>Squirrel Hub, a consultancy that provides CRM focussed advisory, strategy and integrations to other businesses - relies on JMW engineers for their CRM integration Expertise.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation b2b-solutions  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 0px; top: 2325px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Diener Law</h3>
                      <p>4iiz is a software for law firms currently used across the USA. Firms using 4iiz have recorded increase in revenues by 200%, 300% even 400%!</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  music-entertainment social-networking  mobile-apps col-md-4" style="position: absolute; left: 760px; top: 2349px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Feelshare</h3>
                      <p>Feelshare lets you broadcast rich music experiences for listeners across the world in real-time. Live video feature is also there to show the world where you are.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions enterprise-mobility  web-apps col-md-4" style="position: absolute; left: 0px; top: 2718px;">
                    <a href="#" class="white-bg portfolio-item green">
                      <h3>UberConference by Dialpad</h3>
                      <p>A revolutionary business phone system that has created a new category of cloud communication in itself. Dialpad is used by 25,000+ companies for business communications.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions real-estate  devops ios web-apps col-md-4" style="position: absolute; left: 380px; top: 2730px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Stratalert</h3>
                      <p>An efficient communication platform for owners, tenants, workers and strata managers in office buildings. They wanted to transform the Strata Management sector and pilot other programs creating “smart cities”.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  music-entertainment social-networking  devops java mobile-apps python col-md-4" style="position: absolute; left: 760px; top: 2742px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Veromuse</h3>
                      <p>A popular social music app geared to help artists build a stronger connection with their fans.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  fintech real-estate  react-native-app vue-js web-apps col-md-4" style="position: absolute; left: 760px; top: 3069px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Futurebricks</h3>
                      <p>FutureBricks, a Fintech, FCA regulated, Web and Mobile based, peer to peer lending platform for property developments. Book size of more than £1m in its first year.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions enterprise-mobility travel-hospitality  android-app devops ios python react-js web-apps col-md-4" style="position: absolute; left: 380px; top: 3156px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Waitlist</h3>
                      <p>The easiest and most effective way to manage waitlist and reservations. We are Waitlist's core technology since 2012, originally a Google Venture backed company.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  b2b-solutions  devops mobile-apps web-apps col-md-4" style="position: absolute; left: 0px; top: 3189px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Porsche</h3>
                      <p>We created an iPad App and CMS to help Porsche increase their outreach in Australia &amp; Thailand in Trade Expos.
                        The app helped Porsche capture 389 leads in 1 day.
                      </p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  automation b2b-solutions  iot mobile-apps web-apps col-md-4" style="position: absolute; left: 760px; top: 3462px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>SmilePass</h3>
                      <p>A next-gen cloud-based biometric security solution to ditch concerns of social engineering, fraud, and theft.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  travel-hospitality  iot mobile-apps col-md-4" style="position: absolute; left: 380px; top: 3549px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>DrinkMate</h3>
                      <p>Dubbed as 'the smallest, most convenient breathalyzer in the world' by TechCrunch which measures your Blood Alcohol Content level and tells you if you are safe to drive.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  social-networking  devops col-md-4" style="position: absolute; left: 0px; top: 3582px;">
                    <a href="#" class="white-bg portfolio-item orange">
                      <h3>Grindr</h3>
                      <p>Since launching in 2009, Grindr has quickly grown into the world's largest social networking app for gay, bi-curious and queer men. Our QA and DevOps team helped them accommodate hundreds of requests/per second helping them reach 3M DAU.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  igaming-and-fantasy-sports  flutter-app ios mobile-apps col-md-4" style="position: absolute; left: 760px; top: 3822px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Strat-o-matic</h3>
                      <p>Based in Glen Head, New York, Strat-O-Matic is a
                        well-acclaimed fantasy sports game company
                        dedicated to develop and publish board games,
                        digital games and simulations.
                      </p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  music-entertainment  iot java mobile-apps python web-apps col-md-4" style="position: absolute; left: 380px; top: 3975px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Fret Zealot</h3>
                      <p>Fret Zealot is a state-of-the-art app-enabled LED
                        addition to your guitar. It fits just above the frets
                        and shows you exactly where to put your fingers
                        to play anything you can imagine!
                      </p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  social-networking  digital-marketing col-md-4" style="position: absolute; left: 0px; top: 4074px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Madimack</h3>
                      <p>Being Energy Efficient is the need of the hour and Madimack does just that! They provide High Energy Efficient Solutions for Homes, Offices and Other Commercial Spaces by installing heat pumps and AI automated controls. Our SM experts helped optimise their ad campaigns and increase ROI by 1000%.</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                    </a>
                  </div>
                  <div class="element-item  specialities-and-services  digital-marketing col-md-4" style="position: absolute; left: 760px; top: 4248px;">
                    <a href="#" class="white-bg portfolio-item ">
                      <h3>Tateossian</h3>
                      <p>Tateossian London is a leading brand known for its unique, refined and meticulously crafted accessories for men and women. Our digital marketing specialists helped them build and implement a sales funnel that increased ROAS by 40%</p>
                      <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                    </a>
                  </div>
                </div>
                <div class="spacer50"></div>
              </div>
            </div>
          </div>
          <!-- <div class="spacer50"></div> -->
          <div id="winning-section" class="container content dark-text mb-5" hidden="">
            <div class="row">
              <div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h2>Awards and recognitions</h2>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <img src="./our_services_files/winner-icon.png" alt="Apple" title="Apple">
                <div class="stackbox white-bg pad-80 pl-4 pr-4">
                  <h3>UberConference</h3>
                  <p class="mb-0">Winer of TechCrunch Disrupt</p>
                </div>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <img src="./our_services_files/winner-icon.png" alt="Android" title="Android">
                <div class="stackbox white-bg pad-80 pl-4 pr-4">
                  <h3>Fret Zealot</h3>
                  <p class="mb-0">Winner of TechCrunch Disrupt</p>
                </div>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <img src="./our_services_files/winner-icon.png" alt="Hybrid" title="Hybrid">
                <div class="stackbox white-bg pad-80 pl-4 pr-4">
                  <h3>Smilepass</h3>
                  <p class="mb-0">Winner of TechCrunch Disrupt</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Review Slider -->
          <!-- Developing Section Start -->
          <section class="zoho_developing aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="container">
              <div class="zoho_consulting_wrap">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="section_heading text-center">
                      Developing Solutions For A <span class="color_text">Range Of Business Domains</span>.
                    </h2>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 zoho_developing_list">
                    <ul>
                      <li>
                        <img src="./our_services_files/mobile.png" alt="">
                        <p>Enterprise Mobility</p>
                      </li>
                      <li>
                        <img src="./our_services_files/partner.png" alt="">
                        <p>Social Networks Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/alexa.png" alt="">
                        <p>Fintech Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/health.png" alt="">
                        <p>Health &amp; Fitness Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/cart.png" alt="">
                        <p>E-Commerce Mobile Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/piano.png" alt="">
                        <p>Music &amp; Entertainment Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/joystick.png" alt="">
                        <p>iGaming and Fantasy Sports Apps</p>
                      </li>
                      <li>
                        <img src="./our_services_files/education.png" alt="">
                        <p>Education Apps</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Developing Section END -->
          <!-- Review Slider -->
          </section>
        </div>
        <script>
          // function changeTag(){
          //   let tag = document.querySelector(".show-link")
          //   tag.innerHTML = `<table class="table">
          //         <tbody>
          //           <tr>
          //             <th class="row">
          //              <%#= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
          //             </th>
          //           </tr>
          //           <tr>
          //             <th class="row">
          //              <%#= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
          //             </th>
          //           </tr>
          //           <tr>
          //             <th class="row">
          //               <%#= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
          //             </th>
          //           </tr>
          //           <tr>
          //             <th class="row">
          //               <%#= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
          //             </th>
          //           </tr>
          //         </tbody>
          //       </table>`
          //   $(".myFooter").hide();
          // }
          
            $('.apd-testimonial').owlCarousel({
                loop:true,
                margin:20,
                smartSpeed: 1000,
                nav:true,
                dots: false,
                autoplay:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            })
          
          
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/5e327fcddaaca76c6fd0907d/default';
          s1.charset='UTF-8-no BOM';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
          
          $(document).ready(function(){
          $(".close_menu").click(function(){
            $(".mega-menu-section").hide();
          });
          $(".open_megaMenu").click(function(){
            $(".mega-menu-section").show();
          });
          });
          
          
          $('.collapse').collapse({
          toggle: false
          })
        </script>    <!-- APD TRANSFORM IDEA END -->
        <div class="container-fluid mobile-app-container grayBg aos-init" data-aos="fade-up" data-aos-delay="100">
          <!-- Recent Blog -->
          <script>
            $(function(){
              $(".blog-title").each(function(i){
                len=$(this).text().length;
                if(len>40)
                {
                  $(this).text($(this).text().substr(0,40)+'...');
                }
              });
            });
          </script>
        </div>
        </section>
      </div>
      <!-- <div class="spacer50"></div> -->
      <%= render 'footer' %>
    </div>
    <ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled">
      <div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./our_services_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div>
    </ins>
    <script src="./our_services_files/jquery-ui.min.js"></script>
    <script src="./our_services_files/jquery.ui.touch-punch.min.js"></script>
    <!-- Mainly scripts -->
    <script src="./our_services_files/isotope.pkgd.min.js"></script>
    <script src="./our_services_files/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var owl = $('#portfolio-slider');
        var testimonial = $("#testimonialSlider");
        // Start Carousel
        owl.owlCarousel({
            center : true,
            loop : true,
            items : 1,
            margin:0,
            nav : true,
            responsive: true,
            autoHeight:true,
            navText: ["<img src='img/slide-prev.png' alt='Slider Previous' title='Slider Previous'>", "<img src='img/slide-next.png' alt='Slider Next' title='Slider Next'>"],
        });
      
        testimonial.owlCarousel({
            center : true,
            loop : true,
            items : 1,
            margin:0,
            nav : true,
            responsive: true,
            autoHeight:true,
            navText: ["<img src='img/slide-prev-white.png' alt='Slider Previous' title='Slider Previous'>", "<img src='img/slide-next-white.png' alt='Slider Next' title='Slider Next'>"],
            autoplay:true,
            autoplayTimeout:8000
        });
      });
      
      $(window).load(function() {
         // // init Isotope
         var $grid = $('.grid').isotope({
          itemSelector: '.element-item',
        });
        // // filter items on button click
        $('.filter-button-group').on( 'click', 'button', function() {
          $('.filter-button-group button').removeClass('active');
          $(this).addClass('active');
          var filterValue = $(this).attr('data-filter');
          $grid.isotope({ filter: filterValue });
        });
      
        $grid.on( 'arrangeComplete', onArrange);
      
        onArrange();
      });
      function reveal() {
          var reveals = document.querySelectorAll(".reveal");
      
          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;
      
            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("active");
            } else {
              reveals[i].classList.remove("active");
            }
          }
        }
      
        window.addEventListener("scroll", reveal);
    </script>
    <style>
      .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
      }
      .reveal.active{
      transform: translateY(0);
      opacity: 1;
      }
      filter-button-group .btn {
      font-weight: 500 !important;
      font-family: 'Muli', sans-serif !important;
      }
      .primary-btn {
      color: #b0b0b0;
      border: 2px solid #b0b0b0;
      font-weight: 600;
      transition: all .2s ease-in;
      }
      .btn {
      display: inline-block;
      background: 0 0;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 0;
      }
      .mright15 {
      margin-right: 15px;
      }
      .mbottom20 {
      margin-bottom: 20px!important;
      }
      .text-capitalize {
      text-transform: capitalize!important;
      }
      a, a:visited{
      text-decoration: none;
      }
    </style>
    <script async="" charset="UTF-8" src="./our_services_files/en.js"></script><iframe src="./our_services_files/aframe.html" width="0" height="0" style="display: none;"></iframe>
  </body>
  <iframe id="google_esf" name="google_esf" src="./our_services_files/zrt_lookup.html" style="display: none;"></iframe>
  <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
