<%= render partial: "home/header" %>
<!DOCTYPE html>
<!-- saved from url=(0034)https://www..com/portfolio -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <!-- Google Tag Manager -->
<script src="./our_services_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script src="./our_services_files/f.txt"></script><script type="text/javascript" async="" src="./our_services_files/js"></script><script type="text/javascript" async="" src="./our_services_files/insight.min.js"></script><script type="text/javascript" async="" src="./our_services_files/f(1).txt"></script><script type="text/javascript" async="" src="./our_services_files/analytics.js"></script><script src="./our_services_files/f(2).txt" id="google_shimpl"></script><script async="" src="./our_services_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script type="text/javascript" async="" src="./our_services_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-1eu7m2TQmHLEMDRBNkI+a/vXntia1/fjccuDKynBK1zQPm613i0QX9FFLXOMtSbS"></script><script async="" src="./our_services_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5VBC5M');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="dhn7p_9so7wIXbOTxjcgi-KWfn6gGCdvncCmZnF6dt8">


    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <title>Our Portfolio - Next-Gen Digital Transformation | JMW</title>
    <meta name="description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">

    <link rel="shortcut icon" href="#">

    <meta property="og:title" content="Our Portfolio - Next-Gen Digital Transformation | JMW">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">
    <meta property="og:image" content="">

    <meta name="robots" content="index, follow">
    <meta property="twitter:title" content="Our Portfolio - Next-Gen Digital Transformation | JMW">
    <meta property="twitter:site_name" content="">
    <meta property="twitter:domain" content="#">
    <meta property="twitter:description" content="From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation.">
    <meta property="twitter:image" content="#">

    <link rel="canonical" href="">
    <link href="./our_services_files/css" rel="stylesheet" hreflang="en">
    <link rel="stylesheet" href="./our_services_files/font-awesome.min.css">

    <link href="./our_services_files/minified-plugins.min.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/style.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/ie-specific.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/safari-specific.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/responsive.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/portfolio.css" rel="stylesheet" hreflang="en">
    <link href="./our_services_files/review.css" rel="stylesheet" hreflang="en">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Our Portfolio - Next-Gen Digital Transformation | Systango",
        "url": "https://www.systango.com/portfolio",
        "description": "From award-winning iOS and Android App development to seamless web experiences, we build products that unlock the next stage of digital transformation."
      }
    </script>

<meta http-equiv="origin-trial" content="A+cA2PUOfIOKAdSDJOW5CP9ZlxONy1yu+hqAq72zUtKw4rLdihqRp6Nui/jUyCyegr+BUtH+C+Elv0ufn05yBQEAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A+zsdH3aNZT/bkjT8U/o5ACzyaeNYzTvtoVmwf/KOilfv39pxY2AIsOwhQJv+YnXp98i3TqrQibIVtMWs5UHjgoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="AxceVEhIegcDEHqLXFQ2+vPKqzCppoJYsRCZ/BdfVnbM/sUUF2BXV8lwNosyYjvoxnTh2FC8cOlAnA5uULr/zAUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><link rel="preload" href="./our_services_files/f(3).txt" as="script"><script type="text/javascript" src="./our_services_files/f(3).txt"></script><link rel="preload" href="./our_services_files/f(4).txt" as="script"><script type="text/javascript" src="./our_services_files/f(4).txt"></script><script type="text/javascript" async="" src="./our_services_files/f(5).txt"></script></head>

<body class="inner-page" data-new-gr-c-s-check-loaded="14.1080.0" data-gr-ext-installed="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

<!-- eedd Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
<script src="./our_services_files/minified-plugins.min.js"></script>
<script defer="" src="./our_services_files/api.js" async=""></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
<script src="./our_services_files/additional-methods.min.js" async=""></script>
<script async="" src="./our_services_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
<div class="body-cover">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">




<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
  <div class="show-link">
      <div id="accordion" class="mega-menu-section" style="display: none">
      <div class="tab-heading-link">
        <%= link_to "What We Do", what_we_do_path%>
        <span class="close_menu">
          <img src="./our_services_files/close.svg" width="12" alt="Close">
        </span>
      </div>
      <!-- Mobile App Development -->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
              Mobile App Development
            </a> -->

            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <span class="menuIcon"><img src="./our_services_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="">
                <%= link_to "Mobile App Development", services_mobile_app_development_path%>
              </li>
              <li class="">
                <a href="#">
                  iOS App Development
                </a>
              </li>

              <li class="">
                <a href="#">
                  Android App Development
                </a>
              </li>

              <li class="">
                <a href="#">
                  Cross-Platform App Development
                </a>
              </li>

              <li class="">
                <a href="#">
                  React Native App Development
                </a>
              </li>

              <li class="">
                <a href="#">
                  Flutter App Development
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Web Development -->
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <!-- <a class="link-site">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/web-app.svg" alt=""></span>
              Web Development
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="menuIcon"><img src="./our_services_files/web-app.svg" alt="Web Development"> Web Development</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
              <%= link_to "Web Development", services_web_development_path%>  
              </li>
              <li class="col-md-4">
                <a href="#">
                  Front end Development
                </a>
              </li>
              <li class="col-md-4">
                <a href="#">
                  AngularJS
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  HTML/CSS
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  React JS
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Vue JS
                </a>
              </li>

               <li class="col-md-4">
                  <a href="#">
                    Backend Development
                  </a>
                </li>

              <li class="col-md-4">
                <a href="#">
                  Python
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Node
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  ROR
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  PHP
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Java
                </a>
              </li>

              <li class="col-md-4">
                <a href="">
                  .Net
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Zoho Offering -->
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <!-- <a class="link-site" href="<//?php echo  $base_url; ?>zoho-offerings">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/zoho.svg" alt=""></span>
              Zoho Offerings
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="menuIcon"><img src="./our_services_files/zoho.svg" alt="Zoho Offerings"> Zoho Offerings</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="#">
                  Zoho Offerings
                </a>
              </li>
              <li class="col-md-4">
                <a href="#">
                  Zoho Analytics
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Zoho Integrations
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Zoho Creator/Zoho CRM
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Digital Marketing -->
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/digital-marketing">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/digital-marketing.svg" alt=""></span>
              Digital Marketing
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <span class="menuIcon"><img src="./our_services_files/digital-marketing.svg" alt="Digital Marketing"> Digital Marketing</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="">
                  Digital Marketing
                </a>
              </li>
              <li class="col-md-4">
                <a href="#">
                  Search Engine Optimisation
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Pay Per Click Campaigns
                </a>
              </li>

              <li class="col-md-4">
                <a href="">
                  Social Media Management
                </a>
              </li>

              <li class="col-md-4">
                <a href="">
                  Mobile Advertising
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Devops -->
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/devops">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/devops.svg" alt=""></span>
              Devops
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <span class="menuIcon"><img src="./our_services_files/devops.svg" alt="Devops"> Devops</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <%= link_to "Devops", services_devops_path%>
              </li>
              <li class="col-md-4">
                <a href="">
                  Cloud Computing
                </a>
              </li>

              <li class="col-md-4">
                <%= link_to "Security Engineering", services_devops_path%>
              </li>

              <li class="col-md-4">
                <%= link_to "Cloud Consultation and Expertise", services_devops_path%>
              </li>

              <li class="col-md-4">
                <%= link_to "CI/CD Pipeline", services_devops_path%>
              </li>

              <li class="col-md-4">
                <%= link_to "Process Automation", services_devops_path%>
              </li>

              <li class="col-md-4">
                <%= link_to "Operational Management Release", services_devops_path%>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Data Engineering -->
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <!-- <a href="<//?php echo  $base_url; ?>our-services#nextGenration" class="link-site">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/innovation.svg" alt=""></span>
              Innovation
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <span class="menuIcon"><img src="./our_services_files/data-science.svg" alt="Data Engineering">Data Engineering</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="#">
                  <!-- <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/innovation.svg" alt=""></span> -->
                  Data Engineering
                </a>
              </li>
              <li class="col-md-4">
                <a href="#">
                  Data Wrangling &amp; ETL
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Visualization
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Statistical Modeling
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Predictive Modeling
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Machine Learning &amp; Neural Networks
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Natural Language Processing
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Innovation -->
      <div class="card">
        <div class="card-header" id="headingSix1">
          <h5 class="mb-0">
            <!-- <a href="<//?php echo  $base_url; ?>our-services#nextGeneration" class="link-site">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/innovation.svg" alt=""></span>
              Innovation
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseSix1" aria-expanded="false" aria-controls="collapseSix1">
              <span class="menuIcon"><img src="./our_services_files/innovation.svg" alt="Innovation">Innovation</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseSix1" class="collapse" aria-labelledby="headingSix1" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="#">
                  <!-- <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/innovation.svg" alt=""></span> -->
                  Innovation
                </a>
              </li>
              <li class="col-md-4">
                <a href="#">
                  AI
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  AR
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Big Data
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  Blockchain
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  RPA
                </a>
              </li>

              <li class="col-md-4">
                <a href="#">
                  ML
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- QA -->
      <div class="card">
        <div class="card-header" id="headingSeven1">
          <h5 class="mb-0">
            <!-- <a class="link-site">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/qa.svg" alt=""></span>
              QA
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <span class="menuIcon"><img src="./our_services_files/qa.svg" alt="QA"> QA</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven1" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="#">
                  QA
                </a>
              </li>
              <li class="col-md-4">
                <a>
                  Manual
                </a>
              </li>

              <li class="col-md-4">
                <a>
                  Automation
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- QA -->
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <!-- <a class="link-site">
              <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/qa.svg" alt=""></span>
              QA
            </a> -->
            <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapseSeven">
              <span class="menuIcon"><img src="./our_services_files/our-product.svg" alt="Our Products"> Our Products</span>

              <img src="./our_services_files/down-arrow.svg" alt="Navigation">
            </button>
          </h5>
        </div>
        <div id="collapse12" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li class="col-md-4">
                <a href="#">
                  Swotter LMS Software
                </a>
              </li>
              <li class="col-md-4">
                  <a href="https://shootih.com/">
                    Shootih
                  </a>
             </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Consulting Services -->
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <a class="link-site">
              <span class="menuIcon"><img src="./our_services_files/consulting.svg" alt="Consulting Services"> Consulting Services</span>

            </a>
          </h5>
        </div>
        <!-- <div id="collapseThree" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">

          </div>
        </div> -->
      </div>
      <!-- Staff Augmentation -->
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <a class="link-site" href="#">
              <span class="menuIcon"><img src="./our_services_files/staff.svg" alt="Staff Augmentation"> Staff Augmentation</span>

            </a>
          </h5>
        </div>
        <!-- <div id="collapseThree" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">

          </div>
        </div> -->
      </div>
      <!-- Support and Maintenance Desk -->
      <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <a class="link-site">
              <span class="menuIcon"><img src="./our_services_files/support.svg" alt="Support and Maintenance Desk"> Support and Maintenance Desk</span>

            </a>
          </h5>
        </div>
        <!-- <div id="collapseThree" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body">

          </div>
        </div> -->
      </div>
      <!--  -->
      </div>
      <!--End of Tawk.to Script-->
       <div id="social-navigation" class="social-navigation social-inner">
        <ul>
          <li>
            <a href="https://www.linkedin.com/company/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
                <g>
                  <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707 c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21 v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824 C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463 c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z M5.477,420.56h92.184v-277.32H5.477V420.56z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <g>
                  <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513 c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101 c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104 c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194 c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485 c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/justmindwork/" target="_blank">
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                <g>
                  <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803 c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654 c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246 c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"></path>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank" class="gitlab">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 602 360">
                <path d="M340.105,344.1c-53.643,0-114.492,4.964-159.982-18.082-53.288-26.947-55.887-99.632-24.222-132.488,30.721-31.793,70.893-20.21,118.628-20.092,11.225,0,13.588,1.891,24.222,2.009,17.841,0.236,30.247-1.655,48.916-1.891,10.4-.118,11.933-1.891,22.331-2.009,33.556-.473,51.279-1.891,74.556,23.046,28.711,30.493,26.112,100.814-14.888,128.588-22.449,15.247-52.461,20.919-89.561,20.919h0Zm31.783-97.5c0,52.475,46.908,45.147,46.908,3.782,0-45.975-46.908-42.429-46.908-3.782h0Zm-185.5,3.782c0,39.947,46.908,50.347,46.908-3.782,0-38.647-46.908-42.193-46.908,3.782h0ZM105.8,55.367c0,8.155.827,12.41,1.772,18.91,4.254,30.611,7.444,13.946-13,44.793C69.294,157.008,72.6,231.466,87.017,261.6c-37.81,0-50.1,2.245-82.472,3.781L1,265.5v5.909l3.663-.354c6.735-.473,13.588.354,20.323-0.355l63.922-3.427c1.3,5.436,3.308,8.627,5.671,13.119a543.122,543.122,0,0,0-85.426,6.382c-2.836.472-5.553,0.827-8.153,1.3v7.091l9.1-1.773c26.112-3.664,58.841-7.446,88.262-7.446,1.772,8.037,15.951,25.292,21.977,30.492C149.048,341.5,195.011,360.526,237.192,361c0.236-.118,124.89-0.473,125.953,0,24.576-.236,69.357-12.528,85.662-20.564,19.259-9.456,47.262-31.911,52.461-54.485L603,298.123v-9.691a621.239,621.239,0,0,0-97.951-8.036c4.726-20.447,15.6-11.819,33.674-11.229,15.833,0.473,32.611-1.536,47.971.71L603,271.532v-6.974c-30.484-2.6-60.969-2.954-92.4-2.954,7.207-14.892,5.434-37.348,7.8-57.912,4.136-35.575-7.8-73.631-28.593-101.169-18.55-24.582-7.326-7.091-7.326-58.384,0-11.937-5.317-43.139-15-43.139-43.245,0-84.008,33.8-88.026,33.8-10.4,0-40.763-7.564-84.362-7.564a367.166,367.166,0,0,0-52.225,4.018c-32.492,4.728-23.276,12.173-41.472-.236C181.423,17.429,150.466,1,117.028,1c-2.008,8.746-5.2,14.655-7.562,24.347a136.471,136.471,0,0,0-3.662,30.02h0Z" transform="translate(-1 -1)"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/justmindwork/?igshid=YmMyMTA2M2Y%3D/" target="_blank">
              <svg id="Bold" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="m12.004 5.838c-3.403 0-6.158 2.758-6.158 6.158 0 3.403 2.758 6.158 6.158 6.158 3.403 0 6.158-2.758 6.158-6.158 0-3.403-2.758-6.158-6.158-6.158zm0 10.155c-2.209 0-3.997-1.789-3.997-3.997s1.789-3.997 3.997-3.997 3.997 1.789 3.997 3.997c.001 2.208-1.788 3.997-3.997 3.997z"></path><path d="m16.948.076c-2.208-.103-7.677-.098-9.887 0-1.942.091-3.655.56-5.036 1.941-2.308 2.308-2.013 5.418-2.013 9.979 0 4.668-.26 7.706 2.013 9.979 2.317 2.316 5.472 2.013 9.979 2.013 4.624 0 6.22.003 7.855-.63 2.223-.863 3.901-2.85 4.065-6.419.104-2.209.098-7.677 0-9.887-.198-4.213-2.459-6.768-6.976-6.976zm3.495 20.372c-1.513 1.513-3.612 1.378-8.468 1.378-5 0-7.005.074-8.468-1.393-1.685-1.677-1.38-4.37-1.38-8.453 0-5.525-.567-9.504 4.978-9.788 1.274-.045 1.649-.06 4.856-.06l.045.03c5.329 0 9.51-.558 9.761 4.986.057 1.265.07 1.645.07 4.847-.001 4.942.093 6.959-1.394 8.453z"></path><circle cx="18.406" cy="5.595" r="1.439"></circle></svg>
            </a>
          </li>
          <li>
            <a href="http://justmindwork.com/" class="custom-blog">
              <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 438.156 452.25">
                <path d="M1,127.391v190C1,338.2,5.843,350.022,22.379,364.8c9.568,8.631,23.978,11.824,37.089,12.178l12.875-.591V464c8.268-1.891,40.277-26.247,48.191-31.8,12.521-8.631,60.239-43.628,71.46-49.658,8.623-4.729,21.852-6.148,34.963-6.148,13.347,0.118,111.5.946,120.243-.709,22.442-4.138,37.561-15.489,43.467-37.716,4.96-19.154,2.716-172.383,2.716-200.641-4.252,1.064-13.937,12.3-17.6,15.961-25.159,25.184-20.2,13.6-20.2,46.7V300.719c0,46.347,4.134,38.9-96.265,38.9-16.418,0-54.57-1.774-67.09.946-11.1,2.364-14.765,5.793-22.56,11L110.14,393.768v-54.15H59.35c-13.584,0-20.552-8.158-20.552-21.637v-182.9c0-30.622,25.4-23.765,56.223-23.765H257.2c11.575,0.118,9.331-1.182,24.1-15.961,5.2-5.2,16.772-15.607,20.2-20.809H128.566c-21.143,0-68.389-2.246-84.926,1.537A53.713,53.713,0,0,0,1,127.391H1ZM347.79,46.165c1.654,5.439,53.625,55.687,56.46,57.579,5.433-1.3,11.221-7.8,14.056-11.941-4.489-6.621-21.616-22.11-28.466-28.967-3.662-3.665-25.395-27.194-30-28.376Zm21.852-20.336c1.417,5.2,52.207,54.387,55.16,56.279,15.71-10.641,20.2-25.893,5.079-40.909C414.172,25.711,396.69,1,379.091,16.843c-1.653,1.537-8.74,8.04-9.449,8.986h0ZM183.254,267.023c-7.678-11.35-8.977-.591-2.481-24,1.418-4.848,4.253-12.651,4.607-17.144,4.134,2.719,3.662,4.256,10.749,4.375,6.732,0.118,8.622,1.064,15.237,1.064,0,12.3-1.772,19.745,5.315,25.893-5.67.473-11.458,3.074-17.009,4.611-4.607,1.3-12.166,3.074-16.418,5.2h0Zm-23.86,23.765c6.969,0,43.94-11.942,53.507-14.661,23.387-6.621,22.679-10.05,40.868-28.376,5.552-5.557,139.732-129.7,142.921-134.312l-57.64-58.17c-5.316,3.547-148.237,139.4-160.993,151.455-9.922,9.341-7.8,8.631-14.292,32.16-2.717,9.7-5.434,18.562-8.268,28.494-1.654,5.793-9.922,23.41,3.9,23.41h0Z" transform="translate(-1 -11.75)"></path>
              </svg>
            </a>
          </li>
          <li class="last"><span>Follow Us</span></li>
        </ul>
      </div>
        <!--/?php include 'includes/contact-popup.php'; ?-->

        <div class="container big-container">
          <!-- Updated Data -->
           <div class="container big-container">
          <section id="portfolio-slider" class="owl-carousel owl-theme owl-loaded owl-drag"><div class="owl-stage-outer owl-height" style="height: 452px;"><div class="owl-stage" style="transition: all 0s ease 0s; width: 7560px; transform: translate3d(-2160px, 0px, 0px);"><div class="owl-item cloned" style="width: 1080px;"><div class="banner uber-bg banner-carousel" id="data-aos=&quot;fade-up&quot;" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <%= image_tag "portfolio-slider-01.png" ,class: "" %>
                </div>
                <div class="col-md-6 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h2 class="mt-3 heading-copy">Uberconference<span class="dot"></span></h2>
                    <p class="text-white mtop20 mbottom-20">Conferencing without clutter is no more a Dream. UberConference makes joining and managing web conferences a cinch.</p>
                    <div class="inline-logo">
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_1.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_2.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_3.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_4.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                    </div>
                     <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>

                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 1080px;"><div class="banner grindr-bg banner-carousel aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <img src="./our_services_files/portfolio-slider-04.png" alt="Portoflio Slider Grindr">
                </div>
                <div class="col-md-5 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h2 class="mt-3 heading-copy">Grindr<span class="dot"></span></h2>
                    <p class="text-white mtop20 mb-0">World’s largest social networking platform for LGBTQ community. Flaunts a staggering status of accommodating 3.8 Million DAU&amp;APOS;s </p>
                    <div class="inline-logo">
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/wiki-logo.png" class="mtop10" alt="Wikipedia" title="Wikipedia"></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><%= image_tag "tc-logo.png" ,class: "mtop10",title: "TechCrunch" %></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/tnyt-logo.png" class="mtop10" alt="NY Times" title="The New York Times"></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/thp-logo.png" class="mtop10" alt="The Huffington Post" title="The Huffington Post"></div>
                    </div>
                     <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>

                </div>
              </div>
            </div></div><div class="owl-item active center" style="width: 1305px;"><div class="banner navy-blue-bg banner-carousel aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <%#= image_tag "portfolio-slider-03" ,class: "" %>
                </div>
                <div class="col-md-5 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h1 class="mt-3">Fret Zealot<span class="dot"></span></h1>
                    <p class="text-white mtop20 mb-0">Learning Guitar Made Easier. Fret Zealot is the most undemanding way to master guitar with the use of LEDs and smart technology.</p>
                    <div class="inline-logo">
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "tv-logo.png" ,class: "mtop10",title: "TheVerse" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "tc-logo.png" ,class: "mtop10",title: "TechCrunch" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "kickstarter.png" ,class: "mtop10",title: "KickStarter" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "inc.png" ,class: "mtop10",title: "Inc" %>
                    </div>
                    <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div></div><div class="owl-item" style="width: 1080px;"><div class="banner uber-bg banner-carousel" id="data-aos=&quot;fade-up&quot;" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <%= image_tag "portfolio-slider-01.png" ,class: "" %>
                </div>
                <div class="col-md-6 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h2 class="mt-3 heading-copy">Uberconference<span class="dot"></span></h2>
                    <p class="text-white mtop20 mbottom-20">Conferencing without clutter is no more a Dream. UberConference makes joining and managing web conferences a cinch.</p>
                    <div class="inline-logo">
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_1.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_2.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_3.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_4.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                    </div>
                     <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>

                </div>
              </div>
            </div></div><div class="owl-item" style="width: 1080px;"><div class="banner grindr-bg banner-carousel aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <img src="./our_services_files/portfolio-slider-04.png" alt="Portoflio Slider Grindr">
                </div>
                <div class="col-md-5 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h2 class="mt-3 heading-copy">Grindr<span class="dot"></span></h2>
                    <p class="text-white mtop20 mb-0">World’s largest social networking platform for LGBTQ community. Flaunts a staggering status of accommodating 3.8 Million DAU&amp;APOS;s </p>
                    <div class="inline-logo">
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/wiki-logo.png" class="mtop10" alt="Wikipedia" title="Wikipedia"></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><%= image_tag "tc-logo.png" ,class: "mtop10",title: "TechCrunch" %></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/tnyt-logo.png" class="mtop10" alt="NY Times" title="The New York Times"></div>
                      <div class="client-logo d-inline-block mt-2 small-logo"><img src="./our_services_files/thp-logo.png" class="mtop10" alt="The Huffington Post" title="The Huffington Post"></div>
                    </div>
                     <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>

                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 1080px;"><div class="banner navy-blue-bg banner-carousel aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <img src="./our_services_files/portfolio-slider-03.png" alt="Portoflio Slider Fret Zealot">
                </div>
                <div class="col-md-5 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h1 class="mt-3">Fret Zealot<span class="dot"></span></h1>
                    <p class="text-white mtop20 mb-0">Learning Guitar Made Easier. Fret Zealot is the most undemanding way to master guitar with the use of LEDs and smart technology.</p>
                    <div class="inline-logo">
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "tv-logo.png" ,class: "mtop10",title: "TheVerse" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "tc-logo.png" ,class: "mtop10",title: "TechCrunch" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "kickstarter.png" ,class: "mtop10",title: "KickStarter" %></div>
                      <div class="d-inline-block client-logo small-logo"><%= image_tag "inc.png" ,class: "mtop10",title: "Inc" %></div>
                    </div>
                    <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div></div><div class="owl-item cloned" style="width: 1080px;"><div class="banner uber-bg banner-carousel" id="data-aos=&quot;fade-up&quot;" data-aos-delay="100">
              <div class="row">
                <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                  <img src="./our_services_files/portfolio-slider-01.png" alt="Portoflio Slider Uberconference">
                </div>
                <div class="col-md-6 column-3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h2 class="mt-3 heading-copy">Uberconference<span class="dot"></span></h2>
                    <p class="text-white mtop20 mbottom-20">Conferencing without clutter is no more a Dream. UberConference makes joining and managing web conferences a cinch.</p>
                    <div class="inline-logo">
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_1.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_2.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_3.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                      <div class="d-inline-block client-logo small-logo"><img src="./our_services_files/uber_4.png" class="mtop10" alt="uberconference" title="uberconference"></div>
                    </div>
                     <a class="apd-white-bordered-btn" href="#">View Case Study </a>
                    <div class="clearfix"></div>

                </div>
              </div>
            </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><img src="./our_services_files/slide-prev.png" alt="Slider Previous" title="Slider Previous"></button><button type="button" role="presentation" class="owl-next"><img src="./our_services_files/slide-next.png" alt="Slider Next" title="Slider Next"></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></section>
        </div>      <!-- End Updated Data -->
        </div>

        <div class="spacer30 reduceMobile"></div>
        <div class="spacer50 disable_mobile"></div>

        <div class="container content dark-text">
          <div class="row">
            <div class="col-md-12 flex-wrap aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center section_heading ">Have a Look at Some of Our Inspiring Crafts.</h2>
              <div class="spacer30 reduceMobile"></div>
              <h4 class="text-center subheading_ourwork">Industries.</h4>

              <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>

                    <button data-filter=".automation" class="btn primary-btn text-capitalize mright15 mbottom20">Automation</button>

                    <button data-filter=".b2b-solutions" class="btn primary-btn text-capitalize mright15 mbottom20">B2B Solutions</button>

                    <button data-filter=".e-commerce" class="btn primary-btn text-capitalize mright15 mbottom20">E-Commerce</button>

                    <button data-filter=".enterprise-mobility" class="btn primary-btn text-capitalize mright15 mbottom20">Enterprise Mobility</button>

                    <button data-filter=".entertainment" class="btn primary-btn text-capitalize mright15 mbottom20">Entertainment</button>

                    <button data-filter=".fintech" class="btn primary-btn text-capitalize mright15 mbottom20">Fintech</button>

                    <button data-filter=".health-fitness" class="btn primary-btn text-capitalize mright15 mbottom20">Health &amp; Fitness</button>

                    <button data-filter=".igaming-and-fantasy-sports" class="btn primary-btn text-capitalize mright15 mbottom20">iGaming and Fantasy Sports</button>

                    <button data-filter=".iot" class="btn primary-btn text-capitalize mright15 mbottom20">IoT</button>

                    <button data-filter=".machine-learning" class="btn primary-btn text-capitalize mright15 mbottom20">Machine Learning</button>

                    <button data-filter=".music-entertainment" class="btn primary-btn text-capitalize mright15 mbottom20">Music &amp; Entertainment</button>

                    <button data-filter=".real-estate" class="btn primary-btn text-capitalize mright15 mbottom20">Real Estate</button>

                    <button data-filter=".shopping-app" class="btn primary-btn text-capitalize mright15 mbottom20">Shopping App</button>

                    <button data-filter=".smart-city" class="btn primary-btn text-capitalize mright15 mbottom20">Smart City</button>

                    <button data-filter=".social-networking" class="btn primary-btn text-capitalize mright15 mbottom20">Social Networking</button>

                    <button data-filter=".specialities-and-services" class="btn primary-btn text-capitalize mright15 mbottom20">Specialities and Services</button>

                    <button data-filter=".travel-hospitality" class="btn primary-btn text-capitalize mright15 mbottom20">Travel &amp; Hospitality</button>
                        </div>

              <div class="spacer30 reduceMobile"></div>
              <h4 class="text-center subheading_ourwork">Technologies.</h4>
              <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>

                       <button data-filter=".android-app" class="btn primary-btn text-capitalize mright15 mbottom20">Android App</button>

                       <button data-filter=".angular-js" class="btn primary-btn text-capitalize mright15 mbottom20">Angular JS</button>

                       <button data-filter=".blockchain" class="btn primary-btn text-capitalize mright15 mbottom20">Blockchain</button>

                       <button data-filter=".devops" class="btn primary-btn text-capitalize mright15 mbottom20">Devops</button>

                       <button data-filter=".digital-marketing" class="btn primary-btn text-capitalize mright15 mbottom20">Digital Marketing</button>

                       <button data-filter=".django" class="btn primary-btn text-capitalize mright15 mbottom20">Django</button>

                       <button data-filter=".flutter-app" class="btn primary-btn text-capitalize mright15 mbottom20">Flutter App</button>

                       <button data-filter=".ios" class="btn primary-btn text-capitalize mright15 mbottom20">Ios</button>

                       <button data-filter=".iot" class="btn primary-btn text-capitalize mright15 mbottom20">IoT</button>

                       <button data-filter=".java" class="btn primary-btn text-capitalize mright15 mbottom20">Java</button>

                       <button data-filter=".mobile-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Mobile Apps</button>

                       <button data-filter=".node" class="btn primary-btn text-capitalize mright15 mbottom20">Node</button>

                       <button data-filter=".php" class="btn primary-btn text-capitalize mright15 mbottom20">PHP</button>

                       <button data-filter=".python" class="btn primary-btn text-capitalize mright15 mbottom20">Python</button>

                       <button data-filter=".react-js" class="btn primary-btn text-capitalize mright15 mbottom20">React JS</button>

                       <button data-filter=".react-native-app" class="btn primary-btn text-capitalize mright15 mbottom20">React Native App</button>

                       <button data-filter=".ror" class="btn primary-btn text-capitalize mright15 mbottom20">ROR</button>

                       <button data-filter=".vue-js" class="btn primary-btn text-capitalize mright15 mbottom20">Vue JS</button>

                       <button data-filter=".web-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Web Apps</button>

                       <button data-filter=".zoho-analytics" class="btn primary-btn text-capitalize mright15 mbottom20">Zoho Analytics</button>

                       <button data-filter=".zoho-integrations" class="btn primary-btn text-capitalize mright15 mbottom20">Zoho Integrations</button>
                                </div>

              <div class="spacer50"></div>
              <style>
               .navy-blue-bg{
                background-color: #ff6a006b!important;
               }
                .grid{
                  padding: 50px;
                }
              </style>


              <div class="grid portfolio row aos-init aos-animate grid-container" data-aos="fade-up" data-aos-delay="100" style="position: relative; height: 4740px; margin: 93px;">
                                 <div class="element-item  automation fintech  devops node col-md-4 grid-item" style="position: absolute; left: 0px; top: 0px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>CredWorthy</h3>
                            <p>CredWorthy is a UK-centric platform that targets unsecured loans between family and friends, especially the ones with substantial APRs.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  automation b2b-solutions  devops col-md-4 grid-item" style="position: absolute; left: 380px; top: 0px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Oak9</h3>
                            <p>Oak9 aims at keeping their clients cloud infrastructure secure by design so the businesses can focus on their growth. </p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  automation specialities-and-services  devops col-md-4 grid-item" style="position: absolute; left: 760px; top: 0px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Kelley Kronenberg</h3>
                            <p>Developed Online Portal for Legal Case and Invoice Management to Ease User Experience.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  fintech specialities-and-services  blockchain react-js col-md-4 grid-item" style="position: absolute; left: 380px; top: 360px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Ethereum Splitter</h3>
                            <p>Leveraged Smart Contracts to enable direct &amp; secure payments with reduced gas burn.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  entertainment music-entertainment  angular-js blockchain web-apps col-md-4 grid-item" style="position: absolute; left: 760px; top: 372px;">
                          <a href="# " class="white-bg portfolio-item ">
                            <h3>Veraticket</h3>
                            <p>Veraticket builds an NFT ticketing platform to buy, sell and trade event tickets.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  fintech machine-learning smart-city  android-app mobile-apps react-js react-native-app col-md-4 grid-item" style="position: absolute; left: 0px; top: 393px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Youtility</h3>
                            <p>Learn How Youtility enhanced its user interface to deliver embedded connectivity and control for modern consumers.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  entertainment music-entertainment social-networking  blockchain col-md-4 grid-item" style="position: absolute; left: 760px; top: 699px;">
                          <a href="# " class="white-bg portfolio-item ">
                            <h3>FootballFan App</h3>
                            <p>Architecture consultation to roll out blockchain-based reward points for Football Fans.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  health-fitness  android-app react-native-app col-md-4 grid-item" style="position: absolute; left: 380px; top: 732px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Pathways</h3>
                            <p>Effective Pain Therapy Program that changes the way the brain perceives the pain, thus reducing that chronic pain.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  e-commerce shopping-app  react-native-app col-md-4 grid-item" style="position: absolute; left: 0px; top: 753px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>The Simcha App</h3>
                            <p>Giving a gift has never been this easy. With just a few taps, send the perfect gift to your close ones.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  iot machine-learning  django iot node python react-js col-md-4 grid-item" style="position: absolute; left: 760px; top: 1026px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Junction</h3>
                            <p>An IoT building intelligence system that picks up the temperature, humidity, and gas increases in buildings. Detects sudden changes in sound, light, and motion-based on machine learning algorithms and gets smarter with usage.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  fintech  android-app angular-js django node react-js col-md-4 grid-item" style="position: absolute; left: 0px; top: 1080px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Gettaxshield</h3>
                            <p>Taxshield helps companies in the US like crosslink distribute funds before the IRS processes their returns which enables them to retain employees.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  entertainment social-networking  android-app col-md-4" style="position: absolute; left: 380px; top: 1092px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>VYNG</h3>
                            <p>VYNG lets you design customised ringtones for each of your loved ones, providing you with a tailored experience for each one of your callers.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  specialities-and-services travel-hospitality  android-app ios mobile-apps col-md-4" style="position: absolute; left: 0px; top: 1473px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>GoWabi</h3>
                            <p>Thailand’s #1 and largest spa and beauty booking application. Makes booking wellness services in Thailand an absolutely breezy affair.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  igaming-and-fantasy-sports social-networking  android-app ios react-native-app col-md-4" style="position: absolute; left: 380px; top: 1485px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>NotYetPro</h3>
                            <p>NotYetPro is a sports specific social networking platform that empower amateur athletes. A new athlete paradigm, the app allows athletes to self-promote and chronicle their career.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  specialities-and-services  react-native-app ror col-md-4" style="position: absolute; left: 760px; top: 1485px;">
                          <a href="#" class="white-bg portfolio-item blue">
                            <h3>My Online Cleaner (MFS)</h3>
                            <p>Laundry can get boring.. So we helped MyOnlineCleaner redefine ordering laundry services with a simple app that will get you clean clothes with just a few taps!</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 0px; top: 1833px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>ExpertLabels</h3>
                            <p>Be it Brewery, Cosmetic, Food, or Pharmaceutical products, ExpertLabels can label it for you. We helped ExpertLabel unleash the full potential of the Zoho Products Suite for leads capture, engagement and delivery and built an integrated business solution.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  automation e-commerce  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 380px; top: 1911px;">
                          <a href="#" class="white-bg portfolio-item feelshare">
                            <h3>Inovelli</h3>
                            <p>A consumer electronics company that offers customized solutions and allows its customers to have full control of their smart home devices, no matter where they are.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  music-entertainment social-networking  android-app ios react-native-app col-md-4" style="position: absolute; left: 760px; top: 1923px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>RadioSpirits</h3>
                            <p>Radio Spirits features a selection of Old Time Radio (OTR) shows and is hosted by Greg Bell. The app also allows users to stream and download programs on-demand from classic radio library.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions  devops php zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 380px; top: 2304px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Squirrel Hub</h3>
                            <p>Squirrel Hub, a consultancy that provides CRM focussed advisory, strategy and integrations to other businesses - relies on JMW engineers for their CRM integration Expertise.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  automation b2b-solutions  zoho-analytics zoho-integrations col-md-4" style="position: absolute; left: 0px; top: 2325px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Diener Law</h3>
                            <p>4iiz is a software for law firms currently used across the USA. Firms using 4iiz have recorded increase in revenues by 200%, 300% even 400%!</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  music-entertainment social-networking  mobile-apps col-md-4" style="position: absolute; left: 760px; top: 2349px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Feelshare</h3>
                            <p>Feelshare lets you broadcast rich music experiences for listeners across the world in real-time. Live video feature is also there to show the world where you are.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions enterprise-mobility  web-apps col-md-4" style="position: absolute; left: 0px; top: 2718px;">
                          <a href="#" class="white-bg portfolio-item green">
                            <h3>UberConference by Dialpad</h3>
                            <p>A revolutionary business phone system that has created a new category of cloud communication in itself. Dialpad is used by 25,000+ companies for business communications.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions real-estate  devops ios web-apps col-md-4" style="position: absolute; left: 380px; top: 2730px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Stratalert</h3>
                            <p>An efficient communication platform for owners, tenants, workers and strata managers in office buildings. They wanted to transform the Strata Management sector and pilot other programs creating “smart cities”.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  music-entertainment social-networking  devops java mobile-apps python col-md-4" style="position: absolute; left: 760px; top: 2742px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Veromuse</h3>
                            <p>A popular social music app geared to help artists build a stronger connection with their fans.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  fintech real-estate  react-native-app vue-js web-apps col-md-4" style="position: absolute; left: 760px; top: 3069px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Futurebricks</h3>
                            <p>FutureBricks, a Fintech, FCA regulated, Web and Mobile based, peer to peer lending platform for property developments. Book size of more than £1m in its first year.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions enterprise-mobility travel-hospitality  android-app devops ios python react-js web-apps col-md-4" style="position: absolute; left: 380px; top: 3156px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Waitlist</h3>
                            <p>The easiest and most effective way to manage waitlist and reservations. We are Waitlist's core technology since 2012, originally a Google Venture backed company.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                          </a>
                    </div>
                                    <div class="element-item  b2b-solutions  devops mobile-apps web-apps col-md-4" style="position: absolute; left: 0px; top: 3189px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Porsche</h3>
                            <p>We created an iPad App and CMS to help Porsche increase their outreach in Australia &amp; Thailand in Trade Expos.
      The app helped Porsche capture 389 leads in 1 day.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  automation b2b-solutions  iot mobile-apps web-apps col-md-4" style="position: absolute; left: 760px; top: 3462px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>SmilePass</h3>
                            <p>A next-gen cloud-based biometric security solution to ditch concerns of social engineering, fraud, and theft.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  travel-hospitality  iot mobile-apps col-md-4" style="position: absolute; left: 380px; top: 3549px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>DrinkMate</h3>
                            <p>Dubbed as 'the smallest, most convenient breathalyzer in the world' by TechCrunch which measures your Blood Alcohol Content level and tells you if you are safe to drive.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  social-networking  devops col-md-4" style="position: absolute; left: 0px; top: 3582px;">
                          <a href="#" class="white-bg portfolio-item orange">
                            <h3>Grindr</h3>
                            <p>Since launching in 2009, Grindr has quickly grown into the world's largest social networking app for gay, bi-curious and queer men. Our QA and DevOps team helped them accommodate hundreds of requests/per second helping them reach 3M DAU.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  igaming-and-fantasy-sports  flutter-app ios mobile-apps col-md-4" style="position: absolute; left: 760px; top: 3822px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Strat-o-matic</h3>
                            <p>Based in Glen Head, New York, Strat-O-Matic is a
                              well-acclaimed fantasy sports game company
                              dedicated to develop and publish board games,
                              digital games and simulations.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  music-entertainment  iot java mobile-apps python web-apps col-md-4" style="position: absolute; left: 380px; top: 3975px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Fret Zealot</h3>
                            <p>Fret Zealot is a state-of-the-art app-enabled LED
                        addition to your guitar. It fits just above the frets
                        and shows you exactly where to put your fingers
                        to play anything you can imagine!</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  social-networking  digital-marketing col-md-4" style="position: absolute; left: 0px; top: 4074px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Madimack</h3>
                            <p>Being Energy Efficient is the need of the hour and Madimack does just that! They provide High Energy Efficient Solutions for Homes, Offices and Other Commercial Spaces by installing heat pumps and AI automated controls. Our SM experts helped optimise their ad campaigns and increase ROI by 1000%.</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                          </a>
                    </div>
                    <div class="element-item  specialities-and-services  digital-marketing col-md-4" style="position: absolute; left: 760px; top: 4248px;">
                          <a href="#" class="white-bg portfolio-item ">
                            <h3>Tateossian</h3>
                            <p>Tateossian London is a leading brand known for its unique, refined and meticulously crafted accessories for men and women. Our digital marketing specialists helped them build and implement a sales funnel that increased ROAS by 40%</p>
                            <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png",alt: "Link Arrow"%></p>
                          </a>
                    </div>

              </div>
              <div class="spacer50"></div>
            </div>
          </div>
        </div>

        <!-- <div class="spacer50"></div> -->

        <div id="winning-section" class="container content dark-text mb-5" hidden="">
          <div class="row">
              <div class="col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                  <h2>Awards and recognitions</h2>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                  <img src="./our_services_files/winner-icon.png" alt="Apple" title="Apple">
                  <div class="stackbox white-bg pad-80 pl-4 pr-4">
                      <h3>UberConference</h3>
                      <p class="mb-0">Winer of TechCrunch Disrupt</p>
                  </div>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                  <img src="./our_services_files/winner-icon.png" alt="Android" title="Android">
                  <div class="stackbox white-bg pad-80 pl-4 pr-4">
                      <h3>Fret Zealot</h3>
                      <p class="mb-0">Winner of TechCrunch Disrupt</p>
                  </div>
              </div>
              <div class="col-md-4 mt-4 content stack-content text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                  <img src="./our_services_files/winner-icon.png" alt="Hybrid" title="Hybrid">
                  <div class="stackbox white-bg pad-80 pl-4 pr-4">
                      <h3>Smilepass</h3>
                      <p class="mb-0">Winner of TechCrunch Disrupt</p>
                  </div>
              </div>
          </div>
        </div>


        <!-- Review Slider -->
       <!-- Developing Section Start -->
      <section class="zoho_developing aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
      <div class="container">
      <div class="zoho_consulting_wrap">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section_heading text-center">
              Developing Solutions For A <span class="color_text">Range Of Business Domains</span>.
            </h2>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 zoho_developing_list">
            <ul>
              <li>
                <img src="./our_services_files/mobile.png" alt="">
                <p>Enterprise Mobility</p>
              </li>
              <li>
                <img src="./our_services_files/partner.png" alt="">
                <p>Social Networks Apps</p>
              </li>
              <li>
                <img src="./our_services_files/alexa.png" alt="">
                <p>Fintech Apps</p>
              </li>
              <li>
                <img src="./our_services_files/health.png" alt="">
                <p>Health &amp; Fitness Apps</p>
              </li>
              <li>
                <img src="./our_services_files/cart.png" alt="">
                <p>E-Commerce Mobile Apps</p>
              </li>
              <li>
                <img src="./our_services_files/piano.png" alt="">
                <p>Music &amp; Entertainment Apps</p>
              </li>
              <li>
                <img src="./our_services_files/joystick.png" alt="">
                <p>iGaming and Fantasy Sports Apps</p>
              </li>
              <li>
                <img src="./our_services_files/education.png" alt="">
                <p>Education Apps</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
      </section>
    <!-- Developing Section END -->
       <!-- Review Slider -->
       </section>
  </div>


  <script>
      function changeTag(){
    let tag = document.querySelector(".show-link")
    tag.innerHTML = `<table class="table">
          <tbody>
            <tr>
              <th class="row">
               <%= link_to 'Mobile App Development', services_mobile_app_development_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
               <%= link_to 'Web Development', services_web_development_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
                <%= link_to 'Devpos', services_devops_path, style: "color: #f47900;" %>
              </th>
            </tr>
            <tr>
              <th class="row">
                <%= link_to 'QA', services_quality_assurance_consultancy_path, style: "color: #f47900;" %>
              </th>
            </tr>
          </tbody>
        </table>`
    $(".myFooter").hide();
  }

    $('.apd-testimonial').owlCarousel({
        loop:true,
        margin:20,
        smartSpeed: 1000,
        nav:true,
        dots: false,
        autoplay:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })


var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e327fcddaaca76c6fd0907d/default';
s1.charset='UTF-8-no BOM';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

$(document).ready(function(){
  $(".close_menu").click(function(){
    $(".mega-menu-section").hide();
  });
  $(".open_megaMenu").click(function(){
    $(".mega-menu-section").show();
  });
});


$('.collapse').collapse({
  toggle: false
})
  </script>    <!-- APD TRANSFORM IDEA END -->
    <div class="container-fluid mobile-app-container grayBg aos-init" data-aos="fade-up" data-aos-delay="100">
      <!-- Recent Blog -->


        <script>
          $(function(){
            $(".blog-title").each(function(i){
              len=$(this).text().length;
              if(len>40)
              {
                $(this).text($(this).text().substr(0,40)+'...');
              }
            });
          });
        </script>
         </div>
       </section>
    </div>

    <!-- <div class="spacer50"></div> -->
<%= render 'footer' %>
    <div id="scrollToTop" class="scroll-top" style="display: block;"><img loading="lazy" src="./our_services_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
  </div><ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled"><div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./our_services_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div></ins>

    <script src="./our_services_files/jquery-ui.min.js"></script>
    <script src="./our_services_files/jquery.ui.touch-punch.min.js"></script>








    <!-- Mainly scripts -->
    <script src="./our_services_files/isotope.pkgd.min.js"></script>
    <script src="./our_services_files/script.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var owl = $('#portfolio-slider');
        var testimonial = $("#testimonialSlider");
        // Start Carousel
        owl.owlCarousel({
            center : true,
            loop : true,
            items : 1,
            margin:0,
            nav : true,
            responsive: true,
            autoHeight:true,
            navText: ["<img src='img/slide-prev.png' alt='Slider Previous' title='Slider Previous'>", "<img src='img/slide-next.png' alt='Slider Next' title='Slider Next'>"],
        });

        testimonial.owlCarousel({
            center : true,
            loop : true,
            items : 1,
            margin:0,
            nav : true,
            responsive: true,
            autoHeight:true,
            navText: ["<img src='img/slide-prev-white.png' alt='Slider Previous' title='Slider Previous'>", "<img src='img/slide-next-white.png' alt='Slider Next' title='Slider Next'>"],
            autoplay:true,
            autoplayTimeout:8000
        });
      });

      $(window).load(function() {
         // // init Isotope
         var $grid = $('.grid').isotope({
          itemSelector: '.element-item',
        });
        // // filter items on button click
        $('.filter-button-group').on( 'click', 'button', function() {
          $('.filter-button-group button').removeClass('active');
          $(this).addClass('active');
          var filterValue = $(this).attr('data-filter');
          $grid.isotope({ filter: filterValue });
        });

        $grid.on( 'arrangeComplete', onArrange);

        onArrange();
      });
      function reveal() {
          var reveals = document.querySelectorAll(".reveal");

          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("active");
            } else {
              reveals[i].classList.remove("active");
            }
          }
        }

        window.addEventListener("scroll", reveal);
    </script>
<style>
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
filter-button-group .btn {
    font-weight: 500 !important;
    font-family: 'Muli', sans-serif !important;
}
.primary-btn {
    color: #b0b0b0;
    border: 2px solid #b0b0b0;
    font-weight: 600;
    transition: all .2s ease-in;
}
.btn {
    display: inline-block;
    background: 0 0;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
}
.mright15 {
    margin-right: 15px;
}
.mbottom20 {
    margin-bottom: 20px!important;
}
.text-capitalize {
    text-transform: capitalize!important;
}
a, a:visited{
  text-decoration: none;
}
</style>



<script async="" charset="UTF-8" src="./our_services_files/en.js"></script><iframe src="./our_services_files/aframe.html" width="0" height="0" style="display: none;"></iframe></body><iframe id="google_esf" name="google_esf" src="./our_services_files/zrt_lookup.html" style="display: none;"></iframe><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
