  <%= render partial: "home/header" %>
<!DOCTYPE html>
<!-- saved from url=(0034)https://www..com/portfolio -->
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="inner-page" data-new-gr-c-s-check-loaded="14.1080.0" data-gr-ext-installed="" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<div class="container" style="width: 970px;margin-top: 114px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "inkl.png", style: "width: 100%;"%>
      </div>

      <div class="item">
       <%= image_tag "upshift.png", style: "width: 100%;"%>
      </div>
    
      <div class="item">
        <%= image_tag "cialfo.png", style: "width: 100%;"%>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

          <div class="spacer30 reduceMobile"></div>
          <div class="spacer50 disable_mobile"></div>
          <div class="container content dark-text">
            <div class="row">
              <div class="col-md-12 flex-wrap aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h2 class="text-center section_heading ">Have a Look at Some of Our Inspiring Crafts.</h2>
                <div class="spacer30 reduceMobile"></div>
                <h4 class="text-center subheading_ourwork">Industries.</h4>
                <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                  <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>
                  <button data-filter=".automation" class="btn primary-btn text-capitalize mright15 mbottom20">Automation</button>
                  <button data-filter=".b2b-solutions" class="btn primary-btn text-capitalize mright15 mbottom20">B2B Solutions</button>
                  <button data-filter=".e-commerce" class="btn primary-btn text-capitalize mright15 mbottom20">E-Commerce</button>
                  <button data-filter=".enterprise-mobility" class="btn primary-btn text-capitalize mright15 mbottom20">Enterprise Mobility</button>
                  <button data-filter=".fintech" class="btn primary-btn text-capitalize mright15 mbottom20">Fintech</button>
                  <button data-filter=".health-fitness" class="btn primary-btn text-capitalize mright15 mbottom20">Health &amp; Fitness</button>
                  <button data-filter=".real-estate" class="btn primary-btn text-capitalize mright15 mbottom20">Real Estate</button>
                  <button data-filter=".shopping-app" class="btn primary-btn text-capitalize mright15 mbottom20">Shopping App</button>
                  <button data-filter=".smart-city" class="btn primary-btn text-capitalize mright15 mbottom20">Smart City</button>
                  <button data-filter=".social-networking" class="btn primary-btn text-capitalize mright15 mbottom20">Social Networking</button>
                  <button data-filter=".specialities-and-services" class="btn primary-btn text-capitalize mright15 mbottom20">Specialities and Services</button>
                  <button data-filter=".travel-hospitality" class="btn primary-btn text-capitalize mright15 mbottom20">Travel &amp; Hospitality</button>
                </div>
                <div class="spacer30 reduceMobile"></div>
                <h4 class="text-center subheading_ourwork">Technologies.</h4>
                <div class="filter-button-group aos-init aos-animate " data-aos="fade-up" data-aos-delay="1000">
                  <button data-filter="*" class="btn primary-btn active text-capitalize mright15 mbottom20">All</button>
                  <button data-filter=".android-app" class="btn primary-btn text-capitalize mright15 mbottom20">Android App</button>
                  <button data-filter=".angular-js" class="btn primary-btn text-capitalize mright15 mbottom20">Angular JS</button>
                  <button data-filter=".django" class="btn primary-btn text-capitalize mright15 mbottom20">Django</button>
                  <button data-filter=".flutter-app" class="btn primary-btn text-capitalize mright15 mbottom20">Flutter App</button>
                  <button data-filter=".ios" class="btn primary-btn text-capitalize mright15 mbottom20">Ios</button>
                  <button data-filter=".mobile-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Mobile Apps</button>
                  <button data-filter=".node" class="btn primary-btn text-capitalize mright15 mbottom20">Node</button>
                  <button data-filter=".python" class="btn primary-btn text-capitalize mright15 mbottom20">Python</button>
                  <button data-filter=".react-js" class="btn primary-btn text-capitalize mright15 mbottom20">React JS</button>
                  <button data-filter=".react-native-app" class="btn primary-btn text-capitalize mright15 mbottom20">React Native App</button>
                  <button data-filter=".ror" class="btn primary-btn text-capitalize mright15 mbottom20">ROR</button>
                  <button data-filter=".vue-js" class="btn primary-btn text-capitalize mright15 mbottom20">Vue JS</button>
                  <button data-filter=".web-apps" class="btn primary-btn text-capitalize mright15 mbottom20">Web Apps</button>
                </div>
                <div class="spacer50"></div>
                <style>
                  .navy-blue-bg{
                  background-color: #ff6a006b!important;
                  }
                  .grid{
                  padding: 50px;
                  }
                  .img1{
                       position: relative;
                        left: 590px;
                        margin-top: 67px;
                  }
                  .new:hover{
                     background-color: #f47900 !important;
                  }

                 .new:hover{
                      background-color: #fd7e14 !important;
                    }
                    .all-perks>li{
                      list-style: disc;
                      padding: 0 !important;
                    }
                    .carousel-control-prev, .carousel-control-next{
                      background-color: orange !important;
                      color: orange;
                    }
                      .carousel-control-prev:hover, .carousel-control-next:hover{
                      background-color: orange !important;
                      color: orange;
                    }
                    .carousel-item{
                      background-color: orange !important;
                    }

                </style>
                <div class="grid portfolio row aos-init aos-animate grid-container" data-aos="fade-up" data-aos-delay="100">
                <ul class="vacancy_lists" style="display: grid; grid-template-columns: auto auto auto; grid-gap: 20px;">
                  <li>
                    <div class="new fintech machine-learning smart-city  android-app mobile-apps react-js react-native-app grid-item">
                      <a href="casestudy/gocurb" class="">
                        <h3><span id=gocurb>Gocurb</span></h3>
                        <p>Gocurb is reimagining urban mobility. We are creating a comprehensive mobility platform and providing</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                   </div>
                 </li>
                  <li>
                    <div class="new  automation specialities-and-services  devops grid-item">
                      <a href="casestudy/cialfo" class=" ">
                        <h3>Cialfo</h3>
                        <p>We support high school students and their counselors throughout the early career exploration and college search</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  fintech specialities-and-services  blockchain react-js grid-item">
                      <a href="/casestudy/mission" class=" ">
                        <h3>MISSON</h3>
                        <p>Leveraged Smart Contracts to enable direct &amp; secure payments with reduced gas burn.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  entertainment music-entertainment  angular-js blockchain web-apps grid-item">
                      <a href="/casestudy/roostify " class=" ">
                        <h3>Roostify</h3>
                        <p>Veraticket builds an NFT ticketing platform to buy, sell and trade event tickets.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  entertainment music-entertainment social-networking  blockchain grid-item">
                      <a href="/casestudy/first_partition " class=" ">
                        <h3>First Partation</h3>
                        <p>Architecture consultation to roll out blockchain-based reward points for Football Fans.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  health-fitness  android-app react-native-app grid-item">
                      <a href="/casestudy/builder" class=" ">
                        <h3>Builder</h3>
                        <p>Our mission is to make it easy for you to build the software you need. Everyone should be able to do it </p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  e-commerce shopping-app  react-native-app grid-item">
                      <a href="/casestudy/knotch" class=" ">
                        <h3>Knotch</h3>
                        <p>Giving a gift has never been this easy. With just a few taps, send the perfect gift to your close ones.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  iot machine-learning  django iot node python react-js grid-item">
                      <a href="#" class="">
                        <h3>Person App</h3>
                        <p>An IoT building intelligence system that picks up the temperature, humidity, and gas increases in buildings.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  fintech  android-app angular-js django node react-js grid-item">
                      <a href="/casestudy/horticult" class="">
                        <h3>Hoticult</h3>
                        <p> We’re driven by the common, underlying passion for gardening in each one of us. Plants give so much to us.</p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="new  entertainment social-networking  android-app grid-item">
                      <a href="/casestudy/inkl" class="">
                        <h3>Inkl</h3>
                        <p>We created inkl to solve two bedrock problems in the world today. We say “bedrock" because we see these two problems as the foundation for a much larger array of macroeconomic and social issues. </p>
                        <p class="text-right mb-0"><%= image_tag "slide-next-pure-white.png", alt: "Link Arrow"%></p>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: "home/footer" %>  
  </body>
</html>
  <style>
     .grid-item{
    
      background-color:   #FFFAFA;
     }
      .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
      }
      .reveal.active{
      transform: translateY(0);
      opacity: 1;
      }
      filter-button-group .btn {
      font-weight: 500 !important;
      font-family: 'Muli', sans-serif !important;
      }
      .primary-btn {
      color: #b0b0b0;
      border: 2px solid #b0b0b0;
      font-weight: 600;
      transition: all .2s ease-in;
      }
      .btn {
      display: inline-block;
      background: 0 0;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 0;
      }
      .mright15 {
      margin-right: 15px;
      }
      .mbottom20 {
      margin-bottom: 20px!important;
      }
      .text-capitalize {
      text-transform: capitalize!important;
      }
      a, a:visited{
      text-decoration: none;
      }
      .header__menu .nav-link {
    color: #373737;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 27px 10px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    }
    
    
    </style>