    <%= render 'header'%>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<div id="accordion" class="mega-menu-section" style="display: none">
  <div class="tab-heading-link">
    <a href="#">What We Do</a>
  </div>
  <!-- Mobile App Development -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
          <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
          Mobile App Development
        </a> -->

        <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="menuIcon"><img src="./services_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>
          <img src="./services_files/down-arrow.svg" alt="Navigation">
        </button>
      </h5>
    </div>
  </div>
  <!-- Web Development -->
  <!-- Zoho Offering -->
  <!-- Digital Marketing -->
  <!-- Devops -->
  <!-- Data Engineering -->
  <!-- Innovation -->
  <!-- QA -->
  <!-- QA -->
  <!-- Consulting Services -->
  <!-- Staff Augmentation -->
  <!-- Support and Maintenance Desk -->
  <!--  -->
</div>


<!--End of Tawk.to Script-->
           <!--/?php include 'includes/contact-popup.php'; ?-->
    
    <div class="colored-full-width carribean-green-bg inner-banner">
        <div class="container">
            <section class="banner apd-banner" >
                <div class="row">
                <div class="col-md-4 col-sm-5 ">
                    <%= image_tag "laptop.png",alt: "JMW -About Us - Who we are ",title: "JMW - About Us - Who We Are" %>
                </div>
                <!-- LETTER BOX -->
                <div class="col-md-8 col-sm-7 pl-lg-5 ">
                    <h1 class="text-wrap mb-2 mb-lg-4">Unlock the <br><span class="servicedot">Next Stage of Digitalisation </span></h1>
                    <p class="mb-20">We offer enterprise-class IT and software development services to a variety of organisations. We are a technology powerhouse geared to add value to the digital ecosystem via agile web and mobile app development services.</p>
                </div>
                <!-- BANNER CONTENT -->
                </div>
            </section>
        </div>
    </div>
<section class="container">
        <!-- BANNER SECTION START -->
        <div class="banner content muli-family ">
            <div class="row mobile-swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">Mobile App Development Services.</h3>
                    <p class="mbottom20">It’s no surprise we have been recognised as a Top Mobile App Development Service Provider in india, Clutch and AppFutura consistently for many years. We help convert ideas into profitable businesses by leveraging our technical expertise along with business know-how.</p>
                    <%= link_to "Know More", mobile_app_development_path, class: "btn black-btn text-uppercase filled-btn mt-3" %>
                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1">
                   <%= image_tag "mobile-development.png" ,class: "img-fluid-ipad",alt: "Mobile App Development Service" %>

                </div>

            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 flex-md-row pt-60">
                <div class="col-md-5 aos-init">
                   <%= image_tag "web-development.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
                <div class="col-md-7 col-xl-6 offset-xl-1 aos-init">
                    <h3 class="">Web Development Services.</h3>
                    <p class="mbottom20">We have worked with the <a href="https://www.upshiftcars.com/" class="coal-black">Upshift cars</a>, <a href="https://www.inkl.com/glance" class="coal-black">Inkl</a> &amp; <a href="https://www.builder.ai/" class="coal-black">Builder</a> to craft elegant, flawless web experiences used by millions of people. We build responsive websites, progressive web applications that work seamlessly across devices.</p>

                    <p class="mbottom20">We use:</p>

                    <span class="d-block"><a class="tag disabled-tag d-inline-block">Backend - Python, Ruby on Rails (RoR), Node, Java, PHP </a>
                    <a class="tag disabled-tag d-inline-block">Front end - React, Angular, Vue </a></span>

                    <p class="mbottom20">We love Java Script and experimenting in house<a href="" target="_blank" class="coal-black"></a>.</p>
                    <%= link_to "Know More", web_development_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>

                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 pt-60 mobile-swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">DevOps (a portmanteau of “development” and “operations”)</h3>
                    <p class="mbottom20">Our devops consulting services help introduce best practices for security, deployments, and enable constant monitoring of your production environment. This allows us to make your production environment stable and faster and enable risk free multiple deployments throughout the day without causing any outages. As a top devops service provider, we review your current state of production, identify gaps and deviations from best practices, create action plans for long-term success and execute.</p>
                    <a class="tag d-inline-block" href="#">DevOps <img src="./services_files/right-arrow.svg" alt=""></a><br>
                    <%= link_to "Know More", devops_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>
                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1 aos-init">
                    <%= image_tag "enterprise-img-1.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 flex-md-row mobile_ptt pt-60">
                <div class="col-md-5 col-xl-5 aos-init">
                  <%= image_tag "enterprise-img-1.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
                <div class="col-md-7 col-xl-6 offset-xl-1 aos-init">
                    <h3 class="">Quality Assurance (Q&A)</h3>
                    <p class="mbottom20">As a top-tier Quality Assurance consultancy, we offer the full spectrum of software testing services, from designing a coherent QA strategy doing functionality and performance testing to regression, automation, and localization to establishing company-wide code standards and providing ongoing support. Our team of QA consultants, Software Testing engineers are perfectly equipped to solve the most complex QA tasks, bringing you tangible business value.</p>

                    <span class="d-block">
                    <a class="tag d-inline-block" href="#">QA <img src="./services_files/right-arrow.svg" alt=""></a>
                    </span>
                    <%= link_to "Know More", quality_assurance_consultancy_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>

                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->
        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 pb-5 pt-60 mobile-swap last_swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">Digital Marketing Services.</h3>
                    <p class="mbottom20">Our in-house digital marketing specialists work as growth hackers to help you build a digital marketing strategy that’s cost-effective, helps acquire customers and retain them. We help you define your USP, build your brand, reach your target audience, get leads and increase your revenue. We have generated more than $1M/month in sales for our partners.</p>

                    <span class="d-block">
                    <a class="tag disabled-tag d-inline-block">Mobile Advertising </a>
                    </span>

                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1 aos-init">
                    <%= image_tag "digital-marketing.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->
    </section>
<!-- FOOTER -->
<%= render 'footer'%>
<!-- Mainly scripts -->

<style>
  .banner h1, .banner h2.heading-copy {
    font-size: 56px;
    letter-spacing: 0;
    position: relative;
    }
    .body-cover{
      position: relative;
      top: 150px;
      }
      .inner-banner {
    margin-top: 119px;
    background-color: #f0822c45;
}
</style>
<style>
    .black-btn.filled-btn {
    background: #212126;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding: 12px;
</style>



