<!DOCTYPE html>
<!-- saved from url=(0037)https://www.JMW.com/our-services -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Google Tag Manager -->
<script src="./services_files/twk-main.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/twk-vendor.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/twk-chunk-vendors.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/twk-chunk-common.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/twk-runtime.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/twk-app.js" charset="UTF-8" crossorigin="*"></script><script src="./services_files/f.txt"></script><script async="" src="./services_files/default" charset="UTF-8-no BOM" crossorigin="*"></script><script src="./services_files/f(1).txt" id="google_shimpl"></script><script type="text/javascript" async="" src="./services_files/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-vs3dl3wt0sr1NSmWE/o2E71r7EDd6e3fFXEmu4tyET7uqtZw1URcwd3+DYJQtrMg"></script><script type="text/javascript" async="" src="./services_files/js"></script><script type="text/javascript" async="" src="./services_files/insight.min.js"></script><script type="text/javascript" async="" src="./services_files/f(2).txt"></script><script type="text/javascript" async="" src="./services_files/analytics.js"></script><script async="" src="./services_files/gtm.js"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W5VBC5M');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="dhn7p_9so7wIXbOTxjcgi-KWfn6gGCdvncCmZnF6dt8">

    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <title>Software Development Services | Web &amp; Mobile App Experts | JMW</title>

    <link rel="shortcut icon" href="https://www.JMW.com/img/favicon.ico">

    <meta name="robots" content="index, follow">
    <meta name="description" content="JMW offers end-to-end IT development and consulting services to boost the growth &amp; revenue of all-sized businesses. Check our specialised services today!">

    <link rel="canonical" href="https://www.JMW.com/our-services">
    <link href="./services_files/css" rel="stylesheet" hreflang="en">

    <link href="./services_files/minified-plugins.min.css" rel="stylesheet" hreflang="en">
    <link href="./services_files/style.css" rel="stylesheet" hreflang="en">
    <link href="./services_files/ie-specific.css" rel="stylesheet" hreflang="en">
    <link href="./services_files/safari-specific.css" rel="stylesheet" hreflang="en">
    <link href="./services_files/responsive.css" rel="stylesheet" hreflang="en">

    <link href="./services_files/hover-min.css" rel="stylesheet" hreflang="en">

    <link href="./services_files/apd-style.css" rel="stylesheet" hreflang="en">
    <link href="./services_files/apd-responsive.css" rel="stylesheet" hreflang="en">


    <script type="application/ld+json">{
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Software Development Services | Web & Mobile App Experts | JMW",
      "url": "https://www.JMW.com/our-services",
      "description": "JMW offers end-to-end IT development and consulting services to boost the growth & revenue of all-sized businesses. Check our specialised services today!"
    }</script>

    <meta property="og:title" content="Software Development Services | Web &amp; Mobile App Experts | JMW">
    <meta property="og:site_name" content="JMW">
    <meta property="og:url" content="https://www.JMW.com/our-services">
    <meta property="og:description" content="JMW offers end-to-end IT development and consulting services to boost the growth &amp; revenue of all-sized businesses. Check our specialised services today!">
    <meta property="og:image" content="https://JMW.com/img/logo-dark.png">

    <meta property="twitter:title" content="Software Development Services | Web &amp; Mobile App Experts | JMW">
    <meta property="twitter:site_name" content="JMW">
    <meta property="twitter:domain" content="https://www.JMW.com/our-services">
    <meta property="twitter:description" content="JMW offers end-to-end IT development and consulting services to boost the growth &amp; revenue of all-sized businesses. Check our specialised services today!">
    <meta property="twitter:image" content="https://JMW.com/img/logo-dark.png">
    <link rel="stylesheet" href="./services_files/our-services-style.css" hreflang="en">
    <!-- <link rel="stylesheet" href="<//?php echo  $base_url; ?>css/our-services-style-new.css" hreflang="en" /> -->


<meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><script type="text/javascript" async="" src="./services_files/f(3).txt"></script><meta http-equiv="origin-trial" content="A+cA2PUOfIOKAdSDJOW5CP9ZlxONy1yu+hqAq72zUtKw4rLdihqRp6Nui/jUyCyegr+BUtH+C+Elv0ufn05yBQEAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="A+zsdH3aNZT/bkjT8U/o5ACzyaeNYzTvtoVmwf/KOilfv39pxY2AIsOwhQJv+YnXp98i3TqrQibIVtMWs5UHjgoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><meta http-equiv="origin-trial" content="AxceVEhIegcDEHqLXFQ2+vPKqzCppoJYsRCZ/BdfVnbM/sUUF2BXV8lwNosyYjvoxnTh2FC8cOlAnA5uULr/zAUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="><link rel="preload" href="./services_files/f(4).txt" as="script"><script type="text/javascript" src="./services_files/f(4).txt"></script><link rel="preload" href="./services_files/f(5).txt" as="script"><script type="text/javascript" src="./services_files/f(5).txt"></script></head>
<body class="inner-page our-service absoulte-header" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

<!-- eedd Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5VBC5M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
<script src="./services_files/minified-plugins.min.js"></script>
<script defer="" src="./services_files/api.js" async=""></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js" async></script> -->
<script src="./services_files/additional-methods.min.js" async=""></script>
<script async="" src="./services_files/f(6).txt" crossorigin="anonymous" data-checked-head="true"></script>
<div class="body-cover">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">


    <%= render 'header'%>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<div id="accordion" class="mega-menu-section" style="display: none">
  <div class="tab-heading-link">
    <a href="#">What We Do</a>
    <span class="close_menu">
      <img src="./services_files/close.svg" width="12" alt="Close">
    </span>
  </div>
  <!-- Mobile App Development -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <!-- <a class="link-site" href="<//?php echo  $base_url; ?>services/mobile-app-development">
          <span class="menuIcon"><img src="<//?php echo  $base_url; ?>img/mega-menu/mobile-app.svg" alt=""></span>
          Mobile App Development
        </a> -->

        <button class="btn btn-link down_collapse collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="menuIcon"><img src="./services_files/mobile-app.svg" alt="Mobile App Development"> Mobile App Development</span>

          <img src="./services_files/down-arrow.svg" alt="Navigation">
        </button>
      </h5>
    </div>
  </div>
  <!-- Web Development -->
  <!-- Zoho Offering -->
  <!-- Digital Marketing -->
  <!-- Devops -->
  <!-- Data Engineering -->
  <!-- Innovation -->
  <!-- QA -->
  <!-- QA -->
  <!-- Consulting Services -->
  <!-- Staff Augmentation -->
  <!-- Support and Maintenance Desk -->
  <!--  -->
</div>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<script>
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e327fcddaaca76c6fd0907d/default';
s1.charset='UTF-8-no BOM';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

$(document).ready(function(){
  $(".close_menu").click(function(){
    $(".mega-menu-section").hide();
  });
  $(".open_megaMenu").click(function(){
    $(".mega-menu-section").show();
  });
});


$('.collapse').collapse({
  toggle: false
})
</script>
<!--End of Tawk.to Script-->
           <!--/?php include 'includes/contact-popup.php'; ?-->
    <svg width="0" height="0" class="d-none">
        <symbol viewBox="0 0 22 12" xmlns="https://www.w3.org/2000/svg" id="arrow-right">
            <path d="M21.748 5.392V5.39L17.256.922a.86.86 0 0 0-1.213 1.218l3.015 3H.86a.86.86 0 1 0 0 1.72h18.2l-3.015 3a.86.86 0 1 0 1.213 1.218l4.49-4.469h.001a.86.86 0 0 0 0-1.217z"></path>
        </symbol>
    </svg>
    <div class="colored-full-width carribean-green-bg inner-banner">
        <div class="container">
            <section class="banner apd-banner updated-banner aos-init aos-animate" >
                <div class="row">
                <div class="col-md-4 col-sm-5 text-center lighter aos-init aos-animate">
                    <%= image_tag "laptop.png",alt: "JMW -About Us - Who we are ",title: "JMW - About Us - Who We Are" %>
                </div>
                <!-- LETTER BOX -->
                <div class="col-md-8 col-sm-7 pl-lg-5 aos-init aos-animate">
                    <h1 class="text-wrap mb-2 mb-lg-4">Unlock the <br><span class="servicedot">Next Stage of Digitalisation </span></h1>
                    <p class="mb-20">We offer enterprise-class IT and software development services to a variety of organisations. We are a technology powerhouse geared to add value to the digital ecosystem via agile web and mobile app development services.</p>
                </div>
                <!-- BANNER CONTENT -->
                </div>
            </section>
        </div>
    </div>
<section class="container big-container">
        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row mobile-swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">Mobile App Development Services.</h3>
                    <p class="mbottom20">It’s no surprise we have been recognised as a Top Mobile App Development Service Provider in London by GoodFirms, Clutch and AppFutura consistently for many years. We help convert ideas into profitable businesses by leveraging our technical expertise along with business know-how.</p>
                    <%= link_to "Know More", services_mobile_app_development_path, class: "btn black-btn text-uppercase filled-btn mt-3" %>
                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1 aos-init">
                   <%= image_tag "mobile-development.png" ,class: "img-fluid-ipad",alt: "Mobile App Development Service" %>

                </div>

            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 flex-md-row pt-60">
                <div class="col-md-5 aos-init">
                   <%= image_tag "web-development.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
                <div class="col-md-7 col-xl-6 offset-xl-1 aos-init">
                    <h3 class="">Web Development Services.</h3>
                    <p class="mbottom20">We have worked with the likes of Disney, <a href="#" class="coal-black">Grindr</a>, <a href="#" class="coal-black">UberConference by Dialpad</a> &amp; <a href="#" class="coal-black">Porsche</a> to craft elegant, flawless web experiences used by millions of people. We build responsive websites, progressive web applications that work seamlessly across devices.</p>

                    <p class="mbottom20">We use:</p>

                    <span class="d-block"><a class="tag disabled-tag d-inline-block">Backend - Python, Ruby on Rails (RoR), Node, Java, PHP </a>
                    <a class="tag disabled-tag d-inline-block">Front end - React, Angular, Vue </a></span>

                    <p class="mbottom20">We love Java Script and experimenting in house, check our most recent experiment - PWA <a href="#" target="_blank" class="coal-black">Color Trouble</a>.</p>
                    <%= link_to "Know More", services_web_development_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>

                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 pt-60 mobile-swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">DevOps (a portmanteau of “development” and “operations”)</h3>
                    <p class="mbottom20">Our devops consulting services help introduce best practices for security, deployments, and enable constant monitoring of your production environment. This allows us to make your production environment stable and faster and enable risk free multiple deployments throughout the day without causing any outages. As a top devops service provider, we review your current state of production, identify gaps and deviations from best practices, create action plans for long-term success and execute.</p>
                    <a class="tag d-inline-block" href="#">DevOps <img src="./services_files/right-arrow.svg" alt=""></a><br>
                    <%= link_to "Know More", services_devops_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>
                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1 aos-init">
                    <%= image_tag "enterprise-img-1.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->

        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 flex-md-row mobile_ptt pt-60">
                <div class="col-md-5 col-xl-5 aos-init">
                  <%= image_tag "enterprise-img-1.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
                <div class="col-md-7 col-xl-6 offset-xl-1 aos-init">
                    <h3 class="">Quality Assurance (Q&A)</h3>
                    <p class="mbottom20">As a top-tier Quality Assurance consultancy, we offer the full spectrum of software testing services, from designing a coherent QA strategy doing functionality and performance testing to regression, automation, and localization to establishing company-wide code standards and providing ongoing support. Our team of QA consultants, Software Testing engineers are perfectly equipped to solve the most complex QA tasks, bringing you tangible business value.</p>

                    <span class="d-block">
                    <a class="tag d-inline-block" href="#">QA <img src="./services_files/right-arrow.svg" alt=""></a>
                    </span>
                    <%= link_to "Know More", services_quality_assurance_consultancy_path, class: "btn black-btn text-uppercase filled-btn mt-0" %>

                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->
        <!-- BANNER SECTION START -->
        <div class="banner content muli-family alternate-section">
            <div class="row pt-5 pb-5 pt-60 mobile-swap last_swap">
                <div class="col-md-7 col-xl-6 aos-init">
                    <h3 class="">Digital Marketing Services.</h3>
                    <p class="mbottom20">Our in-house digital marketing specialists work as growth hackers to help you build a digital marketing strategy that’s cost-effective, helps acquire customers and retain them. We help you define your USP, build your brand, reach your target audience, get leads and increase your revenue. We have generated more than $1M/month in sales for our partners.</p>

                    <span class="d-block">
                    <a class="tag disabled-tag d-inline-block">Mobile Advertising </a>
                    </span>

                </div>
                <div class="col-md-5 col-xl-5 offset-xl-1 aos-init">
                    <%= image_tag "digital-marketing.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                </div>
            </div>
        </div>
        <!-- BANNER SECTION END -->
    </section>

    <section class="colored-full-width pt-5 pb-4 carribean-green-bg" id="nextGeneration">
        <div class="container big-container">
            <div class="banner content muli-family alternate-section">
                <div class="row">
                    <div class="col-md-5 aos-init">
                        <%= image_tag "person-pic.png" ,class: "img-fluid-ipad",alt: "Web Development Service" %>
                    </div>
                    <div class="col-md-7 pl-lg-5 pr-lg-5 d-flex justify-content-center flex-column aos-init" >
                        <h3 class="text-white">Next-Generation Technologies.</h3>
                        <p class="mbottom20 text-white pr-5 mt-0 mt-sm-3 pr-remove">We have a research and development team that loves experimenting with emerging tech and ensures that stack is stable enough to be used for real-life projects in production. We love what we do and is reflected by the choices we make.</p>
                    </div>
                </div>

                <div class="row pt-5 mt-5 remove-mobile-pt aos-init">
                    <div class="col-md-4 d-flex align-items-center pl-md-0">
                        <h3 class="text-white">Check out our <br>work for:<br>
                          <%= image_tag "link-right-arrow-big.png" ,class: "w-auto",alt: "Check our work for " %>
                          </h3>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-bottom-0 border-right-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column hover_link" onclick="window.location.href = &#39;https://www.com/services/iot-app-development&#39;;">
                            <h2>IOT Apps</h2>
                            <span class="d-block text-center">
                                <a class="tag d-inline-block carribean-green">SmilePass</a>
                                <a class="tag disabled-tag d-inline-block">Freebris</a>
                                <a class="tag d-inline-block carribean-green">Freat Zealot</a>
                            </span>
                            <a class="btn black-btn filled-btn"><svg class="icon"><use xlink:href="#arrow-right"></use></svg></a>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-bottom-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column">
                            <h2>Blockchain</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block">Glyph</a>
                                <a class="tag disabled-tag d-inline-block">Loadblock</a>
                                <a class="tag disabled-tag d-inline-block">IPCOINS</a>
                                <a class="tag disabled-tag d-inline-block">Aerios</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-bottom-0 border-right-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column">
                            <h2>AR/VR</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block">Home.com.au</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-bottom-0 border-right-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column">
                            <h2>Chatbots</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block">Boxspringentertainment</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-bottom-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column hover_link" onclick="window.location.href = &#39;https://www.com/services/artifical-intelligence-machine-learning&#39;;">
                            <h2>AI / Machine Learning / Natural Language Processing</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block carribean-green">Waitlist</a>
                            </span>
                            <a class="btn black-btn filled-btn"><svg class="icon"><use xlink:href="#arrow-right"></use></svg></a>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-right-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column">
                            <h2>Robotic Process<br> Automation (RPA)</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block">Deloitte</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0 border-right-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column">
                            <h2>QA Automation -<br> Mobile &amp; Web</h2>
                            <span class="d-block text-center">
                                <a class="tag disabled-tag d-inline-block">VYNG</a>
                                <a class="tag disabled-tag d-inline-block carribean-green">Waitlist</a>
                                <a class="tag disabled-tag d-inline-block">Youtility</a>
                                <!-- <a class="tag disabled-tag d-inline-block">Meetopolis</a> -->
                                <a class="tag d-inline-block carribean-green">Strata Alert</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 bordered-box d-flex p-0">
                        <div class="hovered-box w-100 d-flex justify-content-center align-items-center flex-column hover_link" onclick="window.location.href = &#39;https://www.com/services/devops&#39;;">
                            <h2>DevOps</h2>
                            <span class="d-block text-center">
                                <a class="tag d-inline-block carribean-green">Strat-O-Matic</a>
                                <a class="tag disabled-tag d-inline-block carribean-green">FutureBricks</a>
                                <a class="tag disabled-tag d-inline-block">Youtility</a>
                                <a class="tag d-inline-block carribean-green">Strata Alert</a>
                                <a class="tag d-inline-block carribean-green">Fret Zealot</a>
                            </span>
                            <a class="btn black-btn filled-btn"><svg class="icon"><use xlink:href="#arrow-right"></use></svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- FOOTER -->
<%= render 'footer'%>
    <div id="scrollToTop" class="scroll-top" style="display: none;"><img loading="lazy" src="./services_files/scroll-top.png" alt="Back to Top" title="Back to Top"></div>
  </div><ins class="adsbygoogle adsbygoogle-noablate" style="display: none !important;" data-adsbygoogle-status="done" data-ad-status="unfilled"><div id="aswift_0_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;"><iframe id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="./services_files/ads.html" data-google-container-id="a!1" data-load-complete="true"></iframe></div></ins>

    <script src="./services_files/jquery-ui.min.js"></script>
    <script src="./services_files/jquery.ui.touch-punch.min.js"></script>








<!-- Mainly scripts -->
<script src="./services_files/script.js"></script>
<script>
    $(document).ready(function() {
$('a[href^="#"]').click(function(event) {
var id = $(this).attr("href");
var offset = 180;
var target = $(id).offset().top - offset;

$('html, body').animate({scrollTop:target}, 500);
event.preventDefault();
});
});
    // $(document).ready(function(){
    //     console.log(window.location.href);
    //     url = window.location.href
    // });
</script>
<style>
  .banner h1, .banner h2.heading-copy {
    font-size: 56px;
    letter-spacing: 0;
    position: relative;
    }
    .body-cover{
      position: relative;
      top: 150px;
      }
</style>


<script async="" charset="UTF-8" src="./services_files/en.js"></script><iframe src="./services_files/aframe.html" width="0" height="0" style="display: none;"></iframe></body><iframe id="google_esf" name="google_esf" src="./services_files/zrt_lookup.html" style="display: none;"></iframe></html>
