<%= form_for([:admin, @blog]) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', maxlength: 30 %>
    <small> (Title should not be more than 30 character) </small>
  </div>
    <div class="form-group col-sm-12">
      <%= f.label :content %>
      <%= f.trix_editor :content, required: true, autofocus: true %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  <div class="form-actions">
    <%= f.submit  class: 'btn btn-primary' %>
  </div>

<% end %>

<style type="text/css">
#trix-toolbar-1 > div.trix-button-row > span.trix-button-group.trix-button-group--file-tools > button
{
  display: none;
}
/*.trix-button-group-spacer{
  display: none;
}*/
</style>
